adminusuarios/mda/src/wsdl/SrvAlbumService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvAlbumService" 
    targetNamespace="http://servicios.negocio.publicacion.pode.es"
    xmlns:impl="http://servicios.negocio.publicacion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.publicacion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="altaAlbum">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método da de alta un album a un usuario.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Título del album.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="descripcion" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Descripción del album.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario de creación del album.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="altaAlbumResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="altaAlbumReturn" type="impl:ResultadoOperacionAlbumVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="asociarODEAlbum">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método asocia un ODE en estado de creación o rechazado a un
                        album. El usuario que lo crea y el creador del album tienen que
                        ser el mismo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    identificador del ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario que realiza la operación de asociación,.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idAlbum" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del album al que se quiere asociar el ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="asociarODEAlbumResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="asociarODEAlbumReturn" type="impl:TransicionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="bajaAlbum">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método da de baja un album de un usuario.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idAlbum" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identiifcador del album que se quiere dar de baja. La operación
                                    da de baja del album a todos los ODEs que estan asociados.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="bajaAlbumResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bajaAlbumReturn" type="impl:ResultadoOperacionAlbumVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="desasociarODEAlbum">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método desasocia un ODE de la asociación con su album.
                        Devolvemos el ODE sin el album.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del ODE del que se quiere eliminar la asociación
                                    con el album.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="desasociarODEAlbumResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="desasociarODEAlbumReturn" type="impl:TransicionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarAlbumesUsuarios">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina los Albumes de los usuarios pasados como parámetro
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuarios" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificadores de los usuarios cuyos ODEs se desean eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarAlbumesUsuariosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarAlbumesUsuariosReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificaAlbum">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método modifica un album de un usuario.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idAlbum" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del album que se quiere modificar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Titulo del album que se quiere modificar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="descripcion" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Descripción del album que se quiere modificar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificaAlbumResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificaAlbumReturn" type="impl:ResultadoOperacionAlbumVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenAlbumesPorUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método devuelve los álbumes creados por el usuairo dado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario de creación de los álbumes.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenAlbumesPorUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenAlbumesPorUsuarioReturn" type="impl:ArrayOfAlbumVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerAlbumPorId">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve el album que esta asociado al identificador
                        que le pasan. Si el album no existe, se devuelve null.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idAlbum" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del album del que se quiere la información.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerAlbumPorIdResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerAlbumPorIdReturn" type="impl:AlbumVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenOdesPorAlbum">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método devuelve los ODEs que creados o rechazados que están
                        en el album que le pasan.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idAlbum" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador del album del que se quieren averiguar los ODEs.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenOdesPorAlbumResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenOdesPorAlbumReturn" type="impl:ArrayOfTransicionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenOdesSinAlbum">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo recupera los ODEs que estando en estado CREADO o
                        RECHAZADO están en la carpeta de objetos personales del usuairo
                        que le pasan y no están clasificados dentro de ningún album.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario del que queremos saber sus ODEs sin album.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenOdesSinAlbumResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenOdesSinAlbumReturn" type="impl:ArrayOfTransicionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="AlbumVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del album.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Título del album.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripción del album.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Usuario de creación del album.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaCreacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de creacion del album.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="odes" nillable="true" type="impl:ArrayOfTransicionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfAlbumVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:AlbumVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EstadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del Estado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="clave" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Clave del estado.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoOperacionAlbumVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idResultado" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador alfanumerico del tipo de incidencia que se ha
                                detectado y que se reporta
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del resultado de la operacion que se ha realizado.
                                Se devuelve internacionalizada al idioma en el que se realiza la
                                petición.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="album" nillable="false" type="impl:AlbumVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Album del que se reporta el resultado de la operacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTransicionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TransicionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TransicionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase almacena la informacion de transicion entre estados
                        de cada ODE almacenado en la plataforma.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del ODE al que hace referencia la transicion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comentarios" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Los comentarios de la transicion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La fecha de la transicion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE, en caso de tenerlo.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idUsuario" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del usuario.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="compartido" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Un boolean para saber si el ODE ha sido compartido
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estadoActual" nillable="false" type="impl:EstadoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="estadoTransitado" nillable="true" type="impl:EstadoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="album" nillable="true" type="impl:AlbumVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTransicionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TransicionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="altaAlbum1Request">
        <wsdl:part element="impl:altaAlbum" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="altaAlbum1Response">
        <wsdl:part element="impl:altaAlbumResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="asociarODEAlbum2Request">
        <wsdl:part element="impl:asociarODEAlbum" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="asociarODEAlbum2Response">
        <wsdl:part element="impl:asociarODEAlbumResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="bajaAlbum3Request">
        <wsdl:part element="impl:bajaAlbum" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="bajaAlbum3Response">
        <wsdl:part element="impl:bajaAlbumResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="desasociarODEAlbum4Request">
        <wsdl:part element="impl:desasociarODEAlbum" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="desasociarODEAlbum4Response">
        <wsdl:part element="impl:desasociarODEAlbumResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarAlbumesUsuarios5Request">
        <wsdl:part element="impl:eliminarAlbumesUsuarios" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarAlbumesUsuarios5Response">
        <wsdl:part element="impl:eliminarAlbumesUsuariosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificaAlbum6Request">
        <wsdl:part element="impl:modificaAlbum" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificaAlbum6Response">
        <wsdl:part element="impl:modificaAlbumResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenAlbumesPorUsuario7Request">
        <wsdl:part element="impl:obtenAlbumesPorUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenAlbumesPorUsuario7Response">
        <wsdl:part element="impl:obtenAlbumesPorUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerAlbumPorId8Request">
        <wsdl:part element="impl:obtenerAlbumPorId" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerAlbumPorId8Response">
        <wsdl:part element="impl:obtenerAlbumPorIdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenOdesPorAlbum9Request">
        <wsdl:part element="impl:obtenOdesPorAlbum" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenOdesPorAlbum9Response">
        <wsdl:part element="impl:obtenOdesPorAlbumResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenOdesSinAlbum10Request">
        <wsdl:part element="impl:obtenOdesSinAlbum" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenOdesSinAlbum10Response">
        <wsdl:part element="impl:obtenOdesSinAlbumResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvAlbumService">
        <wsdl:operation name="altaAlbum">
                
            <wsdl:documentation> 
                Este método da de alta un album a un usuario.
            </wsdl:documentation>
            <wsdl:input message="impl:altaAlbum1Request" 
                        name="altaAlbum1Request"/>
            <wsdl:output message="impl:altaAlbum1Response" 
                         name="altaAlbum1Response"/>
        </wsdl:operation>
        <wsdl:operation name="asociarODEAlbum">
                
            <wsdl:documentation> 
                Este método asocia un ODE en estado de creación o rechazado a un
                album. El usuario que lo crea y el creador del album tienen que
                ser el mismo.
            </wsdl:documentation>
            <wsdl:input message="impl:asociarODEAlbum2Request" 
                        name="asociarODEAlbum2Request"/>
            <wsdl:output message="impl:asociarODEAlbum2Response" 
                         name="asociarODEAlbum2Response"/>
        </wsdl:operation>
        <wsdl:operation name="bajaAlbum">
                
            <wsdl:documentation> 
                Este método da de baja un album de un usuario.
            </wsdl:documentation>
            <wsdl:input message="impl:bajaAlbum3Request" 
                        name="bajaAlbum3Request"/>
            <wsdl:output message="impl:bajaAlbum3Response" 
                         name="bajaAlbum3Response"/>
        </wsdl:operation>
        <wsdl:operation name="desasociarODEAlbum">
                
            <wsdl:documentation> 
                Este método desasocia un ODE de la asociación con su album.
                Devolvemos el ODE sin el album.
            </wsdl:documentation>
            <wsdl:input message="impl:desasociarODEAlbum4Request" 
                        name="desasociarODEAlbum4Request"/>
            <wsdl:output message="impl:desasociarODEAlbum4Response" 
                         name="desasociarODEAlbum4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarAlbumesUsuarios">
                
            <wsdl:documentation> 
                Elimina los Albumes de los usuarios pasados como parámetro
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarAlbumesUsuarios5Request" 
                        name="eliminarAlbumesUsuarios5Request"/>
            <wsdl:output message="impl:eliminarAlbumesUsuarios5Response" 
                         name="eliminarAlbumesUsuarios5Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificaAlbum">
                
            <wsdl:documentation> 
                Este método modifica un album de un usuario.
            </wsdl:documentation>
            <wsdl:input message="impl:modificaAlbum6Request" 
                        name="modificaAlbum6Request"/>
            <wsdl:output message="impl:modificaAlbum6Response" 
                         name="modificaAlbum6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenAlbumesPorUsuario">
                
            <wsdl:documentation> 
                Este método devuelve los álbumes creados por el usuairo dado.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenAlbumesPorUsuario7Request" 
                        name="obtenAlbumesPorUsuario7Request"/>
            <wsdl:output message="impl:obtenAlbumesPorUsuario7Response" 
                         name="obtenAlbumesPorUsuario7Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerAlbumPorId">
                
            <wsdl:documentation> 
                Este metodo devuelve el album que esta asociado al identificador
                que le pasan. Si el album no existe, se devuelve null.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerAlbumPorId8Request" 
                        name="obtenerAlbumPorId8Request"/>
            <wsdl:output message="impl:obtenerAlbumPorId8Response" 
                         name="obtenerAlbumPorId8Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenOdesPorAlbum">
                
            <wsdl:documentation> 
                Este método devuelve los ODEs que creados o rechazados que están
                en el album que le pasan.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenOdesPorAlbum9Request" 
                        name="obtenOdesPorAlbum9Request"/>
            <wsdl:output message="impl:obtenOdesPorAlbum9Response" 
                         name="obtenOdesPorAlbum9Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenOdesSinAlbum">
                
            <wsdl:documentation> 
                Este metodo recupera los ODEs que estando en estado CREADO o
                RECHAZADO están en la carpeta de objetos personales del usuairo
                que le pasan y no están clasificados dentro de ningún album.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenOdesSinAlbum10Request" 
                        name="obtenOdesSinAlbum10Request"/>
            <wsdl:output message="impl:obtenOdesSinAlbum10Response" 
                         name="obtenOdesSinAlbum10Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvAlbumServiceSoapBinding" type="impl:SrvAlbumService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="altaAlbum">
            <wsdlsoap:operation soapAction="altaAlbum" style="document"/>
            <wsdl:input name="altaAlbum1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="altaAlbum1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="asociarODEAlbum">
            <wsdlsoap:operation soapAction="asociarODEAlbum" style="document"/>
            <wsdl:input name="asociarODEAlbum2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="asociarODEAlbum2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="bajaAlbum">
            <wsdlsoap:operation soapAction="bajaAlbum" style="document"/>
            <wsdl:input name="bajaAlbum3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="bajaAlbum3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="desasociarODEAlbum">
            <wsdlsoap:operation soapAction="desasociarODEAlbum" style="document"/>
            <wsdl:input name="desasociarODEAlbum4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="desasociarODEAlbum4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarAlbumesUsuarios">
            <wsdlsoap:operation soapAction="eliminarAlbumesUsuarios" style="document"/>
            <wsdl:input name="eliminarAlbumesUsuarios5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarAlbumesUsuarios5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificaAlbum">
            <wsdlsoap:operation soapAction="modificaAlbum" style="document"/>
            <wsdl:input name="modificaAlbum6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificaAlbum6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenAlbumesPorUsuario">
            <wsdlsoap:operation soapAction="obtenAlbumesPorUsuario" style="document"/>
            <wsdl:input name="obtenAlbumesPorUsuario7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenAlbumesPorUsuario7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerAlbumPorId">
            <wsdlsoap:operation soapAction="obtenerAlbumPorId" style="document"/>
            <wsdl:input name="obtenerAlbumPorId8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerAlbumPorId8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenOdesPorAlbum">
            <wsdlsoap:operation soapAction="obtenOdesPorAlbum" style="document"/>
            <wsdl:input name="obtenOdesPorAlbum9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenOdesPorAlbum9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenOdesSinAlbum">
            <wsdlsoap:operation soapAction="obtenOdesSinAlbum" style="document"/>
            <wsdl:input name="obtenOdesSinAlbum10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenOdesSinAlbum10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvAlbumServiceService">
        <wsdl:documentation> 
            Servicio que alberga todos los métodos de gestión de los
            álbumes.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvAlbumServiceSoapBinding" name="SrvAlbumService">
            <wsdlsoap:address location="http://localhost:8080/publicacion-1/services/SrvAlbumService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>