adminusuarios/mda/src/wsdl/SrvBuscadorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvBuscadorService" 
    targetNamespace="http://busqueda.servicios.negocio.indexador.pode.es"
    xmlns:impl="http://busqueda.servicios.negocio.indexador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://busqueda.servicios.negocio.indexador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="busquedaAvanzada">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="paramBusq" type="impl:ParamAvanzadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="busquedaAvanzadaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="busquedaAvanzadaReturn" type="impl:DocumentosVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="busquedaLOM_ES">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo tiene que buscar los resultados que ajusten a los
                        parametros de busqueda. Ordena los resultados y los devuelve
                        convertidos en un texto LOM-ES.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="paramBusq" type="impl:QuerySimpleVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="busquedaLOM_ESResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="busquedaLOM_ESReturn" type="impl:DocumentosLOM_ESVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="busquedaMEC">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo realiza una busqueda utilizando el identificador MEC
                        de un ODE como parametro de busqueda.
                        En el caso de encontrar un resultado, devuelve un VO con la
                        coleccion de caracteristicas que describen el ODE. En el caso de
                        no encontrar ningun resultado, no devuelve nada.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificadorMEC" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador alfanumerico MEC que identifica un ODE de forma
                                    unica.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomaBusqueda" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma en el que se realiza la busqueda.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="busquedaMECResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="busquedaMECReturn" type="impl:DocVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="busquedaSimple">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="paramBusq" type="impl:ParamSimpleVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="busquedaSimpleResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="busquedaSimpleReturn" type="impl:DocumentosVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerIdiomasBusqueda">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve una lista de todos los idiomas de
                        navegacion que se contemplan en la aplicacion para la busqueda
                        (de los que existen listas de idiomas traducidas).
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerIdiomasBusquedaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerIdiomasBusquedaReturn" type="impl:ArrayOfIdiomaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerIdiomasLocalizados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve para un idioma dado la lista de idiomas de
                        busqueda relacionada a dicho idioma traducida.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idIdioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    El identificador del idioma del que se quiere la lista de
                                    idiomas de busqueda traducidas a dicho idioma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerIdiomasLocalizadosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerIdiomasLocalizadosReturn" type="impl:ArrayOfLocalizacionIdiomaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="DocLOM_ESVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase representa un documento resultado de una busqueda
                        LOM_ES
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ranking" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="documento" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del documento LOM-ES resultado de la busqueda.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDocLOM_ESVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DocLOM_ESVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DocumentosLOM_ESVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase representa los documentos resultado de una busqueda
                        por LOM_ES.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="resultados" nillable="false" type="impl:ArrayOfDocLOM_ESVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DocumentosVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase representa los resultados de una busqueda.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="resultados" nillable="true" type="impl:ArrayOfDocVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sugerencias" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de las sugerencias de busqueda en el caso de que no
                                haya resultados de busqueda para la busqueda invocada. Puede
                                haber varias sugerencias.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DocVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase representa un documento como resultado unico de una
                        busqueda.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="localizadorODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Localizador del objeto digital.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valoracion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRecurso" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de recurso del ODE. En cada entrada del array hay un tipo
                                de recurso.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="curso" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Curso al que pertenece el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Area curricular a la que pertenece el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="licencias" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Licencias del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Formato del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarios" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Destinatarios del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idiomas que contempla la informacion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ambito de aplicacion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ranking" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadorODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del identificador alfanumerico del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDocVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DocVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdiomaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre largo del idioma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idIdioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del idioma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomasBuscables" nillable="false" type="impl:ArrayOfLocalizacionIdiomaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdiomaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IdiomaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLocalizacionIdiomaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:LocalizacionIdiomaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LocalizacionIdiomaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del idioma traducido al idioma general.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idLocalizacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del localizador de idioma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLocalizacionIdiomaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:LocalizacionIdiomaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParamAvanzadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO que alberga los parametros que acepta una busqueda avanzada.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="areaCurricular" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Area curricular del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="asignatura" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Asignatura del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autor" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Autor del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cicloEducativo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ciclo educativo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidades" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Comunidades en las que se busca el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="consulta" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de la consulta del modulo de SQI.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contexto" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contexto del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="curso" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Curso del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="edad" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Edad del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="etapaEducativa" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Etapa educativa del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de publicacion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Formato del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma por el que se quiere configurar la busqueda.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero de resultados maximo que se quieren devolver.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="procesoCognitivo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Proceso cognitivo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recurso" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Recurso del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secuencia" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Con secuencia o sin secuencia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelEducativo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nivel educativo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valoracion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE dentro de la plataforma.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaNavegacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Iddioma con el que el usuario navega por la aplicacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="palabrasClave" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata de las palabras clave por las que se quiere buscar.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParamSimpleVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este VO alberga los parametros aceptados en la busqueda simple.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="palabrasClave" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Lista de palabras clave por las que buscar
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Numero maximo de resultados que se quieren devolver
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaNavegacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaBusqueda" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Parametro de idioma de busqueda traducido al idioma de
                                navegacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="QuerySimpleVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Parametros de una query simple.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="query" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Texto de la query
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="lenguajeQuery" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Lenguaje de busqueda (SQI o Lucene)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma de la busqueda
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numResultados" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="busquedaAvanzada1Request">
        <wsdl:part element="impl:busquedaAvanzada" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaAvanzada1Response">
        <wsdl:part element="impl:busquedaAvanzadaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaLOM_ES2Request">
        <wsdl:part element="impl:busquedaLOM_ES" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaLOM_ES2Response">
        <wsdl:part element="impl:busquedaLOM_ESResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaMEC3Request">
        <wsdl:part element="impl:busquedaMEC" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaMEC3Response">
        <wsdl:part element="impl:busquedaMECResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaSimple4Request">
        <wsdl:part element="impl:busquedaSimple" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="busquedaSimple4Response">
        <wsdl:part element="impl:busquedaSimpleResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdiomasBusqueda5Request">
        <wsdl:part element="impl:obtenerIdiomasBusqueda" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdiomasBusqueda5Response">
        <wsdl:part element="impl:obtenerIdiomasBusquedaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdiomasLocalizados6Request">
        <wsdl:part element="impl:obtenerIdiomasLocalizados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdiomasLocalizados6Response">
        <wsdl:part element="impl:obtenerIdiomasLocalizadosResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvBuscadorService">
        <wsdl:operation name="busquedaAvanzada">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:busquedaAvanzada1Request" 
                        name="busquedaAvanzada1Request"/>
            <wsdl:output message="impl:busquedaAvanzada1Response" 
                         name="busquedaAvanzada1Response"/>
        </wsdl:operation>
        <wsdl:operation name="busquedaLOM_ES">
                
            <wsdl:documentation> 
                Este metodo tiene que buscar los resultados que ajusten a los
                parametros de busqueda. Ordena los resultados y los devuelve
                convertidos en un texto LOM-ES.
            </wsdl:documentation>
            <wsdl:input message="impl:busquedaLOM_ES2Request" 
                        name="busquedaLOM_ES2Request"/>
            <wsdl:output message="impl:busquedaLOM_ES2Response" 
                         name="busquedaLOM_ES2Response"/>
        </wsdl:operation>
        <wsdl:operation name="busquedaMEC">
                
            <wsdl:documentation> 
                Este metodo realiza una busqueda utilizando el identificador MEC
                de un ODE como parametro de busqueda.
                En el caso de encontrar un resultado, devuelve un VO con la
                coleccion de caracteristicas que describen el ODE. En el caso de
                no encontrar ningun resultado, no devuelve nada.
            </wsdl:documentation>
            <wsdl:input message="impl:busquedaMEC3Request" 
                        name="busquedaMEC3Request"/>
            <wsdl:output message="impl:busquedaMEC3Response" 
                         name="busquedaMEC3Response"/>
        </wsdl:operation>
        <wsdl:operation name="busquedaSimple">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:busquedaSimple4Request" 
                        name="busquedaSimple4Request"/>
            <wsdl:output message="impl:busquedaSimple4Response" 
                         name="busquedaSimple4Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerIdiomasBusqueda">
                
            <wsdl:documentation> 
                Este metodo devuelve una lista de todos los idiomas de
                navegacion que se contemplan en la aplicacion para la busqueda
                (de los que existen listas de idiomas traducidas).
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerIdiomasBusqueda5Request" 
                        name="obtenerIdiomasBusqueda5Request"/>
            <wsdl:output message="impl:obtenerIdiomasBusqueda5Response" 
                         name="obtenerIdiomasBusqueda5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerIdiomasLocalizados">
                
            <wsdl:documentation> 
                Este metodo devuelve para un idioma dado la lista de idiomas de
                busqueda relacionada a dicho idioma traducida.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerIdiomasLocalizados6Request" 
                        name="obtenerIdiomasLocalizados6Request"/>
            <wsdl:output message="impl:obtenerIdiomasLocalizados6Response" 
                         name="obtenerIdiomasLocalizados6Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvBuscadorServiceSoapBinding" type="impl:SrvBuscadorService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="busquedaAvanzada">
            <wsdlsoap:operation soapAction="busquedaAvanzada" style="document"/>
            <wsdl:input name="busquedaAvanzada1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="busquedaAvanzada1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="busquedaLOM_ES">
            <wsdlsoap:operation soapAction="busquedaLOM_ES" style="document"/>
            <wsdl:input name="busquedaLOM_ES2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="busquedaLOM_ES2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="busquedaMEC">
            <wsdlsoap:operation soapAction="busquedaMEC" style="document"/>
            <wsdl:input name="busquedaMEC3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="busquedaMEC3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="busquedaSimple">
            <wsdlsoap:operation soapAction="busquedaSimple" style="document"/>
            <wsdl:input name="busquedaSimple4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="busquedaSimple4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerIdiomasBusqueda">
            <wsdlsoap:operation soapAction="obtenerIdiomasBusqueda" style="document"/>
            <wsdl:input name="obtenerIdiomasBusqueda5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerIdiomasBusqueda5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerIdiomasLocalizados">
            <wsdlsoap:operation soapAction="obtenerIdiomasLocalizados" style="document"/>
            <wsdl:input name="obtenerIdiomasLocalizados6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerIdiomasLocalizados6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvBuscadorServiceService">
        <wsdl:documentation> 
            Este servicio implementa la funcionalidad de busqueda de odes
            sobre los odes indexados.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvBuscadorServiceSoapBinding" name="SrvBuscadorService">
            <wsdlsoap:address location="http://localhost:8080/indexador-0.1/services/SrvBuscadorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>