adminusuarios/mda/src/wsdl/SrvCorreo.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvCorreo" 
    targetNamespace="http://servicios.negocio.gestorCorreo.pode.es"
    xmlns:impl="http://servicios.negocio.gestorCorreo.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.gestorCorreo.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="altaUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de alta
                        de un usuario.
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                        Este método tendrá que distinguir si nos encontramos ante un
                        nodo del tipo taller o con un nodo con un ldap externo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoUsuarioVO" type="impl:CorreoUsuarioVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo cuando se da de alta un usuario.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="altaUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="altaUsuarioReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="bajaGrupo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de baja 
                        de un grupo
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoGrupoVO" type="impl:CorreoGrupoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    VO en donde se guardarán datos relativos al Grupo
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="bajaGrupoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bajaGrupoReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="bajaUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de baja
                        de un usuario.
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                        Este método tendrá que distinguir si nos encontramos ante un
                        nodo del tipo taller o con un nodo con un ldap externo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoUsuarioVO" type="impl:CorreoUsuarioVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo cuando se da de baja un usuario.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="bajaUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bajaUsuarioReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="comentarioODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de
                        comentario de un ODE
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoOdeVO" type="impl:CorreoOdeVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="comentarioODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="comentarioODEReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="contactoAutopublicaODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo cuando un contacto
                        autopublica un ODE
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoOdeVO" type="impl:CorreoOdeVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaria para el
                                    envío del correo
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="contactoAutopublicaODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contactoAutopublicaODEReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="contactoPublicaODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo cuando un contacto publica
                        un ODE
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoOdeVO" type="impl:CorreoOdeVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="contactoPublicaODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contactoPublicaODEReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="correoContenidoInapropiado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo de la opción "Contenido
                        inapropiado".
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoODEVO" type="impl:CorreoOdeVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo del tipo "Contenido inapropiado"
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="correoContenidoInapropiadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="correoContenidoInapropiadoReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="correoEnviarAmigo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo de la opción "Enviar a un
                        amigo".
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoOdeVO" type="impl:CorreoOdeVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo del tipo "Enviar a un amigo"
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="correoEnviarAmigoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="correoEnviarAmigoReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="correoRechazoContenidoInapropiado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo de la opción "rechazar
                        contenido inapropiado".
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoOdeVO" type="impl:CorreoOdeVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="correoRechazoContenidoInapropiadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="correoRechazoContenidoInapropiadoReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="desactivarUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de
                        desactivacion de un usuario.
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoUsuarioVO" type="impl:CorreoUsuarioVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo cuando se da de baja un usuario.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="desactivarUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="desactivarUsuarioReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="envioODEGrupo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de envio
                        de un ODE a un grupo
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoGrupoVO" type="impl:CorreoGrupoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    VO en donde se guardarán datos relativos al Grupo
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="envioODEGrupoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="envioODEGrupoReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="nuevaClave">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de
                        recuerdo de contraseña.
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                        Este método tendrá que distinguir si nos encontramos ante un
                        nodo del tipo taller o con un nodo con un ldap externo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoUsuario" type="impl:CorreoUsuarioVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo cuando un usuario solicita el recuerdo de
                                    contraseña.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="nuevaClaveResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nuevaClaveReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="publicacionODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de
                        publicacion de un ODE
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoODEVO" type="impl:CorreoOdeVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="publicacionODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="publicacionODEReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="rechazoODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de
                        rechazo de un ODE
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoODEVO" type="impl:CorreoOdeVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="rechazoODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="rechazoODEReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="solicitudBajaUsuario">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método encargado de enviar el correo durante el proceso de
                        solicitud de baja de un usuario.
                        El asunto de este tipo de correos será recogido de un fichero
                        properties.
                        Este método tendrá que distinguir si nos encontramos ante un
                        nodo del tipo taller o con un nodo con un ldap externo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="correoUsuarioVO" type="impl:CorreoUsuarioVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Almacena toda la información complementaria necesaría para el
                                    envío del correo cuando se da de baja un usuario.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitudBajaUsuarioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="solicitudBajaUsuarioReturn" type="impl:ResultadoEnvioCorreoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="CorreoGrupoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        En este value object se almacenrá la información acerca del
                        grupo
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombreGrupo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se guardará el nombre del grupo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tituloOde" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Aqui guardaremos el titulo del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="to" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                destinatarios
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlFicha" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url de la ficha del ode sobre el que se envía el correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlImagen" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url de la imagen representativa del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="from" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Persona que manda el correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaCorreo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma del correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hrefLogo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url a la que enlazará el logo de Agrega
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlImagenLogo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url donde se encuentra el logo de Agrega
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CorreoOdeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object con los datos necesarios para el envío de los
                        correos: enviar a un amigo y contenido inapropiado.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="hrefLogo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url a la que enlazará el logo de Agrega
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlImagenLogo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url donde se encuentra el logo de Agrega
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="emailRemitente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Email del usuario que envía el correo de contenido inapropiado o
                                enviar a un amigo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tituloOde" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Título del ode sobre el que se envía el correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlFicha" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url de la ficha del ode sobre el que se envía el correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreRemitente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del usuario que desea enviar el correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreDestinatario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del destinatario del correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlImagen" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url de la imagen representativa del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comentario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Comentario sobre el ode.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valoracion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoración que recibe el ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidad" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Comunidad en la que se encuentra el ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="to" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                destinatarios
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="from" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Persona a la que se envia el correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaCorreo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                idioma en el que irá el correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Usuario que rechaza el ODE o bien el nombre del contacto al que
                                le publica un ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CorreoUsuarioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este value object almacena toda la información complementaria
                        necesaría para el envío de correos en la gestión de usuarios:
                        alta, baja, alta ldapExterno, alta nodo taller....
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="usuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Login del usuario
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="password" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                clave del usuario
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nuevaClave" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nueva clave que se le asignará al usuario
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="emailUsuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Email del usuario
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nodoTaller" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indica si nos encontramos o no en un nodo taller, en el caso de
                                valer true el texto de los correos de la gestión de usuarios
                                cambian.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ldapExterno" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indica si existe un ldap externo para la gestión de los
                                usuarios. En el caso de que valga true además del correo de
                                alta, baja, nueva clave habría que enviar otro al administrador
                                del ldap externo.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="to" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                destinatarios de correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="from" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                la persona que envia el correi
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaCorreo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="hrefLogo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url a la que apuntará el logo de agrega
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlImagenLogo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Url de la imagen del logo de Agrega
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoEnvioCorreoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object con el resultado del envío del correo
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="resultado" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Cadena con el resultado del envío, los valores posibles serán OK
                                o ERROR.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadoTexto" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Cadena en la que se describe con más detalle cuál ha sido el
                                resultado del envío del correo
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="altaUsuario1Request">
        <wsdl:part element="impl:altaUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="altaUsuario1Response">
        <wsdl:part element="impl:altaUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="bajaGrupo2Request">
        <wsdl:part element="impl:bajaGrupo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="bajaGrupo2Response">
        <wsdl:part element="impl:bajaGrupoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="bajaUsuario3Request">
        <wsdl:part element="impl:bajaUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="bajaUsuario3Response">
        <wsdl:part element="impl:bajaUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="comentarioODE4Request">
        <wsdl:part element="impl:comentarioODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="comentarioODE4Response">
        <wsdl:part element="impl:comentarioODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="contactoAutopublicaODE5Request">
        <wsdl:part element="impl:contactoAutopublicaODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="contactoAutopublicaODE5Response">
        <wsdl:part element="impl:contactoAutopublicaODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="contactoPublicaODE6Request">
        <wsdl:part element="impl:contactoPublicaODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="contactoPublicaODE6Response">
        <wsdl:part element="impl:contactoPublicaODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="correoContenidoInapropiado7Request">
        <wsdl:part element="impl:correoContenidoInapropiado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="correoContenidoInapropiado7Response">
        <wsdl:part element="impl:correoContenidoInapropiadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="correoEnviarAmigo8Request">
        <wsdl:part element="impl:correoEnviarAmigo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="correoEnviarAmigo8Response">
        <wsdl:part element="impl:correoEnviarAmigoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="correoRechazoContenidoInapropiado9Request">
        <wsdl:part element="impl:correoRechazoContenidoInapropiado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="correoRechazoContenidoInapropiado9Response">
        <wsdl:part element="impl:correoRechazoContenidoInapropiadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="desactivarUsuario10Request">
        <wsdl:part element="impl:desactivarUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="desactivarUsuario10Response">
        <wsdl:part element="impl:desactivarUsuarioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="envioODEGrupo11Request">
        <wsdl:part element="impl:envioODEGrupo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="envioODEGrupo11Response">
        <wsdl:part element="impl:envioODEGrupoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="nuevaClave12Request">
        <wsdl:part element="impl:nuevaClave" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="nuevaClave12Response">
        <wsdl:part element="impl:nuevaClaveResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="publicacionODE13Request">
        <wsdl:part element="impl:publicacionODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="publicacionODE13Response">
        <wsdl:part element="impl:publicacionODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="rechazoODE14Request">
        <wsdl:part element="impl:rechazoODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="rechazoODE14Response">
        <wsdl:part element="impl:rechazoODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitudBajaUsuario15Request">
        <wsdl:part element="impl:solicitudBajaUsuario" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitudBajaUsuario15Response">
        <wsdl:part element="impl:solicitudBajaUsuarioResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvCorreo">
        <wsdl:operation name="altaUsuario">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de alta
                de un usuario.
                El asunto de este tipo de correos será recogido de un fichero
                properties.
                Este método tendrá que distinguir si nos encontramos ante un
                nodo del tipo taller o con un nodo con un ldap externo.
            </wsdl:documentation>
            <wsdl:input message="impl:altaUsuario1Request" 
                        name="altaUsuario1Request"/>
            <wsdl:output message="impl:altaUsuario1Response" 
                         name="altaUsuario1Response"/>
        </wsdl:operation>
        <wsdl:operation name="bajaGrupo">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de baja 
                de un grupo
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:bajaGrupo2Request" 
                        name="bajaGrupo2Request"/>
            <wsdl:output message="impl:bajaGrupo2Response" 
                         name="bajaGrupo2Response"/>
        </wsdl:operation>
        <wsdl:operation name="bajaUsuario">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de baja
                de un usuario.
                El asunto de este tipo de correos será recogido de un fichero
                properties.
                Este método tendrá que distinguir si nos encontramos ante un
                nodo del tipo taller o con un nodo con un ldap externo.
            </wsdl:documentation>
            <wsdl:input message="impl:bajaUsuario3Request" 
                        name="bajaUsuario3Request"/>
            <wsdl:output message="impl:bajaUsuario3Response" 
                         name="bajaUsuario3Response"/>
        </wsdl:operation>
        <wsdl:operation name="comentarioODE">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de
                comentario de un ODE
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:comentarioODE4Request" 
                        name="comentarioODE4Request"/>
            <wsdl:output message="impl:comentarioODE4Response" 
                         name="comentarioODE4Response"/>
        </wsdl:operation>
        <wsdl:operation name="contactoAutopublicaODE">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo cuando un contacto
                autopublica un ODE
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:contactoAutopublicaODE5Request" 
                        name="contactoAutopublicaODE5Request"/>
            <wsdl:output message="impl:contactoAutopublicaODE5Response" 
                         name="contactoAutopublicaODE5Response"/>
        </wsdl:operation>
        <wsdl:operation name="contactoPublicaODE">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo cuando un contacto publica
                un ODE
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:contactoPublicaODE6Request" 
                        name="contactoPublicaODE6Request"/>
            <wsdl:output message="impl:contactoPublicaODE6Response" 
                         name="contactoPublicaODE6Response"/>
        </wsdl:operation>
        <wsdl:operation name="correoContenidoInapropiado">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo de la opción "Contenido
                inapropiado".
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:correoContenidoInapropiado7Request" 
                        name="correoContenidoInapropiado7Request"/>
            <wsdl:output message="impl:correoContenidoInapropiado7Response" 
                         name="correoContenidoInapropiado7Response"/>
        </wsdl:operation>
        <wsdl:operation name="correoEnviarAmigo">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo de la opción "Enviar a un
                amigo".
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:correoEnviarAmigo8Request" 
                        name="correoEnviarAmigo8Request"/>
            <wsdl:output message="impl:correoEnviarAmigo8Response" 
                         name="correoEnviarAmigo8Response"/>
        </wsdl:operation>
        <wsdl:operation name="correoRechazoContenidoInapropiado">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo de la opción "rechazar
                contenido inapropiado".
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:correoRechazoContenidoInapropiado9Request" 
                        name="correoRechazoContenidoInapropiado9Request"/>
            <wsdl:output message="impl:correoRechazoContenidoInapropiado9Response" 
                         name="correoRechazoContenidoInapropiado9Response"/>
        </wsdl:operation>
        <wsdl:operation name="desactivarUsuario">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de
                desactivacion de un usuario.
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:desactivarUsuario10Request" 
                        name="desactivarUsuario10Request"/>
            <wsdl:output message="impl:desactivarUsuario10Response" 
                         name="desactivarUsuario10Response"/>
        </wsdl:operation>
        <wsdl:operation name="envioODEGrupo">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de envio
                de un ODE a un grupo
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:envioODEGrupo11Request" 
                        name="envioODEGrupo11Request"/>
            <wsdl:output message="impl:envioODEGrupo11Response" 
                         name="envioODEGrupo11Response"/>
        </wsdl:operation>
        <wsdl:operation name="nuevaClave">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de
                recuerdo de contraseña.
                El asunto de este tipo de correos será recogido de un fichero
                properties.
                Este método tendrá que distinguir si nos encontramos ante un
                nodo del tipo taller o con un nodo con un ldap externo.
            </wsdl:documentation>
            <wsdl:input message="impl:nuevaClave12Request" 
                        name="nuevaClave12Request"/>
            <wsdl:output message="impl:nuevaClave12Response" 
                         name="nuevaClave12Response"/>
        </wsdl:operation>
        <wsdl:operation name="publicacionODE">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de
                publicacion de un ODE
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:publicacionODE13Request" 
                        name="publicacionODE13Request"/>
            <wsdl:output message="impl:publicacionODE13Response" 
                         name="publicacionODE13Response"/>
        </wsdl:operation>
        <wsdl:operation name="rechazoODE">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de
                rechazo de un ODE
                El asunto de este tipo de correos será recogido de un fichero
                properties.
            </wsdl:documentation>
            <wsdl:input message="impl:rechazoODE14Request" 
                        name="rechazoODE14Request"/>
            <wsdl:output message="impl:rechazoODE14Response" 
                         name="rechazoODE14Response"/>
        </wsdl:operation>
        <wsdl:operation name="solicitudBajaUsuario">
                
            <wsdl:documentation> 
                Método encargado de enviar el correo durante el proceso de
                solicitud de baja de un usuario.
                El asunto de este tipo de correos será recogido de un fichero
                properties.
                Este método tendrá que distinguir si nos encontramos ante un
                nodo del tipo taller o con un nodo con un ldap externo.
            </wsdl:documentation>
            <wsdl:input message="impl:solicitudBajaUsuario15Request" 
                        name="solicitudBajaUsuario15Request"/>
            <wsdl:output message="impl:solicitudBajaUsuario15Response" 
                         name="solicitudBajaUsuario15Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvCorreoSoapBinding" type="impl:SrvCorreo">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="altaUsuario">
            <wsdlsoap:operation soapAction="altaUsuario" style="document"/>
            <wsdl:input name="altaUsuario1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="altaUsuario1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="bajaGrupo">
            <wsdlsoap:operation soapAction="bajaGrupo" style="document"/>
            <wsdl:input name="bajaGrupo2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="bajaGrupo2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="bajaUsuario">
            <wsdlsoap:operation soapAction="bajaUsuario" style="document"/>
            <wsdl:input name="bajaUsuario3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="bajaUsuario3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="comentarioODE">
            <wsdlsoap:operation soapAction="comentarioODE" style="document"/>
            <wsdl:input name="comentarioODE4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="comentarioODE4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="contactoAutopublicaODE">
            <wsdlsoap:operation soapAction="contactoAutopublicaODE" style="document"/>
            <wsdl:input name="contactoAutopublicaODE5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="contactoAutopublicaODE5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="contactoPublicaODE">
            <wsdlsoap:operation soapAction="contactoPublicaODE" style="document"/>
            <wsdl:input name="contactoPublicaODE6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="contactoPublicaODE6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="correoContenidoInapropiado">
            <wsdlsoap:operation soapAction="correoContenidoInapropiado" style="document"/>
            <wsdl:input name="correoContenidoInapropiado7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="correoContenidoInapropiado7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="correoEnviarAmigo">
            <wsdlsoap:operation soapAction="correoEnviarAmigo" style="document"/>
            <wsdl:input name="correoEnviarAmigo8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="correoEnviarAmigo8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="correoRechazoContenidoInapropiado">
            <wsdlsoap:operation soapAction="correoRechazoContenidoInapropiado" style="document"/>
            <wsdl:input name="correoRechazoContenidoInapropiado9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="correoRechazoContenidoInapropiado9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="desactivarUsuario">
            <wsdlsoap:operation soapAction="desactivarUsuario" style="document"/>
            <wsdl:input name="desactivarUsuario10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="desactivarUsuario10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="envioODEGrupo">
            <wsdlsoap:operation soapAction="envioODEGrupo" style="document"/>
            <wsdl:input name="envioODEGrupo11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="envioODEGrupo11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="nuevaClave">
            <wsdlsoap:operation soapAction="nuevaClave" style="document"/>
            <wsdl:input name="nuevaClave12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="nuevaClave12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="publicacionODE">
            <wsdlsoap:operation soapAction="publicacionODE" style="document"/>
            <wsdl:input name="publicacionODE13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="publicacionODE13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="rechazoODE">
            <wsdlsoap:operation soapAction="rechazoODE" style="document"/>
            <wsdl:input name="rechazoODE14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="rechazoODE14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="solicitudBajaUsuario">
            <wsdlsoap:operation soapAction="solicitudBajaUsuario" style="document"/>
            <wsdl:input name="solicitudBajaUsuario15Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="solicitudBajaUsuario15Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvCorreoService">
        <wsdl:documentation> 
            Servicio encargado del envío de correos en la plataforma Agrega.
            Tendrá tantas operaciones como tipos de correo se envíen.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvCorreoSoapBinding" name="SrvCorreo">
            <wsdlsoap:address location="http://localhost:8080/gestorCorreo-1.0/services/SrvCorreo"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>