visualizadorcontenidosV1/mda/src/wsdl/SrvIdentidadFederadaService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvIdentidadFederadaService" 
    targetNamespace="http://servicios.negocio.adminusuarios.pode.es"
    xmlns:impl="http://servicios.negocio.adminusuarios.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.adminusuarios.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="addUserSession">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Anade al conjunto de las sesiones de usuarios una nueva sesion
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuarioLogin" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUserSessionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="addUserSessionReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="deleteUserSession">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina del conjunto de sesiones activas la sesion del usuario
                        que se pasa por parametro.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="loginUsuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteUserSessionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="deleteUserSessionReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="isAutenticated">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Valida si ese usuario tiene el contexto de seguridad creado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="isAutenticatedResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isAutenticatedReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="addUserSession1Request">
        <wsdl:part element="impl:addUserSession" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addUserSession1Response">
        <wsdl:part element="impl:addUserSessionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteUserSession2Request">
        <wsdl:part element="impl:deleteUserSession" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="deleteUserSession2Response">
        <wsdl:part element="impl:deleteUserSessionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="isAutenticated3Request">
        <wsdl:part element="impl:isAutenticated" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="isAutenticated3Response">
        <wsdl:part element="impl:isAutenticatedResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvIdentidadFederadaService">
        <wsdl:operation name="addUserSession">
                
            <wsdl:documentation> 
                Anade al conjunto de las sesiones de usuarios una nueva sesion
            </wsdl:documentation>
            <wsdl:input message="impl:addUserSession1Request" 
                        name="addUserSession1Request"/>
            <wsdl:output message="impl:addUserSession1Response" 
                         name="addUserSession1Response"/>
        </wsdl:operation>
        <wsdl:operation name="deleteUserSession">
                
            <wsdl:documentation> 
                Elimina del conjunto de sesiones activas la sesion del usuario
                que se pasa por parametro.
            </wsdl:documentation>
            <wsdl:input message="impl:deleteUserSession2Request" 
                        name="deleteUserSession2Request"/>
            <wsdl:output message="impl:deleteUserSession2Response" 
                         name="deleteUserSession2Response"/>
        </wsdl:operation>
        <wsdl:operation name="isAutenticated">
                
            <wsdl:documentation> 
                Valida si ese usuario tiene el contexto de seguridad creado.
            </wsdl:documentation>
            <wsdl:input message="impl:isAutenticated3Request" 
                        name="isAutenticated3Request"/>
            <wsdl:output message="impl:isAutenticated3Response" 
                         name="isAutenticated3Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvIdentidadFederadaServiceSoapBinding" type="impl:SrvIdentidadFederadaService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addUserSession">
            <wsdlsoap:operation soapAction="addUserSession" style="document"/>
            <wsdl:input name="addUserSession1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addUserSession1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="deleteUserSession">
            <wsdlsoap:operation soapAction="deleteUserSession" style="document"/>
            <wsdl:input name="deleteUserSession2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteUserSession2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="isAutenticated">
            <wsdlsoap:operation soapAction="isAutenticated" style="document"/>
            <wsdl:input name="isAutenticated3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="isAutenticated3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvIdentidadFederadaServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvIdentidadFederadaServiceSoapBinding" name="SrvIdentidadFederadaService">
            <wsdlsoap:address location="http://localhost:8080/adminusuarios/services/SrvIdentidadFederadaService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>