visualizadorcontenidosV1/mda/src/wsdl/SrvNoticiasService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvNoticiasService" 
    targetNamespace="http://servicio.noticias.negocio.contenidos.pode.es"
    xmlns:impl="http://servicio.noticias.negocio.contenidos.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.noticias.negocio.contenidos.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="almacenarImagenNoticia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Almacena en el servidor la imagen suministrada y devuelve la URL
                        que permite acceder a dicha imagen.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="imagen" type="impl:ImagenVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Value Object que encapsula la imagen suministrada.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="almacenarImagenNoticiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="almacenarImagenNoticiaReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Crea una nueva categoría en la BD.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="categoria" type="impl:CategoriaNoticiaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Value Object que representa a la categoría.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearCategoriaReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearNoticia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Crea una nueva noticia en base de datos. El metodo devuelve la
                        ID asignada.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="noticia" type="impl:NoticiaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Value Object con los datos de la noticia.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearNoticiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearNoticiaReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina la categoria con identificador id de la base de datos.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la categoría a eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarCategoriaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarCategorias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina las categorías de la base de datos.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idList" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de identificadores de las categorías a eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarCategoriasResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarNoticia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina una noticia de la base de datos.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    ID de la noticia.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarNoticiaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarNoticias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina la coleccion de noticias especificadas en el array de
                        IDs.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idList" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Array con las IDs de las noticias a borrar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarNoticiasResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="limpiarCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="limpiarCategoriaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="limpiarNoticia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="limpiarNoticiaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="listarNoticiasActivasPorIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene un listado de noticias activas redactadas en el idioma
                        deseado y ordenadas por fecha de publicacion.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma (ISO639).
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="listarNoticiasActivasPorIdiomaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarNoticiasActivasPorIdiomaReturn" type="impl:ArrayOfNoticiaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método que modifica una categoría a partir del vo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="categoria" type="impl:CategoriaNoticiaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Value object que contiene los datos de la categoría a modificar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarCategoriaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="modificarNoticia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Modifica una noticia existente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="noticia" type="impl:NoticiaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Value Object con los datos de la noticia.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarNoticiaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="obtenerCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene una categoria identificada por si ID.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    ID de la categoria.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriaReturn" type="impl:CategoriaNoticiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategorias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene un listado de las categorias existentes.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerCategoriasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriasReturn" type="impl:ArrayOfCategoriaNoticiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategoriasTraducidas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene todas las categorías de las noticias que haya en la base
                        de datos.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idiomasTraducibles" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idiomas traducibles de la plataforma. Determinan el orden de
                                    prioridad.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCategoriasTraducidasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriasTraducidasReturn" type="impl:ArrayOfCategoriaNoticiaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategoriaTraducida">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Otiene la categoria traducida.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la categoría que se quiere traducir.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma al cual se quiere traducir la categoría.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCategoriaTraducidaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriaTraducidaReturn" type="impl:CategoriaNoticiaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNoticia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene una noticia (en formato VO modifable) identificada por
                        su ID.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    ID de la noticia.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNoticiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNoticiaReturn" type="impl:NoticiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNoticias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene un listado de noticias ordenadas por fecha de
                        publicación.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerNoticiasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNoticiasReturn" type="impl:ArrayOfNoticiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNoticiasActivas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="numResultados" type="soapenc:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNoticiasActivasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNoticiasActivasReturn" type="impl:ArrayOfNoticiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNoticiasActivasPorIdiomayCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene un listado de las noticias activas redactadas en el
                        idioma deseado y ordenadas por fecha de publicacion.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma (en el codigo ISO639).
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNoticiasActivasPorIdiomayCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNoticiasActivasPorIdiomayCategoriaReturn" type="impl:ArrayOfNoticiaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNoticiasFromIdCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este método obtiene todas las noticias asociadas a la categoría
                        con id.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idCategoria" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la categoría.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomasTraducibles" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Array de los idiomas a los que se puede traducir la noticia.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNoticiasFromIdCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNoticiasFromIdCategoriaReturn" type="impl:ArrayOfNoticiaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNoticiasTraducidas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene todas las noticias traducidas. Hay una prioridad de
                        traducción del idioma que lo marca el array de idiomas.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idiomasTraducibles" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Array de los idiomas traducibles.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNoticiasTraducidasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNoticiasTraducidasReturn" type="impl:ArrayOfNoticiaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNoticiaTraducida">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNoticiaTraducidaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNoticiaTraducidaReturn" type="impl:NoticiaTraducidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ArrayOfCategoriaIdiomaNoticiaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CategoriaIdiomaNoticiaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CategoriaIdiomaNoticiaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO que encapsula la información de la categoría en el idioma
                        correspondiente.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador autogenerado por la base de datos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreCategoria" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre de la categoría en el idioma correspondiente.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma de la descripción de la categoría.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CategoriaNoticiaTraducidaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        vo que tiene los datos de la categoria noticia traducidos al
                        idioma correspondiente.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idCategoriaNoticia" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de la categoria.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idCategoriaIdiomaNoticia" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de la categoria traducida al idioma
                                correspondiente.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma al que se va a traducir la categoría.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreCategoria" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre de la categoría traducido al idioma correspondiente.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCategoriaNoticiaTraducidaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CategoriaNoticiaTraducidaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CategoriaNoticiaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        VO que encapsula la información de una categoría de la noticias.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador autogenerado por la base de datos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre de la categoría.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de creación de la categoría noticia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaBaja" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de baja de la categoría noticia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaModificacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de modificación de la categoría noticia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoriaIdioma" nillable="false" type="impl:ArrayOfCategoriaIdiomaNoticiaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCategoriaNoticiaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CategoriaNoticiaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDescripcionNoticiaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DescripcionNoticiaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DescripcionNoticiaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Describe campos de  la noticia correspondiente al idioma.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo de la noticia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resumen" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Resumen de la noticia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cuerpo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Cuerpo de la noticia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma de la descripción de la noticia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador autogenerado por la base de datos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ImagenVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object conteniendo la imagen de noticias suministrada para
                        su almacenaje..
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre de la imagen.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mimeType" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo mime
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="datos" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                DataHandler conteniendo la imagen serializada.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoticiaTraducidaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idNoticia" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="URLImagen" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="alineamientoImg" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autor" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resumen" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cuerpo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomas" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoria" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idCategoria" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="activa" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indica si la noticia está activa o no.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfNoticiaTraducidaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:NoticiaTraducidaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NoticiaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object que encapsula los datos correspondientes a la
                        noticia.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador autogenerado por la base de datos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="URLImagen" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Direccion URL de la fuente de la imagen.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="alineamientoImg" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Entero que indica un valor constante sobre las posibles a
                                lineaciones que se contemplan.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="activa" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Flag que permite distinguir entre noticias activas o inactivas.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de publicacion de la noticia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autor" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaBaja" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaModificacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoria" nillable="false" type="impl:CategoriaNoticiaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="descripcionNoticia" nillable="false" type="impl:ArrayOfDescripcionNoticiaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfNoticiaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:NoticiaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_long">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:long" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="almacenarImagenNoticia1Request">
        <wsdl:part element="impl:almacenarImagenNoticia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="almacenarImagenNoticia1Response">
        <wsdl:part element="impl:almacenarImagenNoticiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearCategoria2Request">
        <wsdl:part element="impl:crearCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearCategoria2Response">
        <wsdl:part element="impl:crearCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearNoticia3Request">
        <wsdl:part element="impl:crearNoticia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearNoticia3Response">
        <wsdl:part element="impl:crearNoticiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategoria4Request">
        <wsdl:part element="impl:eliminarCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategoria4Response">
        <wsdl:part element="impl:eliminarCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategorias5Request">
        <wsdl:part element="impl:eliminarCategorias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategorias5Response">
        <wsdl:part element="impl:eliminarCategoriasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarNoticia6Request">
        <wsdl:part element="impl:eliminarNoticia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarNoticia6Response">
        <wsdl:part element="impl:eliminarNoticiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarNoticias7Request">
        <wsdl:part element="impl:eliminarNoticias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarNoticias7Response">
        <wsdl:part element="impl:eliminarNoticiasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="limpiarCategoria8Request">
        <wsdl:part element="impl:limpiarCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="limpiarCategoria8Response">
        <wsdl:part element="impl:limpiarCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="limpiarNoticia9Request">
        <wsdl:part element="impl:limpiarNoticia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="limpiarNoticia9Response">
        <wsdl:part element="impl:limpiarNoticiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarNoticiasActivasPorIdioma10Request">
        <wsdl:part element="impl:listarNoticiasActivasPorIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarNoticiasActivasPorIdioma10Response">
        <wsdl:part element="impl:listarNoticiasActivasPorIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarCategoria11Request">
        <wsdl:part element="impl:modificarCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarCategoria11Response">
        <wsdl:part element="impl:modificarCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarNoticia12Request">
        <wsdl:part element="impl:modificarNoticia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarNoticia12Response">
        <wsdl:part element="impl:modificarNoticiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoria13Request">
        <wsdl:part element="impl:obtenerCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoria13Response">
        <wsdl:part element="impl:obtenerCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategorias14Request">
        <wsdl:part element="impl:obtenerCategorias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategorias14Response">
        <wsdl:part element="impl:obtenerCategoriasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriasTraducidas15Request">
        <wsdl:part element="impl:obtenerCategoriasTraducidas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriasTraducidas15Response">
        <wsdl:part element="impl:obtenerCategoriasTraducidasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriaTraducida16Request">
        <wsdl:part element="impl:obtenerCategoriaTraducida" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriaTraducida16Response">
        <wsdl:part element="impl:obtenerCategoriaTraducidaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticia17Request">
        <wsdl:part element="impl:obtenerNoticia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticia17Response">
        <wsdl:part element="impl:obtenerNoticiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticias18Request">
        <wsdl:part element="impl:obtenerNoticias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticias18Response">
        <wsdl:part element="impl:obtenerNoticiasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiasActivas19Request">
        <wsdl:part element="impl:obtenerNoticiasActivas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiasActivas19Response">
        <wsdl:part element="impl:obtenerNoticiasActivasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiasActivasPorIdiomayCategoria20Request">
        <wsdl:part element="impl:obtenerNoticiasActivasPorIdiomayCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiasActivasPorIdiomayCategoria20Response">
        <wsdl:part element="impl:obtenerNoticiasActivasPorIdiomayCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiasFromIdCategoria21Request">
        <wsdl:part element="impl:obtenerNoticiasFromIdCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiasFromIdCategoria21Response">
        <wsdl:part element="impl:obtenerNoticiasFromIdCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiasTraducidas22Request">
        <wsdl:part element="impl:obtenerNoticiasTraducidas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiasTraducidas22Response">
        <wsdl:part element="impl:obtenerNoticiasTraducidasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiaTraducida23Request">
        <wsdl:part element="impl:obtenerNoticiaTraducida" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNoticiaTraducida23Response">
        <wsdl:part element="impl:obtenerNoticiaTraducidaResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvNoticiasService">
        <wsdl:operation name="almacenarImagenNoticia">
                
            <wsdl:documentation> 
                Almacena en el servidor la imagen suministrada y devuelve la URL
                que permite acceder a dicha imagen.
            </wsdl:documentation>
            <wsdl:input message="impl:almacenarImagenNoticia1Request" 
                        name="almacenarImagenNoticia1Request"/>
            <wsdl:output message="impl:almacenarImagenNoticia1Response" 
                         name="almacenarImagenNoticia1Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearCategoria">
                
            <wsdl:documentation> 
                Crea una nueva categoría en la BD.
            </wsdl:documentation>
            <wsdl:input message="impl:crearCategoria2Request" 
                        name="crearCategoria2Request"/>
            <wsdl:output message="impl:crearCategoria2Response" 
                         name="crearCategoria2Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearNoticia">
                
            <wsdl:documentation> 
                Crea una nueva noticia en base de datos. El metodo devuelve la
                ID asignada.
            </wsdl:documentation>
            <wsdl:input message="impl:crearNoticia3Request" 
                        name="crearNoticia3Request"/>
            <wsdl:output message="impl:crearNoticia3Response" 
                         name="crearNoticia3Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarCategoria">
                
            <wsdl:documentation> 
                Elimina la categoria con identificador id de la base de datos.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarCategoria4Request" 
                        name="eliminarCategoria4Request"/>
            <wsdl:output message="impl:eliminarCategoria4Response" 
                         name="eliminarCategoria4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarCategorias">
                
            <wsdl:documentation> 
                Elimina las categorías de la base de datos.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarCategorias5Request" 
                        name="eliminarCategorias5Request"/>
            <wsdl:output message="impl:eliminarCategorias5Response" 
                         name="eliminarCategorias5Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarNoticia">
                
            <wsdl:documentation> 
                Elimina una noticia de la base de datos.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarNoticia6Request" 
                        name="eliminarNoticia6Request"/>
            <wsdl:output message="impl:eliminarNoticia6Response" 
                         name="eliminarNoticia6Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarNoticias">
                
            <wsdl:documentation> 
                Elimina la coleccion de noticias especificadas en el array de
                IDs.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarNoticias7Request" 
                        name="eliminarNoticias7Request"/>
            <wsdl:output message="impl:eliminarNoticias7Response" 
                         name="eliminarNoticias7Response"/>
        </wsdl:operation>
        <wsdl:operation name="limpiarCategoria">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:limpiarCategoria8Request" 
                        name="limpiarCategoria8Request"/>
            <wsdl:output message="impl:limpiarCategoria8Response" 
                         name="limpiarCategoria8Response"/>
        </wsdl:operation>
        <wsdl:operation name="limpiarNoticia">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:limpiarNoticia9Request" 
                        name="limpiarNoticia9Request"/>
            <wsdl:output message="impl:limpiarNoticia9Response" 
                         name="limpiarNoticia9Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarNoticiasActivasPorIdioma">
                
            <wsdl:documentation> 
                Obtiene un listado de noticias activas redactadas en el idioma
                deseado y ordenadas por fecha de publicacion.
            </wsdl:documentation>
            <wsdl:input message="impl:listarNoticiasActivasPorIdioma10Request" 
                        name="listarNoticiasActivasPorIdioma10Request"/>
            <wsdl:output message="impl:listarNoticiasActivasPorIdioma10Response" 
                         name="listarNoticiasActivasPorIdioma10Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarCategoria">
                
            <wsdl:documentation> 
                Método que modifica una categoría a partir del vo.
            </wsdl:documentation>
            <wsdl:input message="impl:modificarCategoria11Request" 
                        name="modificarCategoria11Request"/>
            <wsdl:output message="impl:modificarCategoria11Response" 
                         name="modificarCategoria11Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarNoticia">
                
            <wsdl:documentation> 
                Modifica una noticia existente.
            </wsdl:documentation>
            <wsdl:input message="impl:modificarNoticia12Request" 
                        name="modificarNoticia12Request"/>
            <wsdl:output message="impl:modificarNoticia12Response" 
                         name="modificarNoticia12Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategoria">
                
            <wsdl:documentation> 
                Obtiene una categoria identificada por si ID.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategoria13Request" 
                        name="obtenerCategoria13Request"/>
            <wsdl:output message="impl:obtenerCategoria13Response" 
                         name="obtenerCategoria13Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategorias">
                
            <wsdl:documentation> 
                Obtiene un listado de las categorias existentes.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategorias14Request" 
                        name="obtenerCategorias14Request"/>
            <wsdl:output message="impl:obtenerCategorias14Response" 
                         name="obtenerCategorias14Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategoriasTraducidas">
                
            <wsdl:documentation> 
                Obtiene todas las categorías de las noticias que haya en la base
                de datos.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategoriasTraducidas15Request" 
                        name="obtenerCategoriasTraducidas15Request"/>
            <wsdl:output message="impl:obtenerCategoriasTraducidas15Response" 
                         name="obtenerCategoriasTraducidas15Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategoriaTraducida">
                
            <wsdl:documentation> 
                Otiene la categoria traducida.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategoriaTraducida16Request" 
                        name="obtenerCategoriaTraducida16Request"/>
            <wsdl:output message="impl:obtenerCategoriaTraducida16Response" 
                         name="obtenerCategoriaTraducida16Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNoticia">
                
            <wsdl:documentation> 
                Obtiene una noticia (en formato VO modifable) identificada por
                su ID.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNoticia17Request" 
                        name="obtenerNoticia17Request"/>
            <wsdl:output message="impl:obtenerNoticia17Response" 
                         name="obtenerNoticia17Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNoticias">
                
            <wsdl:documentation> 
                Obtiene un listado de noticias ordenadas por fecha de
                publicación.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNoticias18Request" 
                        name="obtenerNoticias18Request"/>
            <wsdl:output message="impl:obtenerNoticias18Response" 
                         name="obtenerNoticias18Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNoticiasActivas">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNoticiasActivas19Request" 
                        name="obtenerNoticiasActivas19Request"/>
            <wsdl:output message="impl:obtenerNoticiasActivas19Response" 
                         name="obtenerNoticiasActivas19Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNoticiasActivasPorIdiomayCategoria">
                
            <wsdl:documentation> 
                Obtiene un listado de las noticias activas redactadas en el
                idioma deseado y ordenadas por fecha de publicacion.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNoticiasActivasPorIdiomayCategoria20Request" 
                        name="obtenerNoticiasActivasPorIdiomayCategoria20Request"/>
            <wsdl:output message="impl:obtenerNoticiasActivasPorIdiomayCategoria20Response" 
                         name="obtenerNoticiasActivasPorIdiomayCategoria20Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNoticiasFromIdCategoria">
                
            <wsdl:documentation> 
                Este método obtiene todas las noticias asociadas a la categoría
                con id.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNoticiasFromIdCategoria21Request" 
                        name="obtenerNoticiasFromIdCategoria21Request"/>
            <wsdl:output message="impl:obtenerNoticiasFromIdCategoria21Response" 
                         name="obtenerNoticiasFromIdCategoria21Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNoticiasTraducidas">
                
            <wsdl:documentation> 
                Obtiene todas las noticias traducidas. Hay una prioridad de
                traducción del idioma que lo marca el array de idiomas.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNoticiasTraducidas22Request" 
                        name="obtenerNoticiasTraducidas22Request"/>
            <wsdl:output message="impl:obtenerNoticiasTraducidas22Response" 
                         name="obtenerNoticiasTraducidas22Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNoticiaTraducida">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNoticiaTraducida23Request" 
                        name="obtenerNoticiaTraducida23Request"/>
            <wsdl:output message="impl:obtenerNoticiaTraducida23Response" 
                         name="obtenerNoticiaTraducida23Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvNoticiasServiceSoapBinding" type="impl:SrvNoticiasService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="almacenarImagenNoticia">
            <wsdlsoap:operation soapAction="almacenarImagenNoticia" style="document"/>
            <wsdl:input name="almacenarImagenNoticia1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="almacenarImagenNoticia1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearCategoria">
            <wsdlsoap:operation soapAction="crearCategoria" style="document"/>
            <wsdl:input name="crearCategoria2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearCategoria2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearNoticia">
            <wsdlsoap:operation soapAction="crearNoticia" style="document"/>
            <wsdl:input name="crearNoticia3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearNoticia3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarCategoria">
            <wsdlsoap:operation soapAction="eliminarCategoria" style="document"/>
            <wsdl:input name="eliminarCategoria4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarCategoria4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarCategorias">
            <wsdlsoap:operation soapAction="eliminarCategorias" style="document"/>
            <wsdl:input name="eliminarCategorias5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarCategorias5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarNoticia">
            <wsdlsoap:operation soapAction="eliminarNoticia" style="document"/>
            <wsdl:input name="eliminarNoticia6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarNoticia6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarNoticias">
            <wsdlsoap:operation soapAction="eliminarNoticias" style="document"/>
            <wsdl:input name="eliminarNoticias7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarNoticias7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="limpiarCategoria">
            <wsdlsoap:operation soapAction="limpiarCategoria" style="document"/>
            <wsdl:input name="limpiarCategoria8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="limpiarCategoria8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="limpiarNoticia">
            <wsdlsoap:operation soapAction="limpiarNoticia" style="document"/>
            <wsdl:input name="limpiarNoticia9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="limpiarNoticia9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarNoticiasActivasPorIdioma">
            <wsdlsoap:operation soapAction="listarNoticiasActivasPorIdioma" style="document"/>
            <wsdl:input name="listarNoticiasActivasPorIdioma10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarNoticiasActivasPorIdioma10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarCategoria">
            <wsdlsoap:operation soapAction="modificarCategoria" style="document"/>
            <wsdl:input name="modificarCategoria11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarCategoria11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarNoticia">
            <wsdlsoap:operation soapAction="modificarNoticia" style="document"/>
            <wsdl:input name="modificarNoticia12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarNoticia12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategoria">
            <wsdlsoap:operation soapAction="obtenerCategoria" style="document"/>
            <wsdl:input name="obtenerCategoria13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategoria13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategorias">
            <wsdlsoap:operation soapAction="obtenerCategorias" style="document"/>
            <wsdl:input name="obtenerCategorias14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategorias14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategoriasTraducidas">
            <wsdlsoap:operation soapAction="obtenerCategoriasTraducidas" style="document"/>
            <wsdl:input name="obtenerCategoriasTraducidas15Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategoriasTraducidas15Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategoriaTraducida">
            <wsdlsoap:operation soapAction="obtenerCategoriaTraducida" style="document"/>
            <wsdl:input name="obtenerCategoriaTraducida16Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategoriaTraducida16Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNoticia">
            <wsdlsoap:operation soapAction="obtenerNoticia" style="document"/>
            <wsdl:input name="obtenerNoticia17Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNoticia17Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNoticias">
            <wsdlsoap:operation soapAction="obtenerNoticias" style="document"/>
            <wsdl:input name="obtenerNoticias18Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNoticias18Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNoticiasActivas">
            <wsdlsoap:operation soapAction="obtenerNoticiasActivas" style="document"/>
            <wsdl:input name="obtenerNoticiasActivas19Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNoticiasActivas19Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNoticiasActivasPorIdiomayCategoria">
            <wsdlsoap:operation soapAction="obtenerNoticiasActivasPorIdiomayCategoria" style="document"/>
            <wsdl:input name="obtenerNoticiasActivasPorIdiomayCategoria20Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNoticiasActivasPorIdiomayCategoria20Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNoticiasFromIdCategoria">
            <wsdlsoap:operation soapAction="obtenerNoticiasFromIdCategoria" style="document"/>
            <wsdl:input name="obtenerNoticiasFromIdCategoria21Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNoticiasFromIdCategoria21Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNoticiasTraducidas">
            <wsdlsoap:operation soapAction="obtenerNoticiasTraducidas" style="document"/>
            <wsdl:input name="obtenerNoticiasTraducidas22Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNoticiasTraducidas22Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNoticiaTraducida">
            <wsdlsoap:operation soapAction="obtenerNoticiaTraducida" style="document"/>
            <wsdl:input name="obtenerNoticiaTraducida23Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNoticiaTraducida23Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvNoticiasServiceService">
        <wsdl:documentation> 
            Servicio Web que ofrece la funcionalidad necesaria para la
            gestion y visualizacion de contenidos del portal (Noticias y
            Preguntas Frecuentes o FAQs).
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvNoticiasServiceSoapBinding" name="SrvNoticiasService">
            <wsdlsoap:address location="http://localhost:8080/contenidosportal-F1/services/SrvNoticiasService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>