oaipmh/mda/src/wsdl/SrvTaxonomiaService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvTaxonomiaService" 
    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:impl="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="chequearIdiomaTaxonomia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="chequearIdiomaTaxonomiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="chequearIdiomaTaxonomiaReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerArbolVigente">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerArbolVigenteResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerArbolVigenteReturn" type="impl:EstructuraVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNodos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        metodo obtenerNodos
                        Buscara en la Taxonomia nomTaxonmia del idioma correspondiente,
                        el identificador id y devolvera los hijos de ese identificador
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTaxonomia" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNodosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNodosReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTaxonomia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        metodo obtenerTaxonomia
                        Carga el primer nivel de hijos de una Taxonomia; el padre y los
                        hijos
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTaxonomia" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTaxonomiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTaxonomiaReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTaxonomiaCompletaPreorden">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTaxonomia" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTaxonomiaCompletaPreordenResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTaxonomiaCompletaPreordenReturn" type="impl:ArrayOfTaxonConRutaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTaxonomias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método que permite obtener las taxonomías del idioma indicado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTaxonomiasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTaxonomiasReturn" type="impl:ArrayOfEstructuraVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTaxonPath">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Metodo que obtendra toda la ruta taxonomica que define a un
                        taxon dado.
                        El metodo recogera un identificador del taxon a buscar. El
                        metodo buscara en la taxonomia todos los taxones antecedentes al
                        taxon dado. Se devolvera una lista de TaxonVO con toda la ruta.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTaxonomia" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTaxonPathResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTaxonPathReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVariosTaxonPaths">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ides" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTaxonomia" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerVariosTaxonPathsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVariosTaxonPathsReturn" type="impl:ArrayOfTaxonPathVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVocabName">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTaxonomia" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerVocabNameResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVocabNameReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVocabNames">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTaxonomias" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerVocabNamesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVocabNamesReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="EstructuraVdexVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object que describe una taxonomía. indica el vocabName,
                        vocabIdentifier, idioma y un listado con  los taxones del primer
                        nivel de los existentes en la taxonomía.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="vocabName" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vocabIdentifier" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taxones" nillable="false" type="impl:ArrayOfTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEstructuraVdexVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:EstructuraVdexVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxonConRutaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valorTax" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taxonPath" nillable="false" type="impl:ArrayOfTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaxonConRutaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaxonConRutaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxonPathVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="datos" nillable="false" type="impl:ArrayOfTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaxonPathVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaxonPathVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxonVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Representa un taxon particular dentro de una taxonomia. Esta
                        compuesto por un identificador, un valor y un campo para
                        identificar si el taxon es hoja dentro de la taxonomia.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del taxon dentro de la taxonomia a la que
                                pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valorTax" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor del taxon en la taxonomia a la que pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esHoja" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Flag que indica si el taxon tiene descendientes en la taxonomia
                                a la que pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vocabName" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRelacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaxonVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaxonVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="chequearIdiomaTaxonomia1Request">
        <wsdl:part element="impl:chequearIdiomaTaxonomia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaTaxonomia1Response">
        <wsdl:part element="impl:chequearIdiomaTaxonomiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerArbolVigente2Request">
        <wsdl:part element="impl:obtenerArbolVigente" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerArbolVigente2Response">
        <wsdl:part element="impl:obtenerArbolVigenteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodos3Request">
        <wsdl:part element="impl:obtenerNodos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodos3Response">
        <wsdl:part element="impl:obtenerNodosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTaxonomia4Request">
        <wsdl:part element="impl:obtenerTaxonomia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTaxonomia4Response">
        <wsdl:part element="impl:obtenerTaxonomiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTaxonomiaCompletaPreorden5Request">
        <wsdl:part element="impl:obtenerTaxonomiaCompletaPreorden" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTaxonomiaCompletaPreorden5Response">
        <wsdl:part element="impl:obtenerTaxonomiaCompletaPreordenResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTaxonomias6Request">
        <wsdl:part element="impl:obtenerTaxonomias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTaxonomias6Response">
        <wsdl:part element="impl:obtenerTaxonomiasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTaxonPath7Request">
        <wsdl:part element="impl:obtenerTaxonPath" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTaxonPath7Response">
        <wsdl:part element="impl:obtenerTaxonPathResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVariosTaxonPaths8Request">
        <wsdl:part element="impl:obtenerVariosTaxonPaths" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVariosTaxonPaths8Response">
        <wsdl:part element="impl:obtenerVariosTaxonPathsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabName9Request">
        <wsdl:part element="impl:obtenerVocabName" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabName9Response">
        <wsdl:part element="impl:obtenerVocabNameResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabNames10Request">
        <wsdl:part element="impl:obtenerVocabNames" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabNames10Response">
        <wsdl:part element="impl:obtenerVocabNamesResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvTaxonomiaService">
        <wsdl:operation name="chequearIdiomaTaxonomia">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:chequearIdiomaTaxonomia1Request" 
                        name="chequearIdiomaTaxonomia1Request"/>
            <wsdl:output message="impl:chequearIdiomaTaxonomia1Response" 
                         name="chequearIdiomaTaxonomia1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerArbolVigente">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerArbolVigente2Request" 
                        name="obtenerArbolVigente2Request"/>
            <wsdl:output message="impl:obtenerArbolVigente2Response" 
                         name="obtenerArbolVigente2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNodos">
                
            <wsdl:documentation> 
                metodo obtenerNodos
                Buscara en la Taxonomia nomTaxonmia del idioma correspondiente,
                el identificador id y devolvera los hijos de ese identificador
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNodos3Request" 
                        name="obtenerNodos3Request"/>
            <wsdl:output message="impl:obtenerNodos3Response" 
                         name="obtenerNodos3Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTaxonomia">
                
            <wsdl:documentation> 
                metodo obtenerTaxonomia
                Carga el primer nivel de hijos de una Taxonomia; el padre y los
                hijos
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTaxonomia4Request" 
                        name="obtenerTaxonomia4Request"/>
            <wsdl:output message="impl:obtenerTaxonomia4Response" 
                         name="obtenerTaxonomia4Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTaxonomiaCompletaPreorden">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTaxonomiaCompletaPreorden5Request" 
                        name="obtenerTaxonomiaCompletaPreorden5Request"/>
            <wsdl:output message="impl:obtenerTaxonomiaCompletaPreorden5Response" 
                         name="obtenerTaxonomiaCompletaPreorden5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTaxonomias">
                
            <wsdl:documentation> 
                Método que permite obtener las taxonomías del idioma indicado.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTaxonomias6Request" 
                        name="obtenerTaxonomias6Request"/>
            <wsdl:output message="impl:obtenerTaxonomias6Response" 
                         name="obtenerTaxonomias6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTaxonPath">
                
            <wsdl:documentation> 
                Metodo que obtendra toda la ruta taxonomica que define a un
                taxon dado.
                El metodo recogera un identificador del taxon a buscar. El
                metodo buscara en la taxonomia todos los taxones antecedentes al
                taxon dado. Se devolvera una lista de TaxonVO con toda la ruta.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTaxonPath7Request" 
                        name="obtenerTaxonPath7Request"/>
            <wsdl:output message="impl:obtenerTaxonPath7Response" 
                         name="obtenerTaxonPath7Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVariosTaxonPaths">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVariosTaxonPaths8Request" 
                        name="obtenerVariosTaxonPaths8Request"/>
            <wsdl:output message="impl:obtenerVariosTaxonPaths8Response" 
                         name="obtenerVariosTaxonPaths8Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVocabName">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVocabName9Request" 
                        name="obtenerVocabName9Request"/>
            <wsdl:output message="impl:obtenerVocabName9Response" 
                         name="obtenerVocabName9Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVocabNames">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVocabNames10Request" 
                        name="obtenerVocabNames10Request"/>
            <wsdl:output message="impl:obtenerVocabNames10Response" 
                         name="obtenerVocabNames10Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvTaxonomiaServiceSoapBinding" type="impl:SrvTaxonomiaService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="chequearIdiomaTaxonomia">
            <wsdlsoap:operation soapAction="chequearIdiomaTaxonomia" style="document"/>
            <wsdl:input name="chequearIdiomaTaxonomia1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="chequearIdiomaTaxonomia1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerArbolVigente">
            <wsdlsoap:operation soapAction="obtenerArbolVigente" style="document"/>
            <wsdl:input name="obtenerArbolVigente2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerArbolVigente2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNodos">
            <wsdlsoap:operation soapAction="obtenerNodos" style="document"/>
            <wsdl:input name="obtenerNodos3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNodos3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTaxonomia">
            <wsdlsoap:operation soapAction="obtenerTaxonomia" style="document"/>
            <wsdl:input name="obtenerTaxonomia4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTaxonomia4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTaxonomiaCompletaPreorden">
            <wsdlsoap:operation soapAction="obtenerTaxonomiaCompletaPreorden" style="document"/>
            <wsdl:input name="obtenerTaxonomiaCompletaPreorden5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTaxonomiaCompletaPreorden5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTaxonomias">
            <wsdlsoap:operation soapAction="obtenerTaxonomias" style="document"/>
            <wsdl:input name="obtenerTaxonomias6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTaxonomias6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTaxonPath">
            <wsdlsoap:operation soapAction="obtenerTaxonPath" style="document"/>
            <wsdl:input name="obtenerTaxonPath7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTaxonPath7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVariosTaxonPaths">
            <wsdlsoap:operation soapAction="obtenerVariosTaxonPaths" style="document"/>
            <wsdl:input name="obtenerVariosTaxonPaths8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVariosTaxonPaths8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVocabName">
            <wsdlsoap:operation soapAction="obtenerVocabName" style="document"/>
            <wsdl:input name="obtenerVocabName9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVocabName9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVocabNames">
            <wsdlsoap:operation soapAction="obtenerVocabNames" style="document"/>
            <wsdl:input name="obtenerVocabNames10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVocabNames10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvTaxonomiaServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvTaxonomiaServiceSoapBinding" name="SrvTaxonomiaService">
            <wsdlsoap:address location="http://localhost:8080/fuentestaxonomicas-1/services/SrvTaxonomiaService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>