gestorflujo/mda/src/wsdl/SrvGruposLicencias.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvGruposLicencias" 
    targetNamespace="http://servicio.licencias.catalogacion.pode.es"
    xmlns:impl="http://servicio.licencias.catalogacion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.licencias.catalogacion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="obtieneGrupoLicencias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="codigosLicencias" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtieneGrupoLicenciasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtieneGrupoLicenciasReturn" type="impl:ArrayOfGruposLicenciasVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtieneGrupoLicenciasFichero">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaManifest" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtieneGrupoLicenciasFicheroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtieneGrupoLicenciasFicheroReturn" type="impl:ArrayOfGruposLicenciasVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtieneLicenciaResultante">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="licenciaOrigen" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="licenciaAdicional" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtieneLicenciaResultanteResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtieneLicenciaResultanteReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="permiteObraDerivada">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaManifest" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="permiteObraDerivadaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="permiteObraDerivadaReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="validarLicencias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="pathManifest" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="validarLicenciasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="validarLicenciasReturn" type="impl:ValidarLicenciasVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="GruposLicenciasVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="grupoLicencias" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ordenLimitacion" nillable="false" type="xsd:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGruposLicenciasVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:GruposLicenciasVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidarLicenciasVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="resultado" nillable="false" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="licenciaAdicional" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificadorElemento" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="obtieneGrupoLicencias1Request">
        <wsdl:part element="impl:obtieneGrupoLicencias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtieneGrupoLicencias1Response">
        <wsdl:part element="impl:obtieneGrupoLicenciasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtieneGrupoLicenciasFichero2Request">
        <wsdl:part element="impl:obtieneGrupoLicenciasFichero" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtieneGrupoLicenciasFichero2Response">
        <wsdl:part element="impl:obtieneGrupoLicenciasFicheroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtieneLicenciaResultante3Request">
        <wsdl:part element="impl:obtieneLicenciaResultante" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtieneLicenciaResultante3Response">
        <wsdl:part element="impl:obtieneLicenciaResultanteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="permiteObraDerivada4Request">
        <wsdl:part element="impl:permiteObraDerivada" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="permiteObraDerivada4Response">
        <wsdl:part element="impl:permiteObraDerivadaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarLicencias5Request">
        <wsdl:part element="impl:validarLicencias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarLicencias5Response">
        <wsdl:part element="impl:validarLicenciasResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvGruposLicencias">
        <wsdl:operation name="obtieneGrupoLicencias">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtieneGrupoLicencias1Request" 
                        name="obtieneGrupoLicencias1Request"/>
            <wsdl:output message="impl:obtieneGrupoLicencias1Response" 
                         name="obtieneGrupoLicencias1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtieneGrupoLicenciasFichero">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtieneGrupoLicenciasFichero2Request" 
                        name="obtieneGrupoLicenciasFichero2Request"/>
            <wsdl:output message="impl:obtieneGrupoLicenciasFichero2Response" 
                         name="obtieneGrupoLicenciasFichero2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtieneLicenciaResultante">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtieneLicenciaResultante3Request" 
                        name="obtieneLicenciaResultante3Request"/>
            <wsdl:output message="impl:obtieneLicenciaResultante3Response" 
                         name="obtieneLicenciaResultante3Response"/>
        </wsdl:operation>
        <wsdl:operation name="permiteObraDerivada">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:permiteObraDerivada4Request" 
                        name="permiteObraDerivada4Request"/>
            <wsdl:output message="impl:permiteObraDerivada4Response" 
                         name="permiteObraDerivada4Response"/>
        </wsdl:operation>
        <wsdl:operation name="validarLicencias">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:validarLicencias5Request" 
                        name="validarLicencias5Request"/>
            <wsdl:output message="impl:validarLicencias5Response" 
                         name="validarLicencias5Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvGruposLicenciasSoapBinding" type="impl:SrvGruposLicencias">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtieneGrupoLicencias">
            <wsdlsoap:operation soapAction="obtieneGrupoLicencias" style="document"/>
            <wsdl:input name="obtieneGrupoLicencias1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneGrupoLicencias1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtieneGrupoLicenciasFichero">
            <wsdlsoap:operation soapAction="obtieneGrupoLicenciasFichero" style="document"/>
            <wsdl:input name="obtieneGrupoLicenciasFichero2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneGrupoLicenciasFichero2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtieneLicenciaResultante">
            <wsdlsoap:operation soapAction="obtieneLicenciaResultante" style="document"/>
            <wsdl:input name="obtieneLicenciaResultante3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneLicenciaResultante3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="permiteObraDerivada">
            <wsdlsoap:operation soapAction="permiteObraDerivada" style="document"/>
            <wsdl:input name="permiteObraDerivada4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="permiteObraDerivada4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="validarLicencias">
            <wsdlsoap:operation soapAction="validarLicencias" style="document"/>
            <wsdl:input name="validarLicencias5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validarLicencias5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvGruposLicenciasService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvGruposLicenciasSoapBinding" name="SrvGruposLicencias">
            <wsdlsoap:address location="http://localhost:8080/catalogacion-1/services/SrvGruposLicencias"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>