planificador/mda/src/wsdl/SrvIndexadorService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvIndexadorService" 
    targetNamespace="http://indexado.servicios.negocio.indexador.pode.es"
    xmlns:impl="http://indexado.servicios.negocio.indexador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://indexado.servicios.negocio.indexador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="borrarOdesPorIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina todos los odes correspondientes al idioma que estoy
                        pasando como par치metro.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma del cual quiero eliminar todos los odes indexados.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="num" type="xsd:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="borrarOdesPorIdiomaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="borrarPorIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina todos los odes correspondientes al idioma que estoy
                        pasando como par치metro.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Idioma del cual quiero eliminar todos los odes indexados.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="borrarPorIdiomaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Eliminacion de ODEs de los indices.
                        Se devuelve un array con el exito o fracaso de la regeneracion
                        para cada ode.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idODE" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Array de identificadores alfanumericos de los ODEs que se
                                    quieren eliminar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarODEReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="indexarODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo indexa un array de ODEs para todos los idiomas
                        disponibles.
                        Se devuelve un array con el exito o fracaso de la regeneracion
                        para cada ode.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="odes" type="impl:ArrayOfIdODEVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Contenido de los ODEs que se quieren indexar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="indexarODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="indexarODEReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="optimizarIndice">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="optimizarIndiceResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="regenerarIndice">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Se regenera el indice con la lista de ODEs que se le pasa. Se
                        borra el indice del idioma indicado y se puebla con los ODEs
                        suministrados.
                        Se devuelve un array con el exito o fracaso de la regeneracion
                        para cada ode.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Codigo de idioma correspondiente al indice que se quiere
                                    regenerar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="odes" type="impl:ArrayOfIdODEVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Contenido de los ODEs que se quieren indexar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="regenerarIndiceResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="regenerarIndiceReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="regenerarIndices">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo regenera todos los indices del repositorio con los
                        ODEs que se le pasan en el momento. Toma como parametro un
                        identificador de tarea donde escribe el resultado de la
                        ejecucion. Cada ODE se introduce en el indice del idioma al que
                        pertenece.
                        Se devuelve un array con el exito o fracaso de la regeneracion
                        para cada ode.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idTarea" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la tarea.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="odes" type="impl:ArrayOfIdODEVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    ODEs que se utilizan para la regeneracion de los indices.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="regenerarIndicesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="regenerarIndicesReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="reindexarODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo reindexa un array de ODEs para todos los idiomas
                        disponibles.
                        Se devuelve un array con el exito o fracaso de la regeneracion
                        para cada ode.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="odes" type="impl:ArrayOfIdODEVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Contenido de los ODEs que se quieren indexar.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="reindexarODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reindexarODEReturn" type="impl:ArrayOfIndexadorVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="sincronizarIndiceCompass">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="sincronizarIndiceCompassResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sincronizarIndiceCompassReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ArrayOfContribucionVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ContribucionVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ContribucionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Contribuci蚤 de personas y/o entidades al estado del ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="codTipoContribucion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de contribuci蚤
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de la contribuci蚤
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="entidades" nillable="true" type="impl:ArrayOfEntidadVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Entidades (persona u organizaciones) que han contribuido en el
                                ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EliminaODEException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEntidadVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:EntidadVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EntidadVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Persona y/o organizaci蚤 que ha contribuido en el ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre del contribuidor
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="organizacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Organizaci蚤 a la que pertenece el contribuidor
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IdODEVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase modela los datos relevantes de ser indexados del ODE,
                         y las relaciones con LomESPrimarioVO y LomEsSecundarioVO
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="localizadorODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Localizador del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valoracion" nillable="false" type="soapenc:float">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valoracion del ODE una vez que se ha publicado
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secuencia" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Con secuencia o sin secuencia.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="imgFile" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                URL a la imagen del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tamanio" nillable="false" type="soapenc:float">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tamanio del ODE en disco.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="catalogacionSecundaria" nillable="true" type="impl:ArrayOfLomESSecundarioVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="catalogacionPrimaria" nillable="true" type="impl:LomESPrimarioVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdODEVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IdODEVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IndexacionTotalException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IndexadorVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este objeto de valor devuelve el exito o fracaso para cada ODE
                        de una operacion, ademas de su localizaci칩n
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="localizador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Localizador del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="code" nillable="false" type="xsd:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Devuelve un c칩digo num칠rico con el exito o fracaso de la
                                operaci칩n
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mensaje" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Mensaje que muestra el ODE con el exito o fracaso de la
                                operacion.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIndexadorVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:IndexadorVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IndexaODEException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LomESPrimarioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase modela los datos relevantes de ser indexados en el
                        cuerpo de un LOM-ES primario de un ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recurso" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Recursos presentes en un ODE. Un ODE puede estar compuesto de
                                multiples elementos y estos ser de diferentes tipos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="procesosCognitivos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Procesos cognitivos del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="palabrasClave" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Palabras clave del LomESPrimario
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelesEducativos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Niveles educativos presentes en el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="licencia" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La licencia a la que esta sujeta el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                idioma de b칰squeda del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formatos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Formatos presentes en el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha en la que se publica el ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="edades" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Edades de los usuarios a los que va dirigidos la accion lectiva
                                del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarios" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Destinatarios a los que va dirigido el ODE.  Un ODE puede tener
                                como destinatarios de la accion lectiva diferentes colectivos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="curso" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Curso al que pertenece el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contextos" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Los contextos presentes en el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autor" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Autor del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taxonomia" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Taxonom칤a a la que pertenece el ODE. Pueden existir varias
                                clasificaciones para un mismo ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ambito" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ambito del ODE. (Universal o de otro ambito)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nivel de Agregacion del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tesauros" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Ramas del tesauro ETB en los que esta catalogado el ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fuente" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fuentes sobre las que se relaciona el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="relacion" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Relacion del ODE con otros contenidos.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="publicador" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Publicador del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contribuidor" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contribuidor al contenido del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="alcance" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Alcance del contenido del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripciones" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Variable para recuperar las descripciones del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="literalesArbolCurricular" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Array con todos los t칠rminos pertencientes a rutas del 치rbol
                                curricular(vigentes) con las que esta catolagado el ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contribuciones" nillable="true" type="impl:ArrayOfContribucionVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Contribuciones de personas y/o entidades al estado del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfLomESSecundarioVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:LomESSecundarioVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LomESSecundarioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Esta clase modela los datos relevantes de ser indexados en el
                        cuerpo de un LOM-ES secundario de un ODE.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                T칤tulo de un elemento concreto (item, recursos,..) dentro del
                                manifest
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="palabrasClave" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Palabras Clave de un elemento concreto (item, recursos,....)
                                dentro del manifest
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripci칩n de un elemento concreto (item, recursos,....)
                                dentro del manifest
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReindexadoException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReindexaODEException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="borrarOdesPorIdioma1Request">
        <wsdl:part element="impl:borrarOdesPorIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="borrarOdesPorIdioma1Response">
        <wsdl:part element="impl:borrarOdesPorIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="borrarPorIdioma2Request">
        <wsdl:part element="impl:borrarPorIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="borrarPorIdioma2Response">
        <wsdl:part element="impl:borrarPorIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarODE3Request">
        <wsdl:part element="impl:eliminarODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarODE3Response">
        <wsdl:part element="impl:eliminarODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="indexarODE4Request">
        <wsdl:part element="impl:indexarODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="indexarODE4Response">
        <wsdl:part element="impl:indexarODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="optimizarIndice5Request">
        <wsdl:part element="impl:optimizarIndice" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="optimizarIndice5Response">
        <wsdl:part element="impl:optimizarIndiceResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="regenerarIndice6Request">
        <wsdl:part element="impl:regenerarIndice" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="regenerarIndice6Response">
        <wsdl:part element="impl:regenerarIndiceResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="regenerarIndices7Request">
        <wsdl:part element="impl:regenerarIndices" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="regenerarIndices7Response">
        <wsdl:part element="impl:regenerarIndicesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="reindexarODE8Request">
        <wsdl:part element="impl:reindexarODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="reindexarODE8Response">
        <wsdl:part element="impl:reindexarODEResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="sincronizarIndiceCompass9Request">
        <wsdl:part element="impl:sincronizarIndiceCompass" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="sincronizarIndiceCompass9Response">
        <wsdl:part element="impl:sincronizarIndiceCompassResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvIndexadorService">
        <wsdl:operation name="borrarOdesPorIdioma">
                
            <wsdl:documentation> 
                Elimina todos los odes correspondientes al idioma que estoy
                pasando como par치metro.
            </wsdl:documentation>
            <wsdl:input message="impl:borrarOdesPorIdioma1Request" 
                        name="borrarOdesPorIdioma1Request"/>
            <wsdl:output message="impl:borrarOdesPorIdioma1Response" 
                         name="borrarOdesPorIdioma1Response"/>
        </wsdl:operation>
        <wsdl:operation name="borrarPorIdioma">
                
            <wsdl:documentation> 
                Elimina todos los odes correspondientes al idioma que estoy
                pasando como par치metro.
            </wsdl:documentation>
            <wsdl:input message="impl:borrarPorIdioma2Request" 
                        name="borrarPorIdioma2Request"/>
            <wsdl:output message="impl:borrarPorIdioma2Response" 
                         name="borrarPorIdioma2Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarODE">
                
            <wsdl:documentation> 
                Eliminacion de ODEs de los indices.
                Se devuelve un array con el exito o fracaso de la regeneracion
                para cada ode.
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarODE3Request" 
                        name="eliminarODE3Request"/>
            <wsdl:output message="impl:eliminarODE3Response" 
                         name="eliminarODE3Response"/>
        </wsdl:operation>
        <wsdl:operation name="indexarODE">
                
            <wsdl:documentation> 
                Este metodo indexa un array de ODEs para todos los idiomas
                disponibles.
                Se devuelve un array con el exito o fracaso de la regeneracion
                para cada ode.
            </wsdl:documentation>
            <wsdl:input message="impl:indexarODE4Request" 
                        name="indexarODE4Request"/>
            <wsdl:output message="impl:indexarODE4Response" 
                         name="indexarODE4Response"/>
        </wsdl:operation>
        <wsdl:operation name="optimizarIndice">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:optimizarIndice5Request" 
                        name="optimizarIndice5Request"/>
            <wsdl:output message="impl:optimizarIndice5Response" 
                         name="optimizarIndice5Response"/>
        </wsdl:operation>
        <wsdl:operation name="regenerarIndice">
                
            <wsdl:documentation> 
                Se regenera el indice con la lista de ODEs que se le pasa. Se
                borra el indice del idioma indicado y se puebla con los ODEs
                suministrados.
                Se devuelve un array con el exito o fracaso de la regeneracion
                para cada ode.
            </wsdl:documentation>
            <wsdl:input message="impl:regenerarIndice6Request" 
                        name="regenerarIndice6Request"/>
            <wsdl:output message="impl:regenerarIndice6Response" 
                         name="regenerarIndice6Response"/>
        </wsdl:operation>
        <wsdl:operation name="regenerarIndices">
                
            <wsdl:documentation> 
                Este metodo regenera todos los indices del repositorio con los
                ODEs que se le pasan en el momento. Toma como parametro un
                identificador de tarea donde escribe el resultado de la
                ejecucion. Cada ODE se introduce en el indice del idioma al que
                pertenece.
                Se devuelve un array con el exito o fracaso de la regeneracion
                para cada ode.
            </wsdl:documentation>
            <wsdl:input message="impl:regenerarIndices7Request" 
                        name="regenerarIndices7Request"/>
            <wsdl:output message="impl:regenerarIndices7Response" 
                         name="regenerarIndices7Response"/>
        </wsdl:operation>
        <wsdl:operation name="reindexarODE">
                
            <wsdl:documentation> 
                Este metodo reindexa un array de ODEs para todos los idiomas
                disponibles.
                Se devuelve un array con el exito o fracaso de la regeneracion
                para cada ode.
            </wsdl:documentation>
            <wsdl:input message="impl:reindexarODE8Request" 
                        name="reindexarODE8Request"/>
            <wsdl:output message="impl:reindexarODE8Response" 
                         name="reindexarODE8Response"/>
        </wsdl:operation>
        <wsdl:operation name="sincronizarIndiceCompass">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:sincronizarIndiceCompass9Request" 
                        name="sincronizarIndiceCompass9Request"/>
            <wsdl:output message="impl:sincronizarIndiceCompass9Response" 
                         name="sincronizarIndiceCompass9Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvIndexadorServiceSoapBinding" type="impl:SrvIndexadorService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="borrarOdesPorIdioma">
            <wsdlsoap:operation soapAction="borrarOdesPorIdioma" style="document"/>
            <wsdl:input name="borrarOdesPorIdioma1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="borrarOdesPorIdioma1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="borrarPorIdioma">
            <wsdlsoap:operation soapAction="borrarPorIdioma" style="document"/>
            <wsdl:input name="borrarPorIdioma2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="borrarPorIdioma2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarODE">
            <wsdlsoap:operation soapAction="eliminarODE" style="document"/>
            <wsdl:input name="eliminarODE3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarODE3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="indexarODE">
            <wsdlsoap:operation soapAction="indexarODE" style="document"/>
            <wsdl:input name="indexarODE4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="indexarODE4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="optimizarIndice">
            <wsdlsoap:operation soapAction="optimizarIndice" style="document"/>
            <wsdl:input name="optimizarIndice5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="optimizarIndice5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="regenerarIndice">
            <wsdlsoap:operation soapAction="regenerarIndice" style="document"/>
            <wsdl:input name="regenerarIndice6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="regenerarIndice6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="regenerarIndices">
            <wsdlsoap:operation soapAction="regenerarIndices" style="document"/>
            <wsdl:input name="regenerarIndices7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="regenerarIndices7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="reindexarODE">
            <wsdlsoap:operation soapAction="reindexarODE" style="document"/>
            <wsdl:input name="reindexarODE8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="reindexarODE8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="sincronizarIndiceCompass">
            <wsdlsoap:operation soapAction="sincronizarIndiceCompass" style="document"/>
            <wsdl:input name="sincronizarIndiceCompass9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sincronizarIndiceCompass9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvIndexadorServiceService">
        <wsdl:documentation> 
            Este servicio implementa todos los metodos necesarios para
            indexar informacion en los indices. Ademas de indexar, se puede
            gestionar el reindexado y la eliminacion de elementos.
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvIndexadorServiceSoapBinding" name="SrvIndexadorService">
            <wsdlsoap:address location="http://localhost:8080/indexador-0.1/services/SrvIndexadorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>