planificador/mda/src/wsdl/SrvNodoService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvNodoService" 
    targetNamespace="http://servicio.administrar.negocio.buscar.pode.es"
    xmlns:impl="http://servicio.administrar.negocio.buscar.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.administrar.negocio.buscar.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="actualizarIndices">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="actualizarIndicesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="actualizarIndicesReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearEstadisticasLocales">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="crearEstadisticasLocalesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearEstadisticasLocalesReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearEstadisticasTotales">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="crearEstadisticasTotalesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearEstadisticasTotalesReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nodo" type="impl:NodoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearNodoReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarNodoReturn" type="impl:ValidaBajaNodoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarTodosLosNodos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="eliminarTodosLosNodosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarTodosLosNodosReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="estaDadoAlta">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="url" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="urlWS" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="estaDadoAltaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estaDadoAltaReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="existeNombreNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombreNodo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="existeNombreNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="existeNombreNodoReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarNodos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarNodosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarNodosReturn" type="impl:ArrayOfNodoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nodo" type="impl:NodoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarNodoReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCCAA">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCCAAResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCCAAReturn" type="impl:CcaaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCCAAs">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerCCAAsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCCAAsReturn" type="impl:ArrayOfCcaaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNodoReturn" type="impl:NodoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerNodoID">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerNodoIDResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerNodoIDReturn" type="impl:NodoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerServicio">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerServicioResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerServicioReturn" type="impl:ServicioVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerServicios">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerServiciosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerServiciosReturn" type="impl:ArrayOfServicioVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="subirIndices">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="subirIndicesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="subirIndicesReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="CcaaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="codigo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCcaaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CcaaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NodoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nodo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaAlta" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="puerto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="urlWS" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idNodo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del nodo que se va a publicar en la plataforma
                                Agrega.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ccaa" nillable="true" type="impl:CcaaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="servicio" nillable="true" type="impl:ArrayOfServicioVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfNodoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:NodoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfServicioVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ServicioVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServicioVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidaBajaNodoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nodosBorrados" nillable="false" type="impl:ArrayOfNodoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcionBaja" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_long">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:long" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="actualizarIndices1Request">
        <wsdl:part element="impl:actualizarIndices" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actualizarIndices1Response">
        <wsdl:part element="impl:actualizarIndicesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearEstadisticasLocales2Request">
        <wsdl:part element="impl:crearEstadisticasLocales" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearEstadisticasLocales2Response">
        <wsdl:part element="impl:crearEstadisticasLocalesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearEstadisticasTotales3Request">
        <wsdl:part element="impl:crearEstadisticasTotales" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearEstadisticasTotales3Response">
        <wsdl:part element="impl:crearEstadisticasTotalesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearNodo4Request">
        <wsdl:part element="impl:crearNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearNodo4Response">
        <wsdl:part element="impl:crearNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarNodo5Request">
        <wsdl:part element="impl:eliminarNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarNodo5Response">
        <wsdl:part element="impl:eliminarNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTodosLosNodos6Request">
        <wsdl:part element="impl:eliminarTodosLosNodos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarTodosLosNodos6Response">
        <wsdl:part element="impl:eliminarTodosLosNodosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estaDadoAlta7Request">
        <wsdl:part element="impl:estaDadoAlta" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estaDadoAlta7Response">
        <wsdl:part element="impl:estaDadoAltaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="existeNombreNodo8Request">
        <wsdl:part element="impl:existeNombreNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="existeNombreNodo8Response">
        <wsdl:part element="impl:existeNombreNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarNodos9Request">
        <wsdl:part element="impl:listarNodos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarNodos9Response">
        <wsdl:part element="impl:listarNodosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarNodo10Request">
        <wsdl:part element="impl:modificarNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarNodo10Response">
        <wsdl:part element="impl:modificarNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCCAA11Request">
        <wsdl:part element="impl:obtenerCCAA" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCCAA11Response">
        <wsdl:part element="impl:obtenerCCAAResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCCAAs12Request">
        <wsdl:part element="impl:obtenerCCAAs" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCCAAs12Response">
        <wsdl:part element="impl:obtenerCCAAsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodo13Request">
        <wsdl:part element="impl:obtenerNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodo13Response">
        <wsdl:part element="impl:obtenerNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodoID14Request">
        <wsdl:part element="impl:obtenerNodoID" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerNodoID14Response">
        <wsdl:part element="impl:obtenerNodoIDResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerServicio15Request">
        <wsdl:part element="impl:obtenerServicio" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerServicio15Response">
        <wsdl:part element="impl:obtenerServicioResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerServicios16Request">
        <wsdl:part element="impl:obtenerServicios" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerServicios16Response">
        <wsdl:part element="impl:obtenerServiciosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirIndices17Request">
        <wsdl:part element="impl:subirIndices" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirIndices17Response">
        <wsdl:part element="impl:subirIndicesResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvNodoService">
        <wsdl:operation name="actualizarIndices">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:actualizarIndices1Request" 
                        name="actualizarIndices1Request"/>
            <wsdl:output message="impl:actualizarIndices1Response" 
                         name="actualizarIndices1Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearEstadisticasLocales">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:crearEstadisticasLocales2Request" 
                        name="crearEstadisticasLocales2Request"/>
            <wsdl:output message="impl:crearEstadisticasLocales2Response" 
                         name="crearEstadisticasLocales2Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearEstadisticasTotales">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:crearEstadisticasTotales3Request" 
                        name="crearEstadisticasTotales3Request"/>
            <wsdl:output message="impl:crearEstadisticasTotales3Response" 
                         name="crearEstadisticasTotales3Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:crearNodo4Request" 
                        name="crearNodo4Request"/>
            <wsdl:output message="impl:crearNodo4Response" 
                         name="crearNodo4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarNodo5Request" 
                        name="eliminarNodo5Request"/>
            <wsdl:output message="impl:eliminarNodo5Response" 
                         name="eliminarNodo5Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarTodosLosNodos">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarTodosLosNodos6Request" 
                        name="eliminarTodosLosNodos6Request"/>
            <wsdl:output message="impl:eliminarTodosLosNodos6Response" 
                         name="eliminarTodosLosNodos6Response"/>
        </wsdl:operation>
        <wsdl:operation name="estaDadoAlta">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:estaDadoAlta7Request" 
                        name="estaDadoAlta7Request"/>
            <wsdl:output message="impl:estaDadoAlta7Response" 
                         name="estaDadoAlta7Response"/>
        </wsdl:operation>
        <wsdl:operation name="existeNombreNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:existeNombreNodo8Request" 
                        name="existeNombreNodo8Request"/>
            <wsdl:output message="impl:existeNombreNodo8Response" 
                         name="existeNombreNodo8Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarNodos">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarNodos9Request" 
                        name="listarNodos9Request"/>
            <wsdl:output message="impl:listarNodos9Response" 
                         name="listarNodos9Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarNodo10Request" 
                        name="modificarNodo10Request"/>
            <wsdl:output message="impl:modificarNodo10Response" 
                         name="modificarNodo10Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCCAA">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCCAA11Request" 
                        name="obtenerCCAA11Request"/>
            <wsdl:output message="impl:obtenerCCAA11Response" 
                         name="obtenerCCAA11Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCCAAs">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCCAAs12Request" 
                        name="obtenerCCAAs12Request"/>
            <wsdl:output message="impl:obtenerCCAAs12Response" 
                         name="obtenerCCAAs12Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNodo13Request" 
                        name="obtenerNodo13Request"/>
            <wsdl:output message="impl:obtenerNodo13Response" 
                         name="obtenerNodo13Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerNodoID">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerNodoID14Request" 
                        name="obtenerNodoID14Request"/>
            <wsdl:output message="impl:obtenerNodoID14Response" 
                         name="obtenerNodoID14Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerServicio">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerServicio15Request" 
                        name="obtenerServicio15Request"/>
            <wsdl:output message="impl:obtenerServicio15Response" 
                         name="obtenerServicio15Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerServicios">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerServicios16Request" 
                        name="obtenerServicios16Request"/>
            <wsdl:output message="impl:obtenerServicios16Response" 
                         name="obtenerServicios16Response"/>
        </wsdl:operation>
        <wsdl:operation name="subirIndices">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:subirIndices17Request" 
                        name="subirIndices17Request"/>
            <wsdl:output message="impl:subirIndices17Response" 
                         name="subirIndices17Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvNodoServiceSoapBinding" type="impl:SrvNodoService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="actualizarIndices">
            <wsdlsoap:operation soapAction="actualizarIndices" style="document"/>
            <wsdl:input name="actualizarIndices1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="actualizarIndices1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearEstadisticasLocales">
            <wsdlsoap:operation soapAction="crearEstadisticasLocales" style="document"/>
            <wsdl:input name="crearEstadisticasLocales2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearEstadisticasLocales2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearEstadisticasTotales">
            <wsdlsoap:operation soapAction="crearEstadisticasTotales" style="document"/>
            <wsdl:input name="crearEstadisticasTotales3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearEstadisticasTotales3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearNodo">
            <wsdlsoap:operation soapAction="crearNodo" style="document"/>
            <wsdl:input name="crearNodo4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearNodo4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarNodo">
            <wsdlsoap:operation soapAction="eliminarNodo" style="document"/>
            <wsdl:input name="eliminarNodo5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarNodo5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarTodosLosNodos">
            <wsdlsoap:operation soapAction="eliminarTodosLosNodos" style="document"/>
            <wsdl:input name="eliminarTodosLosNodos6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarTodosLosNodos6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="estaDadoAlta">
            <wsdlsoap:operation soapAction="estaDadoAlta" style="document"/>
            <wsdl:input name="estaDadoAlta7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="estaDadoAlta7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="existeNombreNodo">
            <wsdlsoap:operation soapAction="existeNombreNodo" style="document"/>
            <wsdl:input name="existeNombreNodo8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="existeNombreNodo8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarNodos">
            <wsdlsoap:operation soapAction="listarNodos" style="document"/>
            <wsdl:input name="listarNodos9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarNodos9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarNodo">
            <wsdlsoap:operation soapAction="modificarNodo" style="document"/>
            <wsdl:input name="modificarNodo10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarNodo10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCCAA">
            <wsdlsoap:operation soapAction="obtenerCCAA" style="document"/>
            <wsdl:input name="obtenerCCAA11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCCAA11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCCAAs">
            <wsdlsoap:operation soapAction="obtenerCCAAs" style="document"/>
            <wsdl:input name="obtenerCCAAs12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCCAAs12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNodo">
            <wsdlsoap:operation soapAction="obtenerNodo" style="document"/>
            <wsdl:input name="obtenerNodo13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNodo13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerNodoID">
            <wsdlsoap:operation soapAction="obtenerNodoID" style="document"/>
            <wsdl:input name="obtenerNodoID14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerNodoID14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerServicio">
            <wsdlsoap:operation soapAction="obtenerServicio" style="document"/>
            <wsdl:input name="obtenerServicio15Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerServicio15Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerServicios">
            <wsdlsoap:operation soapAction="obtenerServicios" style="document"/>
            <wsdl:input name="obtenerServicios16Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerServicios16Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="subirIndices">
            <wsdlsoap:operation soapAction="subirIndices" style="document"/>
            <wsdl:input name="subirIndices17Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="subirIndices17Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvNodoServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvNodoServiceSoapBinding" name="SrvNodoService">
            <wsdlsoap:address location="http://localhost:8080/buscar-1/services/SrvNodoService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>