planificador/mda/src/wsdl/SrvOaiOre.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvOaiOre" 
    targetNamespace="http://servicio.negocio.oaiore.pode.es"
    xmlns:impl="http://servicio.negocio.oaiore.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.oaiore.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="entregarAtom">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Entrega el atom solicitado como un String
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="tipo" type="impl:TipoAtomOre" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="entregarAtomResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entregarAtomReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="generarOreAtom">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Genera un Atom representando información de OAI-ORE
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="tipo" type="soapenc:int" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    0 es todos
                                    1 es nivel agregacion
                                    2 es area curricular
                                    3 es tesauro
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="generarOreAtomResponse">       
                <xsd:complexType/>     
            </xsd:element>


            <xsd:complexType name="TipoAtomOre">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nivelAgregacion" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nivel de agregacion
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="areaCurricular" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Área curricular
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tesauro" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tesauro
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipo" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo de informe:
                                1 es nivel agregacion
                                2 es area curricular
                                3 es tesauro
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="entregarAtom1Request">
        <wsdl:part element="impl:entregarAtom" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="entregarAtom1Response">
        <wsdl:part element="impl:entregarAtomResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarOreAtom2Request">
        <wsdl:part element="impl:generarOreAtom" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="generarOreAtom2Response">
        <wsdl:part element="impl:generarOreAtomResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvOaiOre">
        <wsdl:operation name="entregarAtom">
                
            <wsdl:documentation> 
                Entrega el atom solicitado como un String
            </wsdl:documentation>
            <wsdl:input message="impl:entregarAtom1Request" 
                        name="entregarAtom1Request"/>
            <wsdl:output message="impl:entregarAtom1Response" 
                         name="entregarAtom1Response"/>
        </wsdl:operation>
        <wsdl:operation name="generarOreAtom">
                
            <wsdl:documentation> 
                Genera un Atom representando información de OAI-ORE
            </wsdl:documentation>
            <wsdl:input message="impl:generarOreAtom2Request" 
                        name="generarOreAtom2Request"/>
            <wsdl:output message="impl:generarOreAtom2Response" 
                         name="generarOreAtom2Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvOaiOreSoapBinding" type="impl:SrvOaiOre">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="entregarAtom">
            <wsdlsoap:operation soapAction="entregarAtom" style="document"/>
            <wsdl:input name="entregarAtom1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="entregarAtom1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="generarOreAtom">
            <wsdlsoap:operation soapAction="generarOreAtom" style="document"/>
            <wsdl:input name="generarOreAtom2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generarOreAtom2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvOaiOreService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvOaiOreSoapBinding" name="SrvOaiOre">
            <wsdlsoap:address location="http://localhost:8080/oaipmh/services/SrvOaiOre"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>