empaquetadorbasico/mda/src/wsdl/DescomprimeYvalida.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="DescomprimeYvalida" 
    targetNamespace="http://soporte.negocio.herramientaOffline.pode.es"
    xmlns:impl="http://soporte.negocio.herramientaOffline.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://soporte.negocio.herramientaOffline.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="creacion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="titulo" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="creacionResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarOdes">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificadores" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarOdesResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="listarOdes">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarOdesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarOdesReturn" type="impl:ArrayOfOdeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarOde">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="titulo" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarOdeResponse">       
                <xsd:complexType/>     
            </xsd:element>


            <xsd:complexType name="OdeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfOdeVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:OdeVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="creacion1Request">
        <wsdl:part element="impl:creacion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="creacion1Response">
        <wsdl:part element="impl:creacionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarOdes2Request">
        <wsdl:part element="impl:eliminarOdes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarOdes2Response">
        <wsdl:part element="impl:eliminarOdesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarOdes3Request">
        <wsdl:part element="impl:listarOdes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarOdes3Response">
        <wsdl:part element="impl:listarOdesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarOde4Request">
        <wsdl:part element="impl:modificarOde" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarOde4Response">
        <wsdl:part element="impl:modificarOdeResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="DescomprimeYvalida">
        <wsdl:operation name="creacion">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:creacion1Request" 
                        name="creacion1Request"/>
            <wsdl:output message="impl:creacion1Response" 
                         name="creacion1Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarOdes">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarOdes2Request" 
                        name="eliminarOdes2Request"/>
            <wsdl:output message="impl:eliminarOdes2Response" 
                         name="eliminarOdes2Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarOdes">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarOdes3Request" 
                        name="listarOdes3Request"/>
            <wsdl:output message="impl:listarOdes3Response" 
                         name="listarOdes3Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarOde">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarOde4Request" 
                        name="modificarOde4Request"/>
            <wsdl:output message="impl:modificarOde4Response" 
                         name="modificarOde4Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="DescomprimeYvalidaSoapBinding" type="impl:DescomprimeYvalida">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="creacion">
            <wsdlsoap:operation soapAction="creacion" style="document"/>
            <wsdl:input name="creacion1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="creacion1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarOdes">
            <wsdlsoap:operation soapAction="eliminarOdes" style="document"/>
            <wsdl:input name="eliminarOdes2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarOdes2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarOdes">
            <wsdlsoap:operation soapAction="listarOdes" style="document"/>
            <wsdl:input name="listarOdes3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarOdes3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarOde">
            <wsdlsoap:operation soapAction="modificarOde" style="document"/>
            <wsdl:input name="modificarOde4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarOde4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="DescomprimeYvalidaService">
        <wsdl:documentation> 
            Esta clase contiene metodos comunes de trabajo de todas las
            clases, tales como descomprimir y validar.
        </wsdl:documentation>
        <wsdl:port binding="impl:DescomprimeYvalidaSoapBinding" name="DescomprimeYvalida">
            <wsdlsoap:address location="http://localhost:8080/HerramientaOffline-1/services/DescomprimeYvalida"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>