validador/mda/src/wsdl/SrvPropiedadService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvPropiedadService" 
    targetNamespace="http://servicios.negocio.configuracionPlataforma.pode.es"
    xmlns:impl="http://servicios.negocio.configuracionPlataforma.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.configuracionPlataforma.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="getPropiedad">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve una propiedad. Primero intenta localizarla como local y
                        si falla la busca como global.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadReturn" type="impl:PropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesJboss">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local. La instancia jboss puede ser global, default, node1,
                        node2, node3, node4, node5, o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesJbossResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesJbossReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesJbossPorCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local filtrandolas por categoria. La instancia jboss puede ser
                        global, default, node1, node2, node3, node4, node5, o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="categoria" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesJbossPorCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesJbossPorCategoriaReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesJbossPorFichero">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local filtrandolas por el campo ficherosAfectados. La instancia
                        jboss puede ser global, default, node1, node2, node3, node4,
                        node5, o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombreFichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesJbossPorFicheroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesJbossPorFicheroReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesLocales">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local. La instancia JBoss local se ajustara automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesLocalesReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesPorCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local filtrandolas por categoria. La instancia JBoss local se
                        ajustara automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="categoria" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesPorCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesLocalesPorCategoriaReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesPorFichero">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local filtrandolas por el campo ficherosAfectados.  La instancia
                        JBoss local se ajustara automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombreFichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesPorFicheroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesLocalesPorFicheroReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getValorPropiedad">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve el valor de una propiedad. Primero intenta localizarla
                        como local y si falla la busca como global.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getValorPropiedadResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getValorPropiedadReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getValorPropiedadJboss">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve el valor de la variable perteneciente a una instancia
                        JBoss determinada; global, default, node1, node2, node3, node4,
                        node5 o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getValorPropiedadJbossResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getValorPropiedadJbossReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getValorPropiedadLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve el valor de la variable perteneciente a la instancia
                        JBoss local.  La instancia JBoss local se ajustara
                        automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getValorPropiedadLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getValorPropiedadLocalReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="setValorPropiedadJboss">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Modifica el valor de la variable perteneciente a una instancia
                        JBoss determinada; global, default, node1, node2, node3, node4,
                        node5 o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="valor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setValorPropiedadJbossResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="setValorPropiedadJbossReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="setValorPropiedadLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Modifica el valor de la variable perteneciente a la instancia
                        JBoss local.  La instancia JBoss local se ajustara
                        automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="valor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setValorPropiedadLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="setValorPropiedadLocalReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="PropiedadVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valor" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ejemplo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoria" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipologia" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="modificable" nillable="false" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="instanciaJboss" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="requiereReinicioJboss" nillable="false" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ficherosAfectados" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPropiedadVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:PropiedadVO" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="getPropiedad1Request">
        <wsdl:part element="impl:getPropiedad" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedad1Response">
        <wsdl:part element="impl:getPropiedadResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJboss2Request">
        <wsdl:part element="impl:getPropiedadesJboss" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJboss2Response">
        <wsdl:part element="impl:getPropiedadesJbossResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJbossPorCategoria3Request">
        <wsdl:part element="impl:getPropiedadesJbossPorCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJbossPorCategoria3Response">
        <wsdl:part element="impl:getPropiedadesJbossPorCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJbossPorFichero4Request">
        <wsdl:part element="impl:getPropiedadesJbossPorFichero" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJbossPorFichero4Response">
        <wsdl:part element="impl:getPropiedadesJbossPorFicheroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocales5Request">
        <wsdl:part element="impl:getPropiedadesLocales" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocales5Response">
        <wsdl:part element="impl:getPropiedadesLocalesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocalesPorCategoria6Request">
        <wsdl:part element="impl:getPropiedadesLocalesPorCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocalesPorCategoria6Response">
        <wsdl:part element="impl:getPropiedadesLocalesPorCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocalesPorFichero7Request">
        <wsdl:part element="impl:getPropiedadesLocalesPorFichero" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocalesPorFichero7Response">
        <wsdl:part element="impl:getPropiedadesLocalesPorFicheroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedad8Request">
        <wsdl:part element="impl:getValorPropiedad" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedad8Response">
        <wsdl:part element="impl:getValorPropiedadResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedadJboss9Request">
        <wsdl:part element="impl:getValorPropiedadJboss" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedadJboss9Response">
        <wsdl:part element="impl:getValorPropiedadJbossResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedadLocal10Request">
        <wsdl:part element="impl:getValorPropiedadLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedadLocal10Response">
        <wsdl:part element="impl:getValorPropiedadLocalResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedadJboss11Request">
        <wsdl:part element="impl:setValorPropiedadJboss" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedadJboss11Response">
        <wsdl:part element="impl:setValorPropiedadJbossResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedadLocal12Request">
        <wsdl:part element="impl:setValorPropiedadLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedadLocal12Response">
        <wsdl:part element="impl:setValorPropiedadLocalResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvPropiedadService">
        <wsdl:operation name="getPropiedad">
                
            <wsdl:documentation> 
                Devuelve una propiedad. Primero intenta localizarla como local y
                si falla la busca como global.
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedad1Request" 
                        name="getPropiedad1Request"/>
            <wsdl:output message="impl:getPropiedad1Response" 
                         name="getPropiedad1Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesJboss">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local. La instancia jboss puede ser global, default, node1,
                node2, node3, node4, node5, o node6
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesJboss2Request" 
                        name="getPropiedadesJboss2Request"/>
            <wsdl:output message="impl:getPropiedadesJboss2Response" 
                         name="getPropiedadesJboss2Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesJbossPorCategoria">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local filtrandolas por categoria. La instancia jboss puede ser
                global, default, node1, node2, node3, node4, node5, o node6
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesJbossPorCategoria3Request" 
                        name="getPropiedadesJbossPorCategoria3Request"/>
            <wsdl:output message="impl:getPropiedadesJbossPorCategoria3Response" 
                         name="getPropiedadesJbossPorCategoria3Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesJbossPorFichero">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local filtrandolas por el campo ficherosAfectados. La instancia
                jboss puede ser global, default, node1, node2, node3, node4,
                node5, o node6
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesJbossPorFichero4Request" 
                        name="getPropiedadesJbossPorFichero4Request"/>
            <wsdl:output message="impl:getPropiedadesJbossPorFichero4Response" 
                         name="getPropiedadesJbossPorFichero4Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesLocales">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local. La instancia JBoss local se ajustara automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesLocales5Request" 
                        name="getPropiedadesLocales5Request"/>
            <wsdl:output message="impl:getPropiedadesLocales5Response" 
                         name="getPropiedadesLocales5Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesLocalesPorCategoria">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local filtrandolas por categoria. La instancia JBoss local se
                ajustara automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesLocalesPorCategoria6Request" 
                        name="getPropiedadesLocalesPorCategoria6Request"/>
            <wsdl:output message="impl:getPropiedadesLocalesPorCategoria6Response" 
                         name="getPropiedadesLocalesPorCategoria6Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesLocalesPorFichero">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local filtrandolas por el campo ficherosAfectados.  La instancia
                JBoss local se ajustara automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesLocalesPorFichero7Request" 
                        name="getPropiedadesLocalesPorFichero7Request"/>
            <wsdl:output message="impl:getPropiedadesLocalesPorFichero7Response" 
                         name="getPropiedadesLocalesPorFichero7Response"/>
        </wsdl:operation>
        <wsdl:operation name="getValorPropiedad">
                
            <wsdl:documentation> 
                Devuelve el valor de una propiedad. Primero intenta localizarla
                como local y si falla la busca como global.
            </wsdl:documentation>
            <wsdl:input message="impl:getValorPropiedad8Request" 
                        name="getValorPropiedad8Request"/>
            <wsdl:output message="impl:getValorPropiedad8Response" 
                         name="getValorPropiedad8Response"/>
        </wsdl:operation>
        <wsdl:operation name="getValorPropiedadJboss">
                
            <wsdl:documentation> 
                Devuelve el valor de la variable perteneciente a una instancia
                JBoss determinada; global, default, node1, node2, node3, node4,
                node5 o node6
            </wsdl:documentation>
            <wsdl:input message="impl:getValorPropiedadJboss9Request" 
                        name="getValorPropiedadJboss9Request"/>
            <wsdl:output message="impl:getValorPropiedadJboss9Response" 
                         name="getValorPropiedadJboss9Response"/>
        </wsdl:operation>
        <wsdl:operation name="getValorPropiedadLocal">
                
            <wsdl:documentation> 
                Devuelve el valor de la variable perteneciente a la instancia
                JBoss local.  La instancia JBoss local se ajustara
                automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:getValorPropiedadLocal10Request" 
                        name="getValorPropiedadLocal10Request"/>
            <wsdl:output message="impl:getValorPropiedadLocal10Response" 
                         name="getValorPropiedadLocal10Response"/>
        </wsdl:operation>
        <wsdl:operation name="setValorPropiedadJboss">
                
            <wsdl:documentation> 
                Modifica el valor de la variable perteneciente a una instancia
                JBoss determinada; global, default, node1, node2, node3, node4,
                node5 o node6
            </wsdl:documentation>
            <wsdl:input message="impl:setValorPropiedadJboss11Request" 
                        name="setValorPropiedadJboss11Request"/>
            <wsdl:output message="impl:setValorPropiedadJboss11Response" 
                         name="setValorPropiedadJboss11Response"/>
        </wsdl:operation>
        <wsdl:operation name="setValorPropiedadLocal">
                
            <wsdl:documentation> 
                Modifica el valor de la variable perteneciente a la instancia
                JBoss local.  La instancia JBoss local se ajustara
                automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:setValorPropiedadLocal12Request" 
                        name="setValorPropiedadLocal12Request"/>
            <wsdl:output message="impl:setValorPropiedadLocal12Response" 
                         name="setValorPropiedadLocal12Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvPropiedadServiceSoapBinding" type="impl:SrvPropiedadService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPropiedad">
            <wsdlsoap:operation soapAction="getPropiedad" style="document"/>
            <wsdl:input name="getPropiedad1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedad1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesJboss">
            <wsdlsoap:operation soapAction="getPropiedadesJboss" style="document"/>
            <wsdl:input name="getPropiedadesJboss2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesJboss2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesJbossPorCategoria">
            <wsdlsoap:operation soapAction="getPropiedadesJbossPorCategoria" style="document"/>
            <wsdl:input name="getPropiedadesJbossPorCategoria3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesJbossPorCategoria3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesJbossPorFichero">
            <wsdlsoap:operation soapAction="getPropiedadesJbossPorFichero" style="document"/>
            <wsdl:input name="getPropiedadesJbossPorFichero4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesJbossPorFichero4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesLocales">
            <wsdlsoap:operation soapAction="getPropiedadesLocales" style="document"/>
            <wsdl:input name="getPropiedadesLocales5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesLocales5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesLocalesPorCategoria">
            <wsdlsoap:operation soapAction="getPropiedadesLocalesPorCategoria" style="document"/>
            <wsdl:input name="getPropiedadesLocalesPorCategoria6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesLocalesPorCategoria6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesLocalesPorFichero">
            <wsdlsoap:operation soapAction="getPropiedadesLocalesPorFichero" style="document"/>
            <wsdl:input name="getPropiedadesLocalesPorFichero7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesLocalesPorFichero7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getValorPropiedad">
            <wsdlsoap:operation soapAction="getValorPropiedad" style="document"/>
            <wsdl:input name="getValorPropiedad8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getValorPropiedad8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getValorPropiedadJboss">
            <wsdlsoap:operation soapAction="getValorPropiedadJboss" style="document"/>
            <wsdl:input name="getValorPropiedadJboss9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getValorPropiedadJboss9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getValorPropiedadLocal">
            <wsdlsoap:operation soapAction="getValorPropiedadLocal" style="document"/>
            <wsdl:input name="getValorPropiedadLocal10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getValorPropiedadLocal10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setValorPropiedadJboss">
            <wsdlsoap:operation soapAction="setValorPropiedadJboss" style="document"/>
            <wsdl:input name="setValorPropiedadJboss11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setValorPropiedadJboss11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setValorPropiedadLocal">
            <wsdlsoap:operation soapAction="setValorPropiedadLocal" style="document"/>
            <wsdl:input name="setValorPropiedadLocal12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setValorPropiedadLocal12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvPropiedadServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvPropiedadServiceSoapBinding" name="SrvPropiedadService">
            <wsdlsoap:address location="http://localhost:8080/configuracionPlataforma-1.0/services/SrvPropiedadService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>