validador/mda/src/wsdl/SrvPropiedadService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvPropiedadService" 
    targetNamespace="http://servicios.configuracionPlataforma.pode.es"
    xmlns:impl="http://servicios.configuracionPlataforma.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.configuracionPlataforma.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="get">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="property" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedad">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="propiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadReturn" type="impl:PropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getUrlNodo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getUrlNodoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getUrlNodoReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="set">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="valor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="setReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="PropiedadVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="Nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Valor" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Ejemplo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="get1Request">
        <wsdl:part element="impl:get" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="get1Response">
        <wsdl:part element="impl:getResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedad2Request">
        <wsdl:part element="impl:getPropiedad" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedad2Response">
        <wsdl:part element="impl:getPropiedadResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getUrlNodo3Request">
        <wsdl:part element="impl:getUrlNodo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getUrlNodo3Response">
        <wsdl:part element="impl:getUrlNodoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="set4Request">
        <wsdl:part element="impl:set" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="set4Response">
        <wsdl:part element="impl:setResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvPropiedadService">
        <wsdl:operation name="get">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:get1Request" 
                        name="get1Request"/>
            <wsdl:output message="impl:get1Response" 
                         name="get1Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedad">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedad2Request" 
                        name="getPropiedad2Request"/>
            <wsdl:output message="impl:getPropiedad2Response" 
                         name="getPropiedad2Response"/>
        </wsdl:operation>
        <wsdl:operation name="getUrlNodo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:getUrlNodo3Request" 
                        name="getUrlNodo3Request"/>
            <wsdl:output message="impl:getUrlNodo3Response" 
                         name="getUrlNodo3Response"/>
        </wsdl:operation>
        <wsdl:operation name="set">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:set4Request" 
                        name="set4Request"/>
            <wsdl:output message="impl:set4Response" 
                         name="set4Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvPropiedadServiceSoapBinding" type="impl:SrvPropiedadService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <wsdlsoap:operation soapAction="get" style="document"/>
            <wsdl:input name="get1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="get1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedad">
            <wsdlsoap:operation soapAction="getPropiedad" style="document"/>
            <wsdl:input name="getPropiedad2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedad2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getUrlNodo">
            <wsdlsoap:operation soapAction="getUrlNodo" style="document"/>
            <wsdl:input name="getUrlNodo3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUrlNodo3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="set">
            <wsdlsoap:operation soapAction="set" style="document"/>
            <wsdl:input name="set4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="set4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvPropiedadServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvPropiedadServiceSoapBinding" name="SrvPropiedadService">
            <wsdlsoap:address location="http://localhost:8080/configuracionPlataforma-1.0/services/SrvPropiedadService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>