valoracion/mda/src/wsdl/SrvCacheService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvCacheService" 
    targetNamespace="http://servicios.buscar.negocio.buscar.pode.es"
    xmlns:impl="http://servicios.buscar.negocio.buscar.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.buscar.negocio.buscar.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="borrarHitCache">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="borrarHitCacheResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="borrarHitCacheReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="borrarHitCache1Request">
        <wsdl:part element="impl:borrarHitCache" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="borrarHitCache1Response">
        <wsdl:part element="impl:borrarHitCacheResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvCacheService">
        <wsdl:operation name="borrarHitCache">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:borrarHitCache1Request" 
                        name="borrarHitCache1Request"/>
            <wsdl:output message="impl:borrarHitCache1Response" 
                         name="borrarHitCache1Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvCacheServiceSoapBinding" type="impl:SrvCacheService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="borrarHitCache">
            <wsdlsoap:operation soapAction="borrarHitCache" style="document"/>
            <wsdl:input name="borrarHitCache1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="borrarHitCache1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvCacheServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvCacheServiceSoapBinding" name="SrvCacheService">
            <wsdlsoap:address location="http://localhost:8080/buscar-1/services/SrvCacheService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>