modificador/mda/src/wsdl/SrvTesaurosServices.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvTesaurosServices" 
    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:impl="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="chequearExistenciaIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        verifica la existencia de un tesauro para el idioma indicado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="chequearExistenciaIdiomaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="chequearExistenciaIdiomaReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="chequearIdiomaTesauro">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="chequearIdiomaTesauroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="chequearIdiomaTesauroReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerJerarquia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene la jerarquia de un término.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerJerarquiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerJerarquiaReturn" type="impl:ArrayOfJerarquiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerPrimerNivelTesauro">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene el primer nivel del Tesauro, es decir, aquellos términos
                        que no tengan padre.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerPrimerNivelTesauroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerPrimerNivelTesauroReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminos">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="texto" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosReturn" type="impl:ArrayOfJerarquiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorId">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene los términos que están relacionados pasándole como
                        parámetro el identificador de un término.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorIdResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionadosPorIdReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorTexto">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene los términos que están relacionados pasándole como
                        parámetro el texto de un término
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="textoTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorTextoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionadosPorTextoReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionAsociativa">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene los términos relacionados asociativamente con el
                        identificador que le pasamos como parámetro.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionAsociativaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionAsociativaReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionJerarquica">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Obtiene los términos relacionados jerarquicamente con el
                        identificador que le pasamos como parámetro
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionJerarquicaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionJerarquicaReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTesauros">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método que devuelve un listado con los tesauros del idioma
                        indicado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTesaurosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTesaurosReturn" type="impl:ArrayOfEstructuraVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTesauroVigente">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        obtiene el tesauro vigente de la plataforma.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerTesauroVigenteResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTesauroVigenteReturn" type="impl:EstructuraVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTextosDeIds">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        obtiene los textos asociados a los ids indicados para el tesauro
                        e idioma indicados.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTextosDeIdsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTextosDeIdsReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVocabName">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        obtiene el vocabname del pesauro indicando el nombre y el
                        idioma.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerVocabNameResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVocabNameReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVocabNames">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        obtiene los vocabnames de los tesauros pasados para el idioma
                        indicado.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTesauros" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerVocabNamesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVocabNamesReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="EstructuraVdexVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object que describe una taxonomía. indica el vocabName,
                        vocabIdentifier, idioma y un listado con  los taxones del primer
                        nivel de los existentes en la taxonomía.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="vocabName" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vocabIdentifier" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taxones" nillable="false" type="impl:ArrayOfTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfEstructuraVdexVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:EstructuraVdexVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="JerarquiaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="jerarquia" nillable="false" type="impl:ArrayOfTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfJerarquiaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:JerarquiaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxonVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Representa un taxon particular dentro de una taxonomia. Esta
                        compuesto por un identificador, un valor y un campo para
                        identificar si el taxon es hoja dentro de la taxonomia.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del taxon dentro de la taxonomia a la que
                                pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valorTax" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor del taxon en la taxonomia a la que pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esHoja" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Flag que indica si el taxon tiene descendientes en la taxonomia
                                a la que pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vocabName" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRelacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaxonVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaxonVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="chequearExistenciaIdioma1Request">
        <wsdl:part element="impl:chequearExistenciaIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearExistenciaIdioma1Response">
        <wsdl:part element="impl:chequearExistenciaIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaTesauro2Request">
        <wsdl:part element="impl:chequearIdiomaTesauro" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaTesauro2Response">
        <wsdl:part element="impl:chequearIdiomaTesauroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerJerarquia3Request">
        <wsdl:part element="impl:obtenerJerarquia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerJerarquia3Response">
        <wsdl:part element="impl:obtenerJerarquiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerPrimerNivelTesauro4Request">
        <wsdl:part element="impl:obtenerPrimerNivelTesauro" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerPrimerNivelTesauro4Response">
        <wsdl:part element="impl:obtenerPrimerNivelTesauroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminos5Request">
        <wsdl:part element="impl:obtenerTerminos" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminos5Response">
        <wsdl:part element="impl:obtenerTerminosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorId6Request">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorId" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorId6Response">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorIdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorTexto7Request">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorTexto" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorTexto7Response">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorTextoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionAsociativa8Request">
        <wsdl:part element="impl:obtenerTerminosRelacionAsociativa" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionAsociativa8Response">
        <wsdl:part element="impl:obtenerTerminosRelacionAsociativaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionJerarquica9Request">
        <wsdl:part element="impl:obtenerTerminosRelacionJerarquica" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionJerarquica9Response">
        <wsdl:part element="impl:obtenerTerminosRelacionJerarquicaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTesauros10Request">
        <wsdl:part element="impl:obtenerTesauros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTesauros10Response">
        <wsdl:part element="impl:obtenerTesaurosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTesauroVigente11Request">
        <wsdl:part element="impl:obtenerTesauroVigente" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTesauroVigente11Response">
        <wsdl:part element="impl:obtenerTesauroVigenteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTextosDeIds12Request">
        <wsdl:part element="impl:obtenerTextosDeIds" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTextosDeIds12Response">
        <wsdl:part element="impl:obtenerTextosDeIdsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabName13Request">
        <wsdl:part element="impl:obtenerVocabName" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabName13Response">
        <wsdl:part element="impl:obtenerVocabNameResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabNames14Request">
        <wsdl:part element="impl:obtenerVocabNames" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabNames14Response">
        <wsdl:part element="impl:obtenerVocabNamesResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvTesaurosServices">
        <wsdl:operation name="chequearExistenciaIdioma">
                
            <wsdl:documentation> 
                verifica la existencia de un tesauro para el idioma indicado.
            </wsdl:documentation>
            <wsdl:input message="impl:chequearExistenciaIdioma1Request" 
                        name="chequearExistenciaIdioma1Request"/>
            <wsdl:output message="impl:chequearExistenciaIdioma1Response" 
                         name="chequearExistenciaIdioma1Response"/>
        </wsdl:operation>
        <wsdl:operation name="chequearIdiomaTesauro">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:chequearIdiomaTesauro2Request" 
                        name="chequearIdiomaTesauro2Request"/>
            <wsdl:output message="impl:chequearIdiomaTesauro2Response" 
                         name="chequearIdiomaTesauro2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerJerarquia">
                
            <wsdl:documentation> 
                Obtiene la jerarquia de un término.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerJerarquia3Request" 
                        name="obtenerJerarquia3Request"/>
            <wsdl:output message="impl:obtenerJerarquia3Response" 
                         name="obtenerJerarquia3Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerPrimerNivelTesauro">
                
            <wsdl:documentation> 
                Obtiene el primer nivel del Tesauro, es decir, aquellos términos
                que no tengan padre.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerPrimerNivelTesauro4Request" 
                        name="obtenerPrimerNivelTesauro4Request"/>
            <wsdl:output message="impl:obtenerPrimerNivelTesauro4Response" 
                         name="obtenerPrimerNivelTesauro4Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminos">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminos5Request" 
                        name="obtenerTerminos5Request"/>
            <wsdl:output message="impl:obtenerTerminos5Response" 
                         name="obtenerTerminos5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionadosPorId">
                
            <wsdl:documentation> 
                Obtiene los términos que están relacionados pasándole como
                parámetro el identificador de un término.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionadosPorId6Request" 
                        name="obtenerTerminosRelacionadosPorId6Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionadosPorId6Response" 
                         name="obtenerTerminosRelacionadosPorId6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionadosPorTexto">
                
            <wsdl:documentation> 
                Obtiene los términos que están relacionados pasándole como
                parámetro el texto de un término
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionadosPorTexto7Request" 
                        name="obtenerTerminosRelacionadosPorTexto7Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionadosPorTexto7Response" 
                         name="obtenerTerminosRelacionadosPorTexto7Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionAsociativa">
                
            <wsdl:documentation> 
                Obtiene los términos relacionados asociativamente con el
                identificador que le pasamos como parámetro.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionAsociativa8Request" 
                        name="obtenerTerminosRelacionAsociativa8Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionAsociativa8Response" 
                         name="obtenerTerminosRelacionAsociativa8Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionJerarquica">
                
            <wsdl:documentation> 
                Obtiene los términos relacionados jerarquicamente con el
                identificador que le pasamos como parámetro
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionJerarquica9Request" 
                        name="obtenerTerminosRelacionJerarquica9Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionJerarquica9Response" 
                         name="obtenerTerminosRelacionJerarquica9Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTesauros">
                
            <wsdl:documentation> 
                Método que devuelve un listado con los tesauros del idioma
                indicado.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTesauros10Request" 
                        name="obtenerTesauros10Request"/>
            <wsdl:output message="impl:obtenerTesauros10Response" 
                         name="obtenerTesauros10Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTesauroVigente">
                
            <wsdl:documentation> 
                obtiene el tesauro vigente de la plataforma.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTesauroVigente11Request" 
                        name="obtenerTesauroVigente11Request"/>
            <wsdl:output message="impl:obtenerTesauroVigente11Response" 
                         name="obtenerTesauroVigente11Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTextosDeIds">
                
            <wsdl:documentation> 
                obtiene los textos asociados a los ids indicados para el tesauro
                e idioma indicados.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTextosDeIds12Request" 
                        name="obtenerTextosDeIds12Request"/>
            <wsdl:output message="impl:obtenerTextosDeIds12Response" 
                         name="obtenerTextosDeIds12Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVocabName">
                
            <wsdl:documentation> 
                obtiene el vocabname del pesauro indicando el nombre y el
                idioma.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVocabName13Request" 
                        name="obtenerVocabName13Request"/>
            <wsdl:output message="impl:obtenerVocabName13Response" 
                         name="obtenerVocabName13Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVocabNames">
                
            <wsdl:documentation> 
                obtiene los vocabnames de los tesauros pasados para el idioma
                indicado.
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVocabNames14Request" 
                        name="obtenerVocabNames14Request"/>
            <wsdl:output message="impl:obtenerVocabNames14Response" 
                         name="obtenerVocabNames14Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvTesaurosServicesSoapBinding" type="impl:SrvTesaurosServices">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="chequearExistenciaIdioma">
            <wsdlsoap:operation soapAction="chequearExistenciaIdioma" style="document"/>
            <wsdl:input name="chequearExistenciaIdioma1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="chequearExistenciaIdioma1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="chequearIdiomaTesauro">
            <wsdlsoap:operation soapAction="chequearIdiomaTesauro" style="document"/>
            <wsdl:input name="chequearIdiomaTesauro2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="chequearIdiomaTesauro2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerJerarquia">
            <wsdlsoap:operation soapAction="obtenerJerarquia" style="document"/>
            <wsdl:input name="obtenerJerarquia3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerJerarquia3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerPrimerNivelTesauro">
            <wsdlsoap:operation soapAction="obtenerPrimerNivelTesauro" style="document"/>
            <wsdl:input name="obtenerPrimerNivelTesauro4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerPrimerNivelTesauro4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminos">
            <wsdlsoap:operation soapAction="obtenerTerminos" style="document"/>
            <wsdl:input name="obtenerTerminos5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminos5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionadosPorId">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionadosPorId" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionadosPorId6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionadosPorId6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionadosPorTexto">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionadosPorTexto" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionadosPorTexto7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionadosPorTexto7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionAsociativa">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionAsociativa" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionAsociativa8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionAsociativa8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionJerarquica">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionJerarquica" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionJerarquica9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionJerarquica9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTesauros">
            <wsdlsoap:operation soapAction="obtenerTesauros" style="document"/>
            <wsdl:input name="obtenerTesauros10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTesauros10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTesauroVigente">
            <wsdlsoap:operation soapAction="obtenerTesauroVigente" style="document"/>
            <wsdl:input name="obtenerTesauroVigente11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTesauroVigente11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTextosDeIds">
            <wsdlsoap:operation soapAction="obtenerTextosDeIds" style="document"/>
            <wsdl:input name="obtenerTextosDeIds12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTextosDeIds12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVocabName">
            <wsdlsoap:operation soapAction="obtenerVocabName" style="document"/>
            <wsdl:input name="obtenerVocabName13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVocabName13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVocabNames">
            <wsdlsoap:operation soapAction="obtenerVocabNames" style="document"/>
            <wsdl:input name="obtenerVocabNames14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVocabNames14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvTesaurosServicesService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvTesaurosServicesSoapBinding" name="SrvTesaurosServices">
            <wsdlsoap:address location="http://localhost:8080/fuentestaxonomicas-1/services/SrvTesaurosServices"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>