modificador/mda/src/wsdl/SrvValidadorService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvValidadorService" 
    targetNamespace="http://servicio.negocio.validador.pode.es"
    xmlns:impl="http://servicio.negocio.validador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.validador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="obtenerValidacionBin">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaManifest" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerValidacionBinResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerValidacionBinReturn" type="impl:ValidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenervalidacionLigera">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaManifest" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipoOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    CA: contentAggregation--> si es obligatorio que tenga al menos
                                    una organizacion
                                    RCP: ResourceContentPackage --> la etiqueta organizations tiene
                                    que ir vacia
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenervalidacionLigeraResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenervalidacionLigeraReturn" type="impl:ValidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="validarCargaOde">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="validarCargaOdeResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="validarCargaOdeReturn" type="impl:ValidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="validarMDBasicosObl">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="mDBasicos" type="impl:MDBasicosOblVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="validarMDBasicosOblResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="validarMDBasicosOblReturn" type="impl:ValidaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="validarMec">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="rutaManifest" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="validarMecResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="validarMecReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ArrayOfErrorParseoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ErrorParseoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ErrorParseoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Objeto VO conteniendo los datos del mensaje de error devuelto en
                        el parseo contra esquema de los manifiestos.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="linea" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="columna" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mensaje" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MDBasicosOblVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        MDBasicosOblVO, tipo de datos para metadatos basicos
                        obligatorios; sus atributos son los que deben estar rellenos
                        obligatoriamente en los metadatos de tipo LOM-ES
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRecurso" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contexto" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="edad" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaDest" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="procesoCog" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Tipo que sera devuelto por los metodos del servicio. Esta
                        compuesto por tres Atributos:
                        rutaManifest: su tipo es string e informa de la ruta donde se
                        encuentra el fichero                                   
                        principal imsmanifest.xml
                        esValidoManifes: su tipo es Boolean e informa de si la
                        validacion ha sido correcta o no
                        resultadoValidacion: su tipo es String e informa de los errores
                        que se han producido con una serie de codigos que se detallan a
                        continuacion:
                        0.0 sin errores
                        1.1 imsmanifest es incorrecto
                        1.2 error de parseo en el manifest
                        1.3 error, la etiqueta principal debe ser manifest o lom
                        1.4 error de chequeo de contenidos
                        2.1 el LOM-ES es obligatorio para metadata
                        2.2 el LOM-ES es incorrecto
                        2.3 el LOM-ES es incorrecto para la etiqueta de organizaciones
                        3.1 no existe el ODE
                        4.1 los datos del formulario son obligatorios
                        4.2 el Titulo es obligatorio
                        4.3 el Idioma es obligatorio
                        4.4 la Descripcion es obligatoria
                        4.5 el Tipo es obligatorio
                        4.6 el Contexto es obligatorio
                        4.7 la Edad es obligatoria
                        4.8 el Idioma Destino es obligatorio
                        4.9 el Proceso Cognitivo es obligatorio
                        detalleValidacion: de tipo String, donde se recogerán los
                        errores de Xerces cuando se produzca un error en el parseo
                        contra esquemas.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="rutaManifest" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esValidoManifest" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadoValidacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="errores" nillable="true" type="impl:ArrayOfErrorParseoVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="obtenerValidacionBin1Request">
        <wsdl:part element="impl:obtenerValidacionBin" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerValidacionBin1Response">
        <wsdl:part element="impl:obtenerValidacionBinResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenervalidacionLigera2Request">
        <wsdl:part element="impl:obtenervalidacionLigera" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenervalidacionLigera2Response">
        <wsdl:part element="impl:obtenervalidacionLigeraResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarCargaOde3Request">
        <wsdl:part element="impl:validarCargaOde" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarCargaOde3Response">
        <wsdl:part element="impl:validarCargaOdeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarMDBasicosObl4Request">
        <wsdl:part element="impl:validarMDBasicosObl" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarMDBasicosObl4Response">
        <wsdl:part element="impl:validarMDBasicosOblResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarMec5Request">
        <wsdl:part element="impl:validarMec" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="validarMec5Response">
        <wsdl:part element="impl:validarMecResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvValidadorService">
        <wsdl:operation name="obtenerValidacionBin">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerValidacionBin1Request" 
                        name="obtenerValidacionBin1Request"/>
            <wsdl:output message="impl:obtenerValidacionBin1Response" 
                         name="obtenerValidacionBin1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenervalidacionLigera">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenervalidacionLigera2Request" 
                        name="obtenervalidacionLigera2Request"/>
            <wsdl:output message="impl:obtenervalidacionLigera2Response" 
                         name="obtenervalidacionLigera2Response"/>
        </wsdl:operation>
        <wsdl:operation name="validarCargaOde">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:validarCargaOde3Request" 
                        name="validarCargaOde3Request"/>
            <wsdl:output message="impl:validarCargaOde3Response" 
                         name="validarCargaOde3Response"/>
        </wsdl:operation>
        <wsdl:operation name="validarMDBasicosObl">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:validarMDBasicosObl4Request" 
                        name="validarMDBasicosObl4Request"/>
            <wsdl:output message="impl:validarMDBasicosObl4Response" 
                         name="validarMDBasicosObl4Response"/>
        </wsdl:operation>
        <wsdl:operation name="validarMec">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:validarMec5Request" 
                        name="validarMec5Request"/>
            <wsdl:output message="impl:validarMec5Response" 
                         name="validarMec5Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvValidadorServiceSoapBinding" type="impl:SrvValidadorService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerValidacionBin">
            <wsdlsoap:operation soapAction="obtenerValidacionBin" style="document"/>
            <wsdl:input name="obtenerValidacionBin1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerValidacionBin1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenervalidacionLigera">
            <wsdlsoap:operation soapAction="obtenervalidacionLigera" style="document"/>
            <wsdl:input name="obtenervalidacionLigera2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenervalidacionLigera2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="validarCargaOde">
            <wsdlsoap:operation soapAction="validarCargaOde" style="document"/>
            <wsdl:input name="validarCargaOde3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validarCargaOde3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="validarMDBasicosObl">
            <wsdlsoap:operation soapAction="validarMDBasicosObl" style="document"/>
            <wsdl:input name="validarMDBasicosObl4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validarMDBasicosObl4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="validarMec">
            <wsdlsoap:operation soapAction="validarMec" style="document"/>
            <wsdl:input name="validarMec5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validarMec5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvValidadorServiceService">
        <wsdl:documentation> 
            El servicio de validacion consta de cuatro metodos para
            diferentes tipos de validacion:
            a) obtenerValidacionBin: parametro de entrada rutaManifest de
            tipo String, es la ruta en la      que    se   encuentra el
            fichero imsmanifest.xml; parametro de salida, el tipo ValidaVO
            Este tipo de validacion realiza las siguientes tareas:
            1.- chequea que el fichero se encuentre en la ruta
            correspondiente
            2.- realiza el parseo del fichero y comprueba que los nodos y
            atributos sean correctos
            3.- chequeo de los contenidos, en los que se testea que los
            ficheros a los que referencia           el imsmanifest.xml sean
            correctos y esten en su ruta correspondiente
            El resultado de esta validacion sera del tipo ValidaVO, con sus
            atributos rellenos seguno
            se ha comentado en el mismo
            b) obtenerValidacionLigera: parametro de entrada rutaManifest de
            tipo String, es la ruta en
            la que se encuentra el fichero imsmanifest.xml; parametro de
            salida, el tipo ValidaVO
            Este tipo de validacion realiza las siguientes tareas:
            1.- chequea que el fichero se encuentre en la ruta
            correspondiente
            2.- realiza el parseo del fichero y comprueba que los nodos y
            atributos sean correctos;
            esta comprobacion tendra mayor o menor restriccion dependiendo
            del tipo de ODE que
            puede ser: CA (contentAggregation--> si es obligatorio que tenga
            al menos una
            organizacion) o RCP (ResourceContentPackage --> la etiqueta
            organizations tiene que ir
            vacia)
            El resultado de esta validacion sera del tipo ValidaVO, con sus
            atributos rellenos seguno
            se ha comentado en el mismo
            c) validarCargaOde: parametro de entrada rutaManifest de tipo
            String, es la ruta en
            la que se encuentra el fichero imsmanifest.xml; parametro de
            salida, el tipo ValidaVO
            Este tipo de validacion realiza las siguientes tareas:
            1.- valida que el fichero se encuentre en la ruta
            correspondiente
            2.- chequea que todos los metadatos de tipo LOM-ES sean
            correctos
            3.- Realiza la validacion Binaria (explicado en apartado a)
            4.- chequea que esten rellenos los campos de metadatos basicos
            obligatorios
            d) validarMDBasicosObl: parametro de entrada MDBasicosOblVO, es
            la ruta en
            la que se encuentra el fichero imsmanifest.xml; parametro de
            salida, el tipo ValidaVO
            Con este metodo se obliga a que se rellenen los metadatos
            basicos obligatorios, si no estan
            devolvera un error
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvValidadorServiceSoapBinding" name="SrvValidadorService">
            <wsdlsoap:address location="http://localhost:8080/validador-1/services/SrvValidadorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>