visualizador/mda/src/wsdl/SrvContenidoInapropiadoService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvContenidoInapropiadoService" 
    targetNamespace="http://servicios.negocio.publicacion.pode.es"
    xmlns:impl="http://servicios.negocio.publicacion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.publicacion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="crearContenidoInapropiado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fecha" type="xsd:dateTime" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="comentario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma_cat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearContenidoInapropiadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearContenidoInapropiadoReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="despublicarContenidoInapropiado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Cuidado con este metodo provisional, posiblemente deba estar en
                        srvpublicacion
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma_cat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="despublicarContenidoInapropiadoResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="despublicarContenidosInapropiados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idoma_cat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="despublicarContenidosInapropiadosResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarContenidoInapropiado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fecha_inactividad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado_ci" type="xsd:boolean" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma_cat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarContenidoInapropiadoResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarContenidosInapropiados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="contenidos" type="impl:ArrayOfContenidoInapropiadoVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarContenidosInapropiadosResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="modificarEstadoContenidoInapropiado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma_cat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fecha_inactividad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado_ci" type="xsd:boolean" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estadoNuevo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarEstadoContenidoInapropiadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarEstadoContenidoInapropiadoReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarTituloContenidoInapropiado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma_cat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado_ci" type="xsd:boolean" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tituloNuevo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarTituloContenidoInapropiadoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarTituloContenidoInapropiadoReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerContenidoInapropiadodeOde">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado_ci" type="xsd:boolean" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="fecha_inactividad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma_cat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerContenidoInapropiadodeOdeResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerContenidoInapropiadodeOdeReturn" type="impl:ArrayOfContenidoInapropiadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerContenidosInapropiados">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerContenidosInapropiadosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerContenidosInapropiadosReturn" type="impl:ArrayOfContenidoInapropiadoVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="rechazarContenidoInapropiado">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idOde" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma_cat" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="estado" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="rechazarContenidoInapropiadoResponse">       
                <xsd:complexType/>     
            </xsd:element>


            <xsd:complexType name="ContenidoInapropiadoVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idOde" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comentario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado_ci" nillable="true" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha_inactividad" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma_cat" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfContenidoInapropiadoVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ContenidoInapropiadoVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="crearContenidoInapropiado1Request">
        <wsdl:part element="impl:crearContenidoInapropiado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearContenidoInapropiado1Response">
        <wsdl:part element="impl:crearContenidoInapropiadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="despublicarContenidoInapropiado2Request">
        <wsdl:part element="impl:despublicarContenidoInapropiado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="despublicarContenidoInapropiado2Response">
        <wsdl:part element="impl:despublicarContenidoInapropiadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="despublicarContenidosInapropiados3Request">
        <wsdl:part element="impl:despublicarContenidosInapropiados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="despublicarContenidosInapropiados3Response">
        <wsdl:part element="impl:despublicarContenidosInapropiadosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarContenidoInapropiado4Request">
        <wsdl:part element="impl:eliminarContenidoInapropiado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarContenidoInapropiado4Response">
        <wsdl:part element="impl:eliminarContenidoInapropiadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarContenidosInapropiados5Request">
        <wsdl:part element="impl:eliminarContenidosInapropiados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarContenidosInapropiados5Response">
        <wsdl:part element="impl:eliminarContenidosInapropiadosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarEstadoContenidoInapropiado6Request">
        <wsdl:part element="impl:modificarEstadoContenidoInapropiado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarEstadoContenidoInapropiado6Response">
        <wsdl:part element="impl:modificarEstadoContenidoInapropiadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarTituloContenidoInapropiado7Request">
        <wsdl:part element="impl:modificarTituloContenidoInapropiado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarTituloContenidoInapropiado7Response">
        <wsdl:part element="impl:modificarTituloContenidoInapropiadoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerContenidoInapropiadodeOde8Request">
        <wsdl:part element="impl:obtenerContenidoInapropiadodeOde" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerContenidoInapropiadodeOde8Response">
        <wsdl:part element="impl:obtenerContenidoInapropiadodeOdeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerContenidosInapropiados9Request">
        <wsdl:part element="impl:obtenerContenidosInapropiados" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerContenidosInapropiados9Response">
        <wsdl:part element="impl:obtenerContenidosInapropiadosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="rechazarContenidoInapropiado10Request">
        <wsdl:part element="impl:rechazarContenidoInapropiado" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="rechazarContenidoInapropiado10Response">
        <wsdl:part element="impl:rechazarContenidoInapropiadoResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvContenidoInapropiadoService">
        <wsdl:operation name="crearContenidoInapropiado">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:crearContenidoInapropiado1Request" 
                        name="crearContenidoInapropiado1Request"/>
            <wsdl:output message="impl:crearContenidoInapropiado1Response" 
                         name="crearContenidoInapropiado1Response"/>
        </wsdl:operation>
        <wsdl:operation name="despublicarContenidoInapropiado">
                
            <wsdl:documentation> 
                Cuidado con este metodo provisional, posiblemente deba estar en
                srvpublicacion
            </wsdl:documentation>
            <wsdl:input message="impl:despublicarContenidoInapropiado2Request" 
                        name="despublicarContenidoInapropiado2Request"/>
            <wsdl:output message="impl:despublicarContenidoInapropiado2Response" 
                         name="despublicarContenidoInapropiado2Response"/>
        </wsdl:operation>
        <wsdl:operation name="despublicarContenidosInapropiados">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:despublicarContenidosInapropiados3Request" 
                        name="despublicarContenidosInapropiados3Request"/>
            <wsdl:output message="impl:despublicarContenidosInapropiados3Response" 
                         name="despublicarContenidosInapropiados3Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarContenidoInapropiado">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarContenidoInapropiado4Request" 
                        name="eliminarContenidoInapropiado4Request"/>
            <wsdl:output message="impl:eliminarContenidoInapropiado4Response" 
                         name="eliminarContenidoInapropiado4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarContenidosInapropiados">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarContenidosInapropiados5Request" 
                        name="eliminarContenidosInapropiados5Request"/>
            <wsdl:output message="impl:eliminarContenidosInapropiados5Response" 
                         name="eliminarContenidosInapropiados5Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarEstadoContenidoInapropiado">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarEstadoContenidoInapropiado6Request" 
                        name="modificarEstadoContenidoInapropiado6Request"/>
            <wsdl:output message="impl:modificarEstadoContenidoInapropiado6Response" 
                         name="modificarEstadoContenidoInapropiado6Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarTituloContenidoInapropiado">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarTituloContenidoInapropiado7Request" 
                        name="modificarTituloContenidoInapropiado7Request"/>
            <wsdl:output message="impl:modificarTituloContenidoInapropiado7Response" 
                         name="modificarTituloContenidoInapropiado7Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerContenidoInapropiadodeOde">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerContenidoInapropiadodeOde8Request" 
                        name="obtenerContenidoInapropiadodeOde8Request"/>
            <wsdl:output message="impl:obtenerContenidoInapropiadodeOde8Response" 
                         name="obtenerContenidoInapropiadodeOde8Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerContenidosInapropiados">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerContenidosInapropiados9Request" 
                        name="obtenerContenidosInapropiados9Request"/>
            <wsdl:output message="impl:obtenerContenidosInapropiados9Response" 
                         name="obtenerContenidosInapropiados9Response"/>
        </wsdl:operation>
        <wsdl:operation name="rechazarContenidoInapropiado">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:rechazarContenidoInapropiado10Request" 
                        name="rechazarContenidoInapropiado10Request"/>
            <wsdl:output message="impl:rechazarContenidoInapropiado10Response" 
                         name="rechazarContenidoInapropiado10Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvContenidoInapropiadoServiceSoapBinding" type="impl:SrvContenidoInapropiadoService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="crearContenidoInapropiado">
            <wsdlsoap:operation soapAction="crearContenidoInapropiado" style="document"/>
            <wsdl:input name="crearContenidoInapropiado1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearContenidoInapropiado1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="despublicarContenidoInapropiado">
            <wsdlsoap:operation soapAction="despublicarContenidoInapropiado" style="document"/>
            <wsdl:input name="despublicarContenidoInapropiado2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="despublicarContenidoInapropiado2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="despublicarContenidosInapropiados">
            <wsdlsoap:operation soapAction="despublicarContenidosInapropiados" style="document"/>
            <wsdl:input name="despublicarContenidosInapropiados3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="despublicarContenidosInapropiados3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarContenidoInapropiado">
            <wsdlsoap:operation soapAction="eliminarContenidoInapropiado" style="document"/>
            <wsdl:input name="eliminarContenidoInapropiado4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarContenidoInapropiado4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarContenidosInapropiados">
            <wsdlsoap:operation soapAction="eliminarContenidosInapropiados" style="document"/>
            <wsdl:input name="eliminarContenidosInapropiados5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarContenidosInapropiados5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarEstadoContenidoInapropiado">
            <wsdlsoap:operation soapAction="modificarEstadoContenidoInapropiado" style="document"/>
            <wsdl:input name="modificarEstadoContenidoInapropiado6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarEstadoContenidoInapropiado6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarTituloContenidoInapropiado">
            <wsdlsoap:operation soapAction="modificarTituloContenidoInapropiado" style="document"/>
            <wsdl:input name="modificarTituloContenidoInapropiado7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarTituloContenidoInapropiado7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerContenidoInapropiadodeOde">
            <wsdlsoap:operation soapAction="obtenerContenidoInapropiadodeOde" style="document"/>
            <wsdl:input name="obtenerContenidoInapropiadodeOde8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerContenidoInapropiadodeOde8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerContenidosInapropiados">
            <wsdlsoap:operation soapAction="obtenerContenidosInapropiados" style="document"/>
            <wsdl:input name="obtenerContenidosInapropiados9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerContenidosInapropiados9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="rechazarContenidoInapropiado">
            <wsdlsoap:operation soapAction="rechazarContenidoInapropiado" style="document"/>
            <wsdl:input name="rechazarContenidoInapropiado10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="rechazarContenidoInapropiado10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvContenidoInapropiadoServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvContenidoInapropiadoServiceSoapBinding" name="SrvContenidoInapropiadoService">
            <wsdlsoap:address location="http://localhost:8080/publicacion-1/services/SrvContenidoInapropiadoService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>