buscador/mda/src/wsdl/SrvGruposLicencias.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvGruposLicencias" 
    targetNamespace="http://servicio.licencias.catalogacion.pode.es"
    xmlns:impl="http://servicio.licencias.catalogacion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.licencias.catalogacion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="obtieneGrupoLicencias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="codigosLicencias" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtieneGrupoLicenciasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtieneGrupoLicenciasReturn" type="impl:ArrayOfGruposLicenciasVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtieneLicenciaResultante">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="licenciaAdicional" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtieneLicenciaResultanteResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtieneLicenciaResultanteReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="GruposLicenciasVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="grupoLicencias" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ordenLimitacion" nillable="false" type="xsd:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfGruposLicenciasVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:GruposLicenciasVO" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="obtieneGrupoLicencias1Request">
        <wsdl:part element="impl:obtieneGrupoLicencias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtieneGrupoLicencias1Response">
        <wsdl:part element="impl:obtieneGrupoLicenciasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtieneLicenciaResultante2Request">
        <wsdl:part element="impl:obtieneLicenciaResultante" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtieneLicenciaResultante2Response">
        <wsdl:part element="impl:obtieneLicenciaResultanteResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvGruposLicencias">
        <wsdl:operation name="obtieneGrupoLicencias">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtieneGrupoLicencias1Request" 
                        name="obtieneGrupoLicencias1Request"/>
            <wsdl:output message="impl:obtieneGrupoLicencias1Response" 
                         name="obtieneGrupoLicencias1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtieneLicenciaResultante">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtieneLicenciaResultante2Request" 
                        name="obtieneLicenciaResultante2Request"/>
            <wsdl:output message="impl:obtieneLicenciaResultante2Response" 
                         name="obtieneLicenciaResultante2Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvGruposLicenciasSoapBinding" type="impl:SrvGruposLicencias">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtieneGrupoLicencias">
            <wsdlsoap:operation soapAction="obtieneGrupoLicencias" style="document"/>
            <wsdl:input name="obtieneGrupoLicencias1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneGrupoLicencias1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtieneLicenciaResultante">
            <wsdlsoap:operation soapAction="obtieneLicenciaResultante" style="document"/>
            <wsdl:input name="obtieneLicenciaResultante2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneLicenciaResultante2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvGruposLicenciasService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvGruposLicenciasSoapBinding" name="SrvGruposLicencias">
            <wsdlsoap:address location="http://localhost:8080/catalogacion-1/services/SrvGruposLicencias"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>