auditoria/mda/src/wsdl/SrvAdminUsuariosService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions name="SrvAdminUsuariosService"
	targetNamespace="http://servicios.negocio.adminusuarios.pode.es"
	xmlns:impl="http://servicios.negocio.adminusuarios.pode.es"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:apachesoap="http://xml.apache.org/xml-soap">

	<!-- WSDL Types -->
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://servicios.negocio.adminusuarios.pode.es"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="altaGrupo">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="grupoVO" type="impl:GrupoVO"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaGrupoResponse">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="altaUsuario">
				<xsd:annotation>
					<xsd:documentation>
						Alta de un usuario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario"
							type="impl:UsuarioVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>
									Datos del usuario a dar de alta
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="adminVO"
							type="impl:UsuarioVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="altaUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="altaUsuarioReturn"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bajaGrupo">
				<xsd:annotation>
					<xsd:documentation>
						Eliminación de un grupo
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ids"
							type="impl:ArrayOfsoapenc_long" nillable="false">
							<xsd:annotation>
								<xsd:documentation>
									Identificadores de los grupos a
									eliminar
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bajaGrupoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bajaGrupoReturn"
							type="impl:ValidaBajaGrupoVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bajaUsuario">
				<xsd:annotation>
					<xsd:documentation>
						Eliminación de usuarios
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ids"
							type="impl:ArrayOfsoapenc_long" nillable="false">
							<xsd:annotation>
								<xsd:documentation>
									Identificadores de los usuarios a
									eliminar
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="emailAdmin"
							type="impl:UsuarioVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bajaUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bajaUsuarioReturn"
							type="impl:ValidaBajaUsuarioVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bajaUsuarioPendiente">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ids"
							type="impl:ArrayOfsoapenc_long" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="emailAdmin"
							type="impl:UsuarioVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bajaUsuarioPendienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bajaUsuarioPendienteReturn"
							type="impl:ValidaBajaUsuarioVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="descripcionGrupo">
				<xsd:annotation>
					<xsd:documentation>
						Descripción de los datos de un grupo
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="soapenc:long"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>
									Identificador del grupo a mostrar
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="descripcionGrupoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="descripcionGrupoReturn"
							type="impl:GrupoVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="descripcionUsuario">
				<xsd:annotation>
					<xsd:documentation>
						Los datos de un usuario
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="soapenc:long"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>
									Identificador del usuario a mostrar
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="descripcionUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="descripcionUsuarioReturn"
							type="impl:UsuarioVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="enviarCorreoBaja">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario"
							type="impl:UsuarioVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="enviarCorreoBajaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="enviarCorreoBajaReturn"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="existeDescripcion">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="descripcion"
							type="xsd:string" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="id" type="soapenc:long"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="existeDescripcionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="existeDescripcionReturn"
							type="soapenc:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="existeUsuario">
				<xsd:annotation>
					<xsd:documentation>
						Comprueba si existe en el sistema un usuario con
						ese usuario (login)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="existeUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="existeUsuarioReturn"
							type="soapenc:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRol">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="soapenc:long"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRolResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getRolReturn"
							type="impl:RolVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarGrupos">
				<xsd:annotation>
					<xsd:documentation>
						Listado de los grupos existentes
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="listarGruposResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="listarGruposReturn"
							type="impl:ArrayOfGrupoVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarRoles">
				<xsd:annotation>
					<xsd:documentation>
						Listado de los roles existentes
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="listarRolesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="listarRolesReturn"
							type="impl:ArrayOfRolVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarRolesUsuario">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarRolesUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="listarRolesUsuarioReturn"
							type="impl:ArrayOfxsd_string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarUsuarios">
				<xsd:annotation>
					<xsd:documentation>
						Listado de todos los usuarios del nodo que ya
						han sido dados de alta por el administrador
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="listarUsuariosResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="listarUsuariosReturn"
							type="impl:ArrayOfUsuarioVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarUsuariosPendientes">
				<xsd:annotation>
					<xsd:documentation>
						Listado de los usuarios del nodo que no han sido
						dados de alta por el administrador
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="listarUsuariosPendientesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="listarUsuariosPendientesReturn"
							type="impl:ArrayOfUsuarioVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modificarGrupo">
				<xsd:annotation>
					<xsd:documentation>
						Modificación de los datos de un grupo
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="grupo" type="impl:GrupoVO"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>
									Datos del grupo a modificar
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modificarGrupoResponse">
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="modificarUsuario">
				<xsd:annotation>
					<xsd:documentation>
						Datos nuevos del usuario. La propiedad id del
						objeto UsuarioVO es el identificado del
						usuarioque va a ser modificado
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario"
							type="impl:UsuarioVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="modificarUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="modificarUsuarioReturn"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nuevaClave">
				<xsd:annotation>
					<xsd:documentation>
						Los usuarios podrán solicitar una nueva clave y
						que está se les envíe por correo electrónico a
						la cuenta que tienen dada de alta en el sistema.
						Para ello deberán introducir la dirección de
						correo electrónico y el NIF
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="emailNIF"
							type="impl:UsuarioVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>
									En el objeto usuario deben venir con
									datos el email y el NIF
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="nuevaClaveResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nuevaClaveReturn"
							type="soapenc:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerDatosUsuario">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario" type="xsd:string"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerDatosUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerDatosUsuarioReturn"
							type="impl:UsuarioVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerGrupoAdministrador">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="obtenerGrupoAdministradorResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="obtenerGrupoAdministradorReturn"
							type="impl:ArrayOfsoapenc_long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerUsuario">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nif" type="xsd:string"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerUsuarioReturn"
							type="impl:UsuarioVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerUsuariosAdministrador">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType />
			</xsd:element>
			<xsd:element name="obtenerUsuariosAdministradorResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="obtenerUsuariosAdministradorReturn"
							type="impl:ArrayOfsoapenc_long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerUsuariosGrupo">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="soapenc:long"
							nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="obtenerUsuariosGrupoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="obtenerUsuariosGrupoReturn"
							type="soapenc:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="solicitarAltaUsuario">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuario"
							type="impl:UsuarioVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="solicitarAltaUsuarioResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="solicitarAltaUsuarioReturn"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="usuariosActivos">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="parametroAuditoriaVO"
							type="impl:ParametroAuditoriaUsuariosVO" nillable="false">
							<xsd:annotation>
								<xsd:documentation>

								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="usuariosActivosResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="usuariosActivosReturn"
							type="impl:ArrayOfUsuarioActivoVO" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


			<xsd:complexType name="AltaGrupoException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AltaUsuarioException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BajaGrupoException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BajaUsuarioException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DescripcionUsuarioException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EnviarCorreoException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfGrupoVO">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0"
						maxOccurs="unbounded" form="qualified" type="impl:GrupoVO" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GrupoVO">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="descripcion" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="id" nillable="true"
						type="soapenc:long">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="rols" nillable="false"
						type="impl:ArrayOfRolVO">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfGrupoVO">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0"
						maxOccurs="unbounded" form="qualified" type="impl:GrupoVO" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ModificacionGrupoException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ModificarUsuarioException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NuevaClaveException">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ParametroAuditoriaUsuariosVO">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="fechaDesde" nillable="false"
						type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fechaHasta" nillable="false"
						type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfRolVO">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0"
						maxOccurs="unbounded" form="qualified" type="impl:RolVO" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RolVO">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="id" nillable="true"
						type="soapenc:long">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="descripcion" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UsuarioActivoVO">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="nombre" nillable="false"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="apellido1" nillable="false"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="apellido2" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="login" nillable="false"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="email" nillable="false"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idiomaAplicacion"
						nillable="false" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idiomaBusqueda" nillable="false"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tipoEmpaquetador"
						nillable="false" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="grupos" nillable="false"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="permisos" nillable="false"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NIF" nillable="false"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfUsuarioActivoVO">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0"
						maxOccurs="unbounded" form="qualified"
						type="impl:UsuarioActivoVO" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="UsuarioVO">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="id" nillable="true"
						type="soapenc:long">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="nombre" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="apellido1" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="apellido2" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="email" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NIF" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usuario" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="clave" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idioma" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idiomaBusqueda" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tipoEmpaquetador" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fechaAlta" nillable="true"
						type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fechaBaja" nillable="true"
						type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="fechaSolicitudAlta"
						nillable="true" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="grupos" nillable="false"
						type="impl:ArrayOfGrupoVO">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfUsuarioVO">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0"
						maxOccurs="unbounded" form="qualified" type="impl:UsuarioVO" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ValidaBajaGrupoVO">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="descripcion" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="itemsDeleted" nillable="true"
						type="impl:ArrayOfGrupoVO">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ValidaBajaUsuarioVO">
				<xsd:annotation>
					<xsd:documentation>

					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="descripcion" nillable="true"
						type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="numDeleted" nillable="true"
						type="soapenc:int">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="itemsDeleted" nillable="true"
						type="impl:ArrayOfUsuarioVO">
						<xsd:annotation>
							<xsd:documentation>

							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfsoapenc_long">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0"
						maxOccurs="unbounded" form="qualified" type="soapenc:long" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfxsd_string">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0"
						maxOccurs="unbounded" form="qualified" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<!-- Messages -->
	<wsdl:message name="altaGrupo1Request">
		<wsdl:part element="impl:altaGrupo" name="parameters" />
	</wsdl:message>
	<wsdl:message name="altaGrupo1Response">
		<wsdl:part element="impl:altaGrupoResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="altaUsuario2Request">
		<wsdl:part element="impl:altaUsuario" name="parameters" />
	</wsdl:message>
	<wsdl:message name="altaUsuario2Response">
		<wsdl:part element="impl:altaUsuarioResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bajaGrupo3Request">
		<wsdl:part element="impl:bajaGrupo" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bajaGrupo3Response">
		<wsdl:part element="impl:bajaGrupoResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bajaUsuario4Request">
		<wsdl:part element="impl:bajaUsuario" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bajaUsuario4Response">
		<wsdl:part element="impl:bajaUsuarioResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bajaUsuarioPendiente5Request">
		<wsdl:part element="impl:bajaUsuarioPendiente"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="bajaUsuarioPendiente5Response">
		<wsdl:part element="impl:bajaUsuarioPendienteResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="descripcionGrupo6Request">
		<wsdl:part element="impl:descripcionGrupo" name="parameters" />
	</wsdl:message>
	<wsdl:message name="descripcionGrupo6Response">
		<wsdl:part element="impl:descripcionGrupoResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="descripcionUsuario7Request">
		<wsdl:part element="impl:descripcionUsuario" name="parameters" />
	</wsdl:message>
	<wsdl:message name="descripcionUsuario7Response">
		<wsdl:part element="impl:descripcionUsuarioResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="enviarCorreoBaja8Request">
		<wsdl:part element="impl:enviarCorreoBaja" name="parameters" />
	</wsdl:message>
	<wsdl:message name="enviarCorreoBaja8Response">
		<wsdl:part element="impl:enviarCorreoBajaResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="existeDescripcion9Request">
		<wsdl:part element="impl:existeDescripcion" name="parameters" />
	</wsdl:message>
	<wsdl:message name="existeDescripcion9Response">
		<wsdl:part element="impl:existeDescripcionResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="existeUsuario10Request">
		<wsdl:part element="impl:existeUsuario" name="parameters" />
	</wsdl:message>
	<wsdl:message name="existeUsuario10Response">
		<wsdl:part element="impl:existeUsuarioResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRol11Request">
		<wsdl:part element="impl:getRol" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRol11Response">
		<wsdl:part element="impl:getRolResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarGrupos12Request">
		<wsdl:part element="impl:listarGrupos" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarGrupos12Response">
		<wsdl:part element="impl:listarGruposResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarRoles13Request">
		<wsdl:part element="impl:listarRoles" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarRoles13Response">
		<wsdl:part element="impl:listarRolesResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarRolesUsuario14Request">
		<wsdl:part element="impl:listarRolesUsuario" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarRolesUsuario14Response">
		<wsdl:part element="impl:listarRolesUsuarioResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarUsuarios15Request">
		<wsdl:part element="impl:listarUsuarios" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarUsuarios15Response">
		<wsdl:part element="impl:listarUsuariosResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarUsuariosPendientes16Request">
		<wsdl:part element="impl:listarUsuariosPendientes"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarUsuariosPendientes16Response">
		<wsdl:part element="impl:listarUsuariosPendientesResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="modificarGrupo17Request">
		<wsdl:part element="impl:modificarGrupo" name="parameters" />
	</wsdl:message>
	<wsdl:message name="modificarGrupo17Response">
		<wsdl:part element="impl:modificarGrupoResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="modificarUsuario18Request">
		<wsdl:part element="impl:modificarUsuario" name="parameters" />
	</wsdl:message>
	<wsdl:message name="modificarUsuario18Response">
		<wsdl:part element="impl:modificarUsuarioResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="nuevaClave19Request">
		<wsdl:part element="impl:nuevaClave" name="parameters" />
	</wsdl:message>
	<wsdl:message name="nuevaClave19Response">
		<wsdl:part element="impl:nuevaClaveResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerDatosUsuario20Request">
		<wsdl:part element="impl:obtenerDatosUsuario" name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerDatosUsuario20Response">
		<wsdl:part element="impl:obtenerDatosUsuarioResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerGrupoAdministrador21Request">
		<wsdl:part element="impl:obtenerGrupoAdministrador"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerGrupoAdministrador21Response">
		<wsdl:part element="impl:obtenerGrupoAdministradorResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerUsuario22Request">
		<wsdl:part element="impl:obtenerUsuario" name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerUsuario22Response">
		<wsdl:part element="impl:obtenerUsuarioResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerUsuariosAdministrador23Request">
		<wsdl:part element="impl:obtenerUsuariosAdministrador"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerUsuariosAdministrador23Response">
		<wsdl:part element="impl:obtenerUsuariosAdministradorResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerUsuariosGrupo24Request">
		<wsdl:part element="impl:obtenerUsuariosGrupo"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="obtenerUsuariosGrupo24Response">
		<wsdl:part element="impl:obtenerUsuariosGrupoResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="solicitarAltaUsuario25Request">
		<wsdl:part element="impl:solicitarAltaUsuario"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="solicitarAltaUsuario25Response">
		<wsdl:part element="impl:solicitarAltaUsuarioResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="usuariosActivos26Request">
		<wsdl:part element="impl:usuariosActivos" name="parameters" />
	</wsdl:message>
	<wsdl:message name="usuariosActivos26Response">
		<wsdl:part element="impl:usuariosActivosResponse"
			name="parameters" />
	</wsdl:message>

	<!-- Port Type -->
	<wsdl:portType name="SrvAdminUsuariosService">
		<wsdl:operation name="altaGrupo">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:altaGrupo1Request"
				name="altaGrupo1Request" />
			<wsdl:output message="impl:altaGrupo1Response"
				name="altaGrupo1Response" />
		</wsdl:operation>
		<wsdl:operation name="altaUsuario">

			<wsdl:documentation>Alta de un usuario</wsdl:documentation>
			<wsdl:input message="impl:altaUsuario2Request"
				name="altaUsuario2Request" />
			<wsdl:output message="impl:altaUsuario2Response"
				name="altaUsuario2Response" />
		</wsdl:operation>
		<wsdl:operation name="bajaGrupo">

			<wsdl:documentation>
				Eliminación de un grupo
			</wsdl:documentation>
			<wsdl:input message="impl:bajaGrupo3Request"
				name="bajaGrupo3Request" />
			<wsdl:output message="impl:bajaGrupo3Response"
				name="bajaGrupo3Response" />
		</wsdl:operation>
		<wsdl:operation name="bajaUsuario">

			<wsdl:documentation>
				Eliminación de usuarios
			</wsdl:documentation>
			<wsdl:input message="impl:bajaUsuario4Request"
				name="bajaUsuario4Request" />
			<wsdl:output message="impl:bajaUsuario4Response"
				name="bajaUsuario4Response" />
		</wsdl:operation>
		<wsdl:operation name="bajaUsuarioPendiente">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:bajaUsuarioPendiente5Request"
				name="bajaUsuarioPendiente5Request" />
			<wsdl:output message="impl:bajaUsuarioPendiente5Response"
				name="bajaUsuarioPendiente5Response" />
		</wsdl:operation>
		<wsdl:operation name="descripcionGrupo">

			<wsdl:documentation>
				Descripción de los datos de un grupo
			</wsdl:documentation>
			<wsdl:input message="impl:descripcionGrupo6Request"
				name="descripcionGrupo6Request" />
			<wsdl:output message="impl:descripcionGrupo6Response"
				name="descripcionGrupo6Response" />
		</wsdl:operation>
		<wsdl:operation name="descripcionUsuario">

			<wsdl:documentation>
				Los datos de un usuario
			</wsdl:documentation>
			<wsdl:input message="impl:descripcionUsuario7Request"
				name="descripcionUsuario7Request" />
			<wsdl:output message="impl:descripcionUsuario7Response"
				name="descripcionUsuario7Response" />
		</wsdl:operation>
		<wsdl:operation name="enviarCorreoBaja">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:enviarCorreoBaja8Request"
				name="enviarCorreoBaja8Request" />
			<wsdl:output message="impl:enviarCorreoBaja8Response"
				name="enviarCorreoBaja8Response" />
		</wsdl:operation>
		<wsdl:operation name="existeDescripcion">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:existeDescripcion9Request"
				name="existeDescripcion9Request" />
			<wsdl:output message="impl:existeDescripcion9Response"
				name="existeDescripcion9Response" />
		</wsdl:operation>
		<wsdl:operation name="existeUsuario">

			<wsdl:documentation>
				Comprueba si existe en el sistema un usuario con ese
				usuario (login)
			</wsdl:documentation>
			<wsdl:input message="impl:existeUsuario10Request"
				name="existeUsuario10Request" />
			<wsdl:output message="impl:existeUsuario10Response"
				name="existeUsuario10Response" />
		</wsdl:operation>
		<wsdl:operation name="getRol">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:getRol11Request"
				name="getRol11Request" />
			<wsdl:output message="impl:getRol11Response"
				name="getRol11Response" />
		</wsdl:operation>
		<wsdl:operation name="listarGrupos">

			<wsdl:documentation>
				Listado de los grupos existentes
			</wsdl:documentation>
			<wsdl:input message="impl:listarGrupos12Request"
				name="listarGrupos12Request" />
			<wsdl:output message="impl:listarGrupos12Response"
				name="listarGrupos12Response" />
		</wsdl:operation>
		<wsdl:operation name="listarRoles">

			<wsdl:documentation>
				Listado de los roles existentes
			</wsdl:documentation>
			<wsdl:input message="impl:listarRoles13Request"
				name="listarRoles13Request" />
			<wsdl:output message="impl:listarRoles13Response"
				name="listarRoles13Response" />
		</wsdl:operation>
		<wsdl:operation name="listarRolesUsuario">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:listarRolesUsuario14Request"
				name="listarRolesUsuario14Request" />
			<wsdl:output message="impl:listarRolesUsuario14Response"
				name="listarRolesUsuario14Response" />
		</wsdl:operation>
		<wsdl:operation name="listarUsuarios">

			<wsdl:documentation>
				Listado de todos los usuarios del nodo que ya han sido
				dados de alta por el administrador
			</wsdl:documentation>
			<wsdl:input message="impl:listarUsuarios15Request"
				name="listarUsuarios15Request" />
			<wsdl:output message="impl:listarUsuarios15Response"
				name="listarUsuarios15Response" />
		</wsdl:operation>
		<wsdl:operation name="listarUsuariosPendientes">

			<wsdl:documentation>
				Listado de los usuarios del nodo que no han sido dados
				de alta por el administrador
			</wsdl:documentation>
			<wsdl:input message="impl:listarUsuariosPendientes16Request"
				name="listarUsuariosPendientes16Request" />
			<wsdl:output
				message="impl:listarUsuariosPendientes16Response"
				name="listarUsuariosPendientes16Response" />
		</wsdl:operation>
		<wsdl:operation name="modificarGrupo">

			<wsdl:documentation>
				Modificación de los datos de un grupo
			</wsdl:documentation>
			<wsdl:input message="impl:modificarGrupo17Request"
				name="modificarGrupo17Request" />
			<wsdl:output message="impl:modificarGrupo17Response"
				name="modificarGrupo17Response" />
		</wsdl:operation>
		<wsdl:operation name="modificarUsuario">

			<wsdl:documentation>
				Datos nuevos del usuario. La propiedad id del objeto
				UsuarioVO es el identificado del usuarioque va a ser
				modificado
			</wsdl:documentation>
			<wsdl:input message="impl:modificarUsuario18Request"
				name="modificarUsuario18Request" />
			<wsdl:output message="impl:modificarUsuario18Response"
				name="modificarUsuario18Response" />
		</wsdl:operation>
		<wsdl:operation name="nuevaClave">

			<wsdl:documentation>
				Los usuarios podrán solicitar una nueva clave y que está
				se les envíe por correo electrónico a la cuenta que
				tienen dada de alta en el sistema. Para ello deberán
				introducir la dirección de correo electrónico y el NIF
			</wsdl:documentation>
			<wsdl:input message="impl:nuevaClave19Request"
				name="nuevaClave19Request" />
			<wsdl:output message="impl:nuevaClave19Response"
				name="nuevaClave19Response" />
		</wsdl:operation>
		<wsdl:operation name="obtenerDatosUsuario">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:obtenerDatosUsuario20Request"
				name="obtenerDatosUsuario20Request" />
			<wsdl:output message="impl:obtenerDatosUsuario20Response"
				name="obtenerDatosUsuario20Response" />
		</wsdl:operation>
		<wsdl:operation name="obtenerGrupoAdministrador">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input
				message="impl:obtenerGrupoAdministrador21Request"
				name="obtenerGrupoAdministrador21Request" />
			<wsdl:output
				message="impl:obtenerGrupoAdministrador21Response"
				name="obtenerGrupoAdministrador21Response" />
		</wsdl:operation>
		<wsdl:operation name="obtenerUsuario">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:obtenerUsuario22Request"
				name="obtenerUsuario22Request" />
			<wsdl:output message="impl:obtenerUsuario22Response"
				name="obtenerUsuario22Response" />
		</wsdl:operation>
		<wsdl:operation name="obtenerUsuariosAdministrador">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input
				message="impl:obtenerUsuariosAdministrador23Request"
				name="obtenerUsuariosAdministrador23Request" />
			<wsdl:output
				message="impl:obtenerUsuariosAdministrador23Response"
				name="obtenerUsuariosAdministrador23Response" />
		</wsdl:operation>
		<wsdl:operation name="obtenerUsuariosGrupo">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:obtenerUsuariosGrupo24Request"
				name="obtenerUsuariosGrupo24Request" />
			<wsdl:output message="impl:obtenerUsuariosGrupo24Response"
				name="obtenerUsuariosGrupo24Response" />
		</wsdl:operation>
		<wsdl:operation name="solicitarAltaUsuario">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:solicitarAltaUsuario25Request"
				name="solicitarAltaUsuario25Request" />
			<wsdl:output message="impl:solicitarAltaUsuario25Response"
				name="solicitarAltaUsuario25Response" />
		</wsdl:operation>
		<wsdl:operation name="usuariosActivos">

			<wsdl:documentation>

			</wsdl:documentation>
			<wsdl:input message="impl:usuariosActivos26Request"
				name="usuariosActivos26Request" />
			<wsdl:output message="impl:usuariosActivos26Response"
				name="usuariosActivos26Response" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- WSDL Binding -->
	<wsdl:binding name="SrvAdminUsuariosServiceSoapBinding"
		type="impl:SrvAdminUsuariosService">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="altaGrupo">
			<wsdlsoap:operation soapAction="altaGrupo" style="document" />
			<wsdl:input name="altaGrupo1Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="altaGrupo1Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="altaUsuario">
			<wsdlsoap:operation soapAction="altaUsuario"
				style="document" />
			<wsdl:input name="altaUsuario2Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="altaUsuario2Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bajaGrupo">
			<wsdlsoap:operation soapAction="bajaGrupo" style="document" />
			<wsdl:input name="bajaGrupo3Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="bajaGrupo3Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bajaUsuario">
			<wsdlsoap:operation soapAction="bajaUsuario"
				style="document" />
			<wsdl:input name="bajaUsuario4Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="bajaUsuario4Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bajaUsuarioPendiente">
			<wsdlsoap:operation soapAction="bajaUsuarioPendiente"
				style="document" />
			<wsdl:input name="bajaUsuarioPendiente5Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="bajaUsuarioPendiente5Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="descripcionGrupo">
			<wsdlsoap:operation soapAction="descripcionGrupo"
				style="document" />
			<wsdl:input name="descripcionGrupo6Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="descripcionGrupo6Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="descripcionUsuario">
			<wsdlsoap:operation soapAction="descripcionUsuario"
				style="document" />
			<wsdl:input name="descripcionUsuario7Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="descripcionUsuario7Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="enviarCorreoBaja">
			<wsdlsoap:operation soapAction="enviarCorreoBaja"
				style="document" />
			<wsdl:input name="enviarCorreoBaja8Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="enviarCorreoBaja8Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="existeDescripcion">
			<wsdlsoap:operation soapAction="existeDescripcion"
				style="document" />
			<wsdl:input name="existeDescripcion9Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="existeDescripcion9Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="existeUsuario">
			<wsdlsoap:operation soapAction="existeUsuario"
				style="document" />
			<wsdl:input name="existeUsuario10Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="existeUsuario10Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRol">
			<wsdlsoap:operation soapAction="getRol" style="document" />
			<wsdl:input name="getRol11Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getRol11Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listarGrupos">
			<wsdlsoap:operation soapAction="listarGrupos"
				style="document" />
			<wsdl:input name="listarGrupos12Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listarGrupos12Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listarRoles">
			<wsdlsoap:operation soapAction="listarRoles"
				style="document" />
			<wsdl:input name="listarRoles13Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listarRoles13Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listarRolesUsuario">
			<wsdlsoap:operation soapAction="listarRolesUsuario"
				style="document" />
			<wsdl:input name="listarRolesUsuario14Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listarRolesUsuario14Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listarUsuarios">
			<wsdlsoap:operation soapAction="listarUsuarios"
				style="document" />
			<wsdl:input name="listarUsuarios15Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listarUsuarios15Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listarUsuariosPendientes">
			<wsdlsoap:operation soapAction="listarUsuariosPendientes"
				style="document" />
			<wsdl:input name="listarUsuariosPendientes16Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="listarUsuariosPendientes16Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificarGrupo">
			<wsdlsoap:operation soapAction="modificarGrupo"
				style="document" />
			<wsdl:input name="modificarGrupo17Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="modificarGrupo17Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modificarUsuario">
			<wsdlsoap:operation soapAction="modificarUsuario"
				style="document" />
			<wsdl:input name="modificarUsuario18Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="modificarUsuario18Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="nuevaClave">
			<wsdlsoap:operation soapAction="nuevaClave"
				style="document" />
			<wsdl:input name="nuevaClave19Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="nuevaClave19Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenerDatosUsuario">
			<wsdlsoap:operation soapAction="obtenerDatosUsuario"
				style="document" />
			<wsdl:input name="obtenerDatosUsuario20Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="obtenerDatosUsuario20Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenerGrupoAdministrador">
			<wsdlsoap:operation soapAction="obtenerGrupoAdministrador"
				style="document" />
			<wsdl:input name="obtenerGrupoAdministrador21Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="obtenerGrupoAdministrador21Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenerUsuario">
			<wsdlsoap:operation soapAction="obtenerUsuario"
				style="document" />
			<wsdl:input name="obtenerUsuario22Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="obtenerUsuario22Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenerUsuariosAdministrador">
			<wsdlsoap:operation
				soapAction="obtenerUsuariosAdministrador" style="document" />
			<wsdl:input name="obtenerUsuariosAdministrador23Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output
				name="obtenerUsuariosAdministrador23Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="obtenerUsuariosGrupo">
			<wsdlsoap:operation soapAction="obtenerUsuariosGrupo"
				style="document" />
			<wsdl:input name="obtenerUsuariosGrupo24Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="obtenerUsuariosGrupo24Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="solicitarAltaUsuario">
			<wsdlsoap:operation soapAction="solicitarAltaUsuario"
				style="document" />
			<wsdl:input name="solicitarAltaUsuario25Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="solicitarAltaUsuario25Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="usuariosActivos">
			<wsdlsoap:operation soapAction="usuariosActivos"
				style="document" />
			<wsdl:input name="usuariosActivos26Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="usuariosActivos26Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Service Definition -->
	<wsdl:service name="SrvAdminUsuariosServiceService">
		<wsdl:documentation>

		</wsdl:documentation>
		<wsdl:port binding="impl:SrvAdminUsuariosServiceSoapBinding"
			name="SrvAdminUsuariosService">
			<wsdlsoap:address
				location="http://localhost:8080/adminusuarios/services/SrvAdminUsuariosService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>