herramientaoffline/mda/src/wsdl/SrvDRIService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvDRIService" 
    targetNamespace="http://DRI.servicios.negocio.dri.pode.es"
    xmlns:impl="http://DRI.servicios.negocio.dri.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://DRI.servicios.negocio.dri.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="crear">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método para subir desde offline los odes a la carpeta personal
                        del usuario utilizando usuario y clave. Devolverá un Integer que
                        será un código de error
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="clave" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="crearSesion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método para subir desde offline los odes a la carpeta personal
                        del usuario utilizando la sesión .Devolverá un Integer que será
                        un código de error
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="sesion" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearSesionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearSesionReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="estasActivo">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="estasActivoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="estasActivoReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="presentarAlmacenar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo invoca el publicarPIF del servicio de publicacion.
                        Le pasan como parametros el identificador de usuario y la clave
                        de un usuario autenticado en la plataforma y el contenido del
                        ODE en formato PIF. El usuario debe tener los suficientes
                        permisos dentro de la plataforma para poder realizar esta
                        accion. Devolverá un código de error
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario perteneciente a la plataforma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="clave" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Clave del usuario dentro de la platafoma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fichero del ODE en formato zip.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="presentarAlmacenarResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="presentarAlmacenarReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="presentarAlmacenarSesion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo invoca el publicarPIF del servicio de publicacion.
                        Le pasan como parametros el identificador de la sesion que hay
                        que haber inicializado y el contenido del ODE en formato PIF.
                        Devolverá un código de error
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="sesionId" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que hay que haber requerido
                                    previamente.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fichero PIF con el contenido del ODE.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="presentarAlmacenarSesionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="presentarAlmacenarSesionReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="presentarCatalogar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo recoge un ODE y lo introduce en el ciclo de vida de
                        la plataforma en el estado catalogar en el que un catalogador ha
                        de realizar su labor sobre el ODE. Devolverá un código de error
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Usuario perteneciente a la plataforma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="clave" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Clave del usuario dentro de la platafoma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Fichero del ODE en formato zip.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="presentarCatalogarResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="presentarCatalogarReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="presentarCatalogarSesion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo recoge un ODE y lo introduce en el ciclo de vida de
                        la plataforma en el estado catalogar en el que un catalogador ha
                        de realizar su labor sobre el ODE. Devolverá un código de error
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="sesionId" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que hay que haber inicializado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    contenido del ODE en formato ZIP.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="presentarCatalogarSesionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="presentarCatalogarSesionReturn" type="soapenc:int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="solicitarEntregarSesion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este metodo devuelve un ODE en formato PIF.
                        Toma como parametros el identificador de la sesion que hay que
                        haber inicializado antes y el identificador del ODE que se
                        quiere obtener.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="sesionId" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la sesion que hay que haber inicializado.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="mec" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador mec del ODE que se solicita.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="solicitarEntregarSesionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="solicitarEntregarSesionReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="SesionNoValidaException">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Cuando la sesion que se utiliza para la accion de DRI de turno
                        no es valida por el motivo que sea.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="crear1Request">
        <wsdl:part element="impl:crear" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crear1Response">
        <wsdl:part element="impl:crearResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearSesion2Request">
        <wsdl:part element="impl:crearSesion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearSesion2Response">
        <wsdl:part element="impl:crearSesionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estasActivo3Request">
        <wsdl:part element="impl:estasActivo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="estasActivo3Response">
        <wsdl:part element="impl:estasActivoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarAlmacenar4Request">
        <wsdl:part element="impl:presentarAlmacenar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarAlmacenar4Response">
        <wsdl:part element="impl:presentarAlmacenarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarAlmacenarSesion5Request">
        <wsdl:part element="impl:presentarAlmacenarSesion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarAlmacenarSesion5Response">
        <wsdl:part element="impl:presentarAlmacenarSesionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarCatalogar6Request">
        <wsdl:part element="impl:presentarCatalogar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarCatalogar6Response">
        <wsdl:part element="impl:presentarCatalogarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarCatalogarSesion7Request">
        <wsdl:part element="impl:presentarCatalogarSesion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="presentarCatalogarSesion7Response">
        <wsdl:part element="impl:presentarCatalogarSesionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarEntregarSesion8Request">
        <wsdl:part element="impl:solicitarEntregarSesion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="solicitarEntregarSesion8Response">
        <wsdl:part element="impl:solicitarEntregarSesionResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvDRIService">
        <wsdl:operation name="crear">
                
            <wsdl:documentation> 
                Método para subir desde offline los odes a la carpeta personal
                del usuario utilizando usuario y clave. Devolverá un Integer que
                será un código de error
            </wsdl:documentation>
            <wsdl:input message="impl:crear1Request" 
                        name="crear1Request"/>
            <wsdl:output message="impl:crear1Response" 
                         name="crear1Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearSesion">
                
            <wsdl:documentation> 
                Método para subir desde offline los odes a la carpeta personal
                del usuario utilizando la sesión .Devolverá un Integer que será
                un código de error
            </wsdl:documentation>
            <wsdl:input message="impl:crearSesion2Request" 
                        name="crearSesion2Request"/>
            <wsdl:output message="impl:crearSesion2Response" 
                         name="crearSesion2Response"/>
        </wsdl:operation>
        <wsdl:operation name="estasActivo">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:estasActivo3Request" 
                        name="estasActivo3Request"/>
            <wsdl:output message="impl:estasActivo3Response" 
                         name="estasActivo3Response"/>
        </wsdl:operation>
        <wsdl:operation name="presentarAlmacenar">
                
            <wsdl:documentation> 
                Este metodo invoca el publicarPIF del servicio de publicacion.
                Le pasan como parametros el identificador de usuario y la clave
                de un usuario autenticado en la plataforma y el contenido del
                ODE en formato PIF. El usuario debe tener los suficientes
                permisos dentro de la plataforma para poder realizar esta
                accion. Devolverá un código de error
            </wsdl:documentation>
            <wsdl:input message="impl:presentarAlmacenar4Request" 
                        name="presentarAlmacenar4Request"/>
            <wsdl:output message="impl:presentarAlmacenar4Response" 
                         name="presentarAlmacenar4Response"/>
        </wsdl:operation>
        <wsdl:operation name="presentarAlmacenarSesion">
                
            <wsdl:documentation> 
                Este metodo invoca el publicarPIF del servicio de publicacion.
                Le pasan como parametros el identificador de la sesion que hay
                que haber inicializado y el contenido del ODE en formato PIF.
                Devolverá un código de error
            </wsdl:documentation>
            <wsdl:input message="impl:presentarAlmacenarSesion5Request" 
                        name="presentarAlmacenarSesion5Request"/>
            <wsdl:output message="impl:presentarAlmacenarSesion5Response" 
                         name="presentarAlmacenarSesion5Response"/>
        </wsdl:operation>
        <wsdl:operation name="presentarCatalogar">
                
            <wsdl:documentation> 
                Este metodo recoge un ODE y lo introduce en el ciclo de vida de
                la plataforma en el estado catalogar en el que un catalogador ha
                de realizar su labor sobre el ODE. Devolverá un código de error
            </wsdl:documentation>
            <wsdl:input message="impl:presentarCatalogar6Request" 
                        name="presentarCatalogar6Request"/>
            <wsdl:output message="impl:presentarCatalogar6Response" 
                         name="presentarCatalogar6Response"/>
        </wsdl:operation>
        <wsdl:operation name="presentarCatalogarSesion">
                
            <wsdl:documentation> 
                Este metodo recoge un ODE y lo introduce en el ciclo de vida de
                la plataforma en el estado catalogar en el que un catalogador ha
                de realizar su labor sobre el ODE. Devolverá un código de error
            </wsdl:documentation>
            <wsdl:input message="impl:presentarCatalogarSesion7Request" 
                        name="presentarCatalogarSesion7Request"/>
            <wsdl:output message="impl:presentarCatalogarSesion7Response" 
                         name="presentarCatalogarSesion7Response"/>
        </wsdl:operation>
        <wsdl:operation name="solicitarEntregarSesion">
                
            <wsdl:documentation> 
                Este metodo devuelve un ODE en formato PIF.
                Toma como parametros el identificador de la sesion que hay que
                haber inicializado antes y el identificador del ODE que se
                quiere obtener.
            </wsdl:documentation>
            <wsdl:input message="impl:solicitarEntregarSesion8Request" 
                        name="solicitarEntregarSesion8Request"/>
            <wsdl:output message="impl:solicitarEntregarSesion8Response" 
                         name="solicitarEntregarSesion8Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvDRIServiceSoapBinding" type="impl:SrvDRIService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="crear">
            <wsdlsoap:operation soapAction="crear" style="document"/>
            <wsdl:input name="crear1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crear1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearSesion">
            <wsdlsoap:operation soapAction="crearSesion" style="document"/>
            <wsdl:input name="crearSesion2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearSesion2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="estasActivo">
            <wsdlsoap:operation soapAction="estasActivo" style="document"/>
            <wsdl:input name="estasActivo3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="estasActivo3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="presentarAlmacenar">
            <wsdlsoap:operation soapAction="presentarAlmacenar" style="document"/>
            <wsdl:input name="presentarAlmacenar4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="presentarAlmacenar4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="presentarAlmacenarSesion">
            <wsdlsoap:operation soapAction="presentarAlmacenarSesion" style="document"/>
            <wsdl:input name="presentarAlmacenarSesion5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="presentarAlmacenarSesion5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="presentarCatalogar">
            <wsdlsoap:operation soapAction="presentarCatalogar" style="document"/>
            <wsdl:input name="presentarCatalogar6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="presentarCatalogar6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="presentarCatalogarSesion">
            <wsdlsoap:operation soapAction="presentarCatalogarSesion" style="document"/>
            <wsdl:input name="presentarCatalogarSesion7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="presentarCatalogarSesion7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="solicitarEntregarSesion">
            <wsdlsoap:operation soapAction="solicitarEntregarSesion" style="document"/>
            <wsdl:input name="solicitarEntregarSesion8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="solicitarEntregarSesion8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvDRIServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvDRIServiceSoapBinding" name="SrvDRIService">
            <wsdlsoap:address location="http://localhost:8080/dri-1/services/SrvDRIService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>