herramientaoffline/mda/src/wsdl/SrvSyncService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvSyncService" 
    targetNamespace="http://servicios.negocio.publicacion.pode.es"
    xmlns:impl="http://servicios.negocio.publicacion.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.publicacion.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="descargarODEs">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="odes" type="impl:ArrayOfODESyncVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="clave" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="descargarODEsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="descargarODEsReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerODEs">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="clave" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerODEsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerODEsReturn" type="impl:ArrayOfODESyncVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="subirODE">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="usuario" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="clave" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="pif" type="apachesoap:DataHandler" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="subirODEResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="subirODEReturn" type="impl:ResultadoOperacionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ODESyncVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Titulo del ode.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="md5" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Se trata del codigo MD5 asociado al ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del ODE.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfODESyncVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ODESyncVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoOperacionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Este objeto de valor representa el resultado de una operacion
                        ejecutada por el servicio de publicacion.
                        Contiene el resultado de la operacion en el caso de exito y de
                        error.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idResultado" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador alfanumerico del tipo de incidencia que se ha
                                detectado y que se reporta.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion del resultado de la operacion realizada.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El identificador del ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tamainoODE" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El tamaino que el ODE ocupa en disco.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="descargarODEs1Request">
        <wsdl:part element="impl:descargarODEs" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="descargarODEs1Response">
        <wsdl:part element="impl:descargarODEsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerODEs2Request">
        <wsdl:part element="impl:obtenerODEs" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerODEs2Response">
        <wsdl:part element="impl:obtenerODEsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirODE3Request">
        <wsdl:part element="impl:subirODE" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirODE3Response">
        <wsdl:part element="impl:subirODEResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvSyncService">
        <wsdl:operation name="descargarODEs">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:descargarODEs1Request" 
                        name="descargarODEs1Request"/>
            <wsdl:output message="impl:descargarODEs1Response" 
                         name="descargarODEs1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerODEs">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerODEs2Request" 
                        name="obtenerODEs2Request"/>
            <wsdl:output message="impl:obtenerODEs2Response" 
                         name="obtenerODEs2Response"/>
        </wsdl:operation>
        <wsdl:operation name="subirODE">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:subirODE3Request" 
                        name="subirODE3Request"/>
            <wsdl:output message="impl:subirODE3Response" 
                         name="subirODE3Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvSyncServiceSoapBinding" type="impl:SrvSyncService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="descargarODEs">
            <wsdlsoap:operation soapAction="descargarODEs" style="document"/>
            <wsdl:input name="descargarODEs1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="descargarODEs1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerODEs">
            <wsdlsoap:operation soapAction="obtenerODEs" style="document"/>
            <wsdl:input name="obtenerODEs2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerODEs2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="subirODE">
            <wsdlsoap:operation soapAction="subirODE" style="document"/>
            <wsdl:input name="subirODE3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="subirODE3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvSyncServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvSyncServiceSoapBinding" name="SrvSyncService">
            <wsdlsoap:address location="http://localhost:8080/publicacion-1/services/SrvSyncService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>