InstaladorAgrega2/mda/src/wsdl/SrvPropiedadService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvPropiedadService" 
    targetNamespace="http://servicios.negocio.configuracionPlataforma.pode.es"
    xmlns:impl="http://servicios.negocio.configuracionPlataforma.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.configuracionPlataforma.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="getAllProperties">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve todas las propiedades de la DB
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getAllPropertiesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getAllPropertiesReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getCategoriasPropiedadesModificables">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve todas las categorias existentes en las que se
                        clasifican las propiedades locales y globales que sean editables
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getCategoriasPropiedadesModificablesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getCategoriasPropiedadesModificablesReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getInstanciasJbossActivas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve la lista de instancias JBoss activas incluida la global
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getInstanciasJbossActivasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getInstanciasJbossActivasReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedad">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve una propiedad. Primero intenta localizarla como local y
                        si falla la busca como global.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadReturn" type="impl:PropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesJboss">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a una instancia Jboss.
                        La instancia jboss puede ser global, default, node1, node2,
                        node3, node4, node5, o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesJbossResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesJbossReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesJbossPorCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a una instancia Jboss
                        filtrandolas por categoria. La instancia jboss puede ser global,
                        default, node1, node2, node3, node4, node5, o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="categoria" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesJbossPorCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesJbossPorCategoriaReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesJbossPorFichero">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a una instancia Jboss
                        filtrandolas por el campo ficherosAfectados. La instancia jboss
                        puede ser global, default, node1, node2, node3, node4, node5, o
                        node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombreFichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesJbossPorFicheroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesJbossPorFicheroReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesLocales">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local. La instancia JBoss local se ajustara automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesLocalesReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesPorCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local filtrandolas por categoria. La instancia JBoss local se
                        ajustara automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="categoria" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesPorCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesLocalesPorCategoriaReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesPorFichero">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades pertenecientes a la instancia Jboss
                        local filtrandolas por el campo ficherosAfectados.  La instancia
                        JBoss local se ajustara automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombreFichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesLocalesPorFicheroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesLocalesPorFicheroReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesModificablesDeTodasInstanciasPorCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades que son modificable independientemente
                        de la instancia a la que pertenezcan filtrandolas por categoria
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="categoria" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesModificablesDeTodasInstanciasPorCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesModificablesDeTodasInstanciasPorCategoriaReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadesPorFichero">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve las propiedades globales y las locales filtrandolas por
                        ficherosAfectados
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombreFichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadesPorFicheroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadesPorFicheroReturn" type="impl:ArrayOfPropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getPropiedadJBoss">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Hace lo mismo que getPropiedadJboss pero devolviendo un VO
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPropiedadJBossResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getPropiedadJBossReturn" type="impl:PropiedadVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getValorPropiedad">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve el valor de una propiedad. Primero intenta localizarla
                        como local y si falla la busca como global.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getValorPropiedadResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getValorPropiedadReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getValorPropiedadJboss">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve el valor de la variable perteneciente a una instancia
                        JBoss determinada; global, default, node1, node2, node3, node4,
                        node5 o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getValorPropiedadJbossResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getValorPropiedadJbossReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="getValorPropiedadLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve el valor de la variable perteneciente a la instancia
                        JBoss local.  La instancia JBoss local se ajustara
                        automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="getValorPropiedadLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getValorPropiedadLocalReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="resetCachePropiedadesLocales">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="resetCachePropiedadesLocalesResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="setValorPropiedad">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Ajusta el valor de una propiedad. Primero intenta localizarla
                        como local y si falla la busca como global.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="valor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setValorPropiedadResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="setValorPropiedadReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="setValorPropiedades">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Ajusta el valor de un conjunto de propiedades locales o globales
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="propiedades" type="impl:ArrayOfPropiedadVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setValorPropiedadesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="setValorPropiedadesReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="setValorPropiedadJboss">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Modifica el valor de la variable perteneciente a una instancia
                        JBoss determinada; global, default, node1, node2, node3, node4,
                        node5 o node6
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="valor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setValorPropiedadJbossResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="setValorPropiedadJbossReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="setValorPropiedadLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Modifica el valor de la variable perteneciente a la instancia
                        JBoss local.  La instancia JBoss local se ajustara
                        automaticamente.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="valor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="setValorPropiedadLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="setValorPropiedadLocalReturn" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="PropiedadVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valor" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ejemplo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoria" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipologia" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="modificable" nillable="false" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="instanciaJboss" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="requiereReinicioJboss" nillable="false" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ficherosAfectados" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="subcategoria" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPropiedadVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:PropiedadVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="getAllProperties1Request">
        <wsdl:part element="impl:getAllProperties" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAllProperties1Response">
        <wsdl:part element="impl:getAllPropertiesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCategoriasPropiedadesModificables2Request">
        <wsdl:part element="impl:getCategoriasPropiedadesModificables" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCategoriasPropiedadesModificables2Response">
        <wsdl:part element="impl:getCategoriasPropiedadesModificablesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getInstanciasJbossActivas3Request">
        <wsdl:part element="impl:getInstanciasJbossActivas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getInstanciasJbossActivas3Response">
        <wsdl:part element="impl:getInstanciasJbossActivasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedad4Request">
        <wsdl:part element="impl:getPropiedad" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedad4Response">
        <wsdl:part element="impl:getPropiedadResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJboss5Request">
        <wsdl:part element="impl:getPropiedadesJboss" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJboss5Response">
        <wsdl:part element="impl:getPropiedadesJbossResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJbossPorCategoria6Request">
        <wsdl:part element="impl:getPropiedadesJbossPorCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJbossPorCategoria6Response">
        <wsdl:part element="impl:getPropiedadesJbossPorCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJbossPorFichero7Request">
        <wsdl:part element="impl:getPropiedadesJbossPorFichero" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesJbossPorFichero7Response">
        <wsdl:part element="impl:getPropiedadesJbossPorFicheroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocales8Request">
        <wsdl:part element="impl:getPropiedadesLocales" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocales8Response">
        <wsdl:part element="impl:getPropiedadesLocalesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocalesPorCategoria9Request">
        <wsdl:part element="impl:getPropiedadesLocalesPorCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocalesPorCategoria9Response">
        <wsdl:part element="impl:getPropiedadesLocalesPorCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocalesPorFichero10Request">
        <wsdl:part element="impl:getPropiedadesLocalesPorFichero" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesLocalesPorFichero10Response">
        <wsdl:part element="impl:getPropiedadesLocalesPorFicheroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesModificablesDeTodasInstanciasPorCategoria11Request">
        <wsdl:part element="impl:getPropiedadesModificablesDeTodasInstanciasPorCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesModificablesDeTodasInstanciasPorCategoria11Response">
        <wsdl:part element="impl:getPropiedadesModificablesDeTodasInstanciasPorCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesPorFichero12Request">
        <wsdl:part element="impl:getPropiedadesPorFichero" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadesPorFichero12Response">
        <wsdl:part element="impl:getPropiedadesPorFicheroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadJBoss13Request">
        <wsdl:part element="impl:getPropiedadJBoss" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getPropiedadJBoss13Response">
        <wsdl:part element="impl:getPropiedadJBossResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedad14Request">
        <wsdl:part element="impl:getValorPropiedad" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedad14Response">
        <wsdl:part element="impl:getValorPropiedadResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedadJboss15Request">
        <wsdl:part element="impl:getValorPropiedadJboss" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedadJboss15Response">
        <wsdl:part element="impl:getValorPropiedadJbossResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedadLocal16Request">
        <wsdl:part element="impl:getValorPropiedadLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getValorPropiedadLocal16Response">
        <wsdl:part element="impl:getValorPropiedadLocalResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="resetCachePropiedadesLocales17Request">
        <wsdl:part element="impl:resetCachePropiedadesLocales" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="resetCachePropiedadesLocales17Response">
        <wsdl:part element="impl:resetCachePropiedadesLocalesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedad18Request">
        <wsdl:part element="impl:setValorPropiedad" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedad18Response">
        <wsdl:part element="impl:setValorPropiedadResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedades19Request">
        <wsdl:part element="impl:setValorPropiedades" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedades19Response">
        <wsdl:part element="impl:setValorPropiedadesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedadJboss20Request">
        <wsdl:part element="impl:setValorPropiedadJboss" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedadJboss20Response">
        <wsdl:part element="impl:setValorPropiedadJbossResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedadLocal21Request">
        <wsdl:part element="impl:setValorPropiedadLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="setValorPropiedadLocal21Response">
        <wsdl:part element="impl:setValorPropiedadLocalResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvPropiedadService">
        <wsdl:operation name="getAllProperties">
                
            <wsdl:documentation> 
                Devuelve todas las propiedades de la DB
            </wsdl:documentation>
            <wsdl:input message="impl:getAllProperties1Request" 
                        name="getAllProperties1Request"/>
            <wsdl:output message="impl:getAllProperties1Response" 
                         name="getAllProperties1Response"/>
        </wsdl:operation>
        <wsdl:operation name="getCategoriasPropiedadesModificables">
                
            <wsdl:documentation> 
                Devuelve todas las categorias existentes en las que se
                clasifican las propiedades locales y globales que sean editables
            </wsdl:documentation>
            <wsdl:input message="impl:getCategoriasPropiedadesModificables2Request" 
                        name="getCategoriasPropiedadesModificables2Request"/>
            <wsdl:output message="impl:getCategoriasPropiedadesModificables2Response" 
                         name="getCategoriasPropiedadesModificables2Response"/>
        </wsdl:operation>
        <wsdl:operation name="getInstanciasJbossActivas">
                
            <wsdl:documentation> 
                Devuelve la lista de instancias JBoss activas incluida la global
            </wsdl:documentation>
            <wsdl:input message="impl:getInstanciasJbossActivas3Request" 
                        name="getInstanciasJbossActivas3Request"/>
            <wsdl:output message="impl:getInstanciasJbossActivas3Response" 
                         name="getInstanciasJbossActivas3Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedad">
                
            <wsdl:documentation> 
                Devuelve una propiedad. Primero intenta localizarla como local y
                si falla la busca como global.
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedad4Request" 
                        name="getPropiedad4Request"/>
            <wsdl:output message="impl:getPropiedad4Response" 
                         name="getPropiedad4Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesJboss">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a una instancia Jboss.
                La instancia jboss puede ser global, default, node1, node2,
                node3, node4, node5, o node6
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesJboss5Request" 
                        name="getPropiedadesJboss5Request"/>
            <wsdl:output message="impl:getPropiedadesJboss5Response" 
                         name="getPropiedadesJboss5Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesJbossPorCategoria">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a una instancia Jboss
                filtrandolas por categoria. La instancia jboss puede ser global,
                default, node1, node2, node3, node4, node5, o node6
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesJbossPorCategoria6Request" 
                        name="getPropiedadesJbossPorCategoria6Request"/>
            <wsdl:output message="impl:getPropiedadesJbossPorCategoria6Response" 
                         name="getPropiedadesJbossPorCategoria6Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesJbossPorFichero">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a una instancia Jboss
                filtrandolas por el campo ficherosAfectados. La instancia jboss
                puede ser global, default, node1, node2, node3, node4, node5, o
                node6
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesJbossPorFichero7Request" 
                        name="getPropiedadesJbossPorFichero7Request"/>
            <wsdl:output message="impl:getPropiedadesJbossPorFichero7Response" 
                         name="getPropiedadesJbossPorFichero7Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesLocales">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local. La instancia JBoss local se ajustara automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesLocales8Request" 
                        name="getPropiedadesLocales8Request"/>
            <wsdl:output message="impl:getPropiedadesLocales8Response" 
                         name="getPropiedadesLocales8Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesLocalesPorCategoria">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local filtrandolas por categoria. La instancia JBoss local se
                ajustara automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesLocalesPorCategoria9Request" 
                        name="getPropiedadesLocalesPorCategoria9Request"/>
            <wsdl:output message="impl:getPropiedadesLocalesPorCategoria9Response" 
                         name="getPropiedadesLocalesPorCategoria9Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesLocalesPorFichero">
                
            <wsdl:documentation> 
                Devuelve las propiedades pertenecientes a la instancia Jboss
                local filtrandolas por el campo ficherosAfectados.  La instancia
                JBoss local se ajustara automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesLocalesPorFichero10Request" 
                        name="getPropiedadesLocalesPorFichero10Request"/>
            <wsdl:output message="impl:getPropiedadesLocalesPorFichero10Response" 
                         name="getPropiedadesLocalesPorFichero10Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesModificablesDeTodasInstanciasPorCategoria">
                
            <wsdl:documentation> 
                Devuelve las propiedades que son modificable independientemente
                de la instancia a la que pertenezcan filtrandolas por categoria
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesModificablesDeTodasInstanciasPorCategoria11Request" 
                        name="getPropiedadesModificablesDeTodasInstanciasPorCategoria11Request"/>
            <wsdl:output message="impl:getPropiedadesModificablesDeTodasInstanciasPorCategoria11Response" 
                         name="getPropiedadesModificablesDeTodasInstanciasPorCategoria11Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadesPorFichero">
                
            <wsdl:documentation> 
                Devuelve las propiedades globales y las locales filtrandolas por
                ficherosAfectados
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadesPorFichero12Request" 
                        name="getPropiedadesPorFichero12Request"/>
            <wsdl:output message="impl:getPropiedadesPorFichero12Response" 
                         name="getPropiedadesPorFichero12Response"/>
        </wsdl:operation>
        <wsdl:operation name="getPropiedadJBoss">
                
            <wsdl:documentation> 
                Hace lo mismo que getPropiedadJboss pero devolviendo un VO
            </wsdl:documentation>
            <wsdl:input message="impl:getPropiedadJBoss13Request" 
                        name="getPropiedadJBoss13Request"/>
            <wsdl:output message="impl:getPropiedadJBoss13Response" 
                         name="getPropiedadJBoss13Response"/>
        </wsdl:operation>
        <wsdl:operation name="getValorPropiedad">
                
            <wsdl:documentation> 
                Devuelve el valor de una propiedad. Primero intenta localizarla
                como local y si falla la busca como global.
            </wsdl:documentation>
            <wsdl:input message="impl:getValorPropiedad14Request" 
                        name="getValorPropiedad14Request"/>
            <wsdl:output message="impl:getValorPropiedad14Response" 
                         name="getValorPropiedad14Response"/>
        </wsdl:operation>
        <wsdl:operation name="getValorPropiedadJboss">
                
            <wsdl:documentation> 
                Devuelve el valor de la variable perteneciente a una instancia
                JBoss determinada; global, default, node1, node2, node3, node4,
                node5 o node6
            </wsdl:documentation>
            <wsdl:input message="impl:getValorPropiedadJboss15Request" 
                        name="getValorPropiedadJboss15Request"/>
            <wsdl:output message="impl:getValorPropiedadJboss15Response" 
                         name="getValorPropiedadJboss15Response"/>
        </wsdl:operation>
        <wsdl:operation name="getValorPropiedadLocal">
                
            <wsdl:documentation> 
                Devuelve el valor de la variable perteneciente a la instancia
                JBoss local.  La instancia JBoss local se ajustara
                automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:getValorPropiedadLocal16Request" 
                        name="getValorPropiedadLocal16Request"/>
            <wsdl:output message="impl:getValorPropiedadLocal16Response" 
                         name="getValorPropiedadLocal16Response"/>
        </wsdl:operation>
        <wsdl:operation name="resetCachePropiedadesLocales">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:resetCachePropiedadesLocales17Request" 
                        name="resetCachePropiedadesLocales17Request"/>
            <wsdl:output message="impl:resetCachePropiedadesLocales17Response" 
                         name="resetCachePropiedadesLocales17Response"/>
        </wsdl:operation>
        <wsdl:operation name="setValorPropiedad">
                
            <wsdl:documentation> 
                Ajusta el valor de una propiedad. Primero intenta localizarla
                como local y si falla la busca como global.
            </wsdl:documentation>
            <wsdl:input message="impl:setValorPropiedad18Request" 
                        name="setValorPropiedad18Request"/>
            <wsdl:output message="impl:setValorPropiedad18Response" 
                         name="setValorPropiedad18Response"/>
        </wsdl:operation>
        <wsdl:operation name="setValorPropiedades">
                
            <wsdl:documentation> 
                Ajusta el valor de un conjunto de propiedades locales o globales
            </wsdl:documentation>
            <wsdl:input message="impl:setValorPropiedades19Request" 
                        name="setValorPropiedades19Request"/>
            <wsdl:output message="impl:setValorPropiedades19Response" 
                         name="setValorPropiedades19Response"/>
        </wsdl:operation>
        <wsdl:operation name="setValorPropiedadJboss">
                
            <wsdl:documentation> 
                Modifica el valor de la variable perteneciente a una instancia
                JBoss determinada; global, default, node1, node2, node3, node4,
                node5 o node6
            </wsdl:documentation>
            <wsdl:input message="impl:setValorPropiedadJboss20Request" 
                        name="setValorPropiedadJboss20Request"/>
            <wsdl:output message="impl:setValorPropiedadJboss20Response" 
                         name="setValorPropiedadJboss20Response"/>
        </wsdl:operation>
        <wsdl:operation name="setValorPropiedadLocal">
                
            <wsdl:documentation> 
                Modifica el valor de la variable perteneciente a la instancia
                JBoss local.  La instancia JBoss local se ajustara
                automaticamente.
            </wsdl:documentation>
            <wsdl:input message="impl:setValorPropiedadLocal21Request" 
                        name="setValorPropiedadLocal21Request"/>
            <wsdl:output message="impl:setValorPropiedadLocal21Response" 
                         name="setValorPropiedadLocal21Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvPropiedadServiceSoapBinding" type="impl:SrvPropiedadService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAllProperties">
            <wsdlsoap:operation soapAction="getAllProperties" style="document"/>
            <wsdl:input name="getAllProperties1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllProperties1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getCategoriasPropiedadesModificables">
            <wsdlsoap:operation soapAction="getCategoriasPropiedadesModificables" style="document"/>
            <wsdl:input name="getCategoriasPropiedadesModificables2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCategoriasPropiedadesModificables2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getInstanciasJbossActivas">
            <wsdlsoap:operation soapAction="getInstanciasJbossActivas" style="document"/>
            <wsdl:input name="getInstanciasJbossActivas3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getInstanciasJbossActivas3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedad">
            <wsdlsoap:operation soapAction="getPropiedad" style="document"/>
            <wsdl:input name="getPropiedad4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedad4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesJboss">
            <wsdlsoap:operation soapAction="getPropiedadesJboss" style="document"/>
            <wsdl:input name="getPropiedadesJboss5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesJboss5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesJbossPorCategoria">
            <wsdlsoap:operation soapAction="getPropiedadesJbossPorCategoria" style="document"/>
            <wsdl:input name="getPropiedadesJbossPorCategoria6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesJbossPorCategoria6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesJbossPorFichero">
            <wsdlsoap:operation soapAction="getPropiedadesJbossPorFichero" style="document"/>
            <wsdl:input name="getPropiedadesJbossPorFichero7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesJbossPorFichero7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesLocales">
            <wsdlsoap:operation soapAction="getPropiedadesLocales" style="document"/>
            <wsdl:input name="getPropiedadesLocales8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesLocales8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesLocalesPorCategoria">
            <wsdlsoap:operation soapAction="getPropiedadesLocalesPorCategoria" style="document"/>
            <wsdl:input name="getPropiedadesLocalesPorCategoria9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesLocalesPorCategoria9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesLocalesPorFichero">
            <wsdlsoap:operation soapAction="getPropiedadesLocalesPorFichero" style="document"/>
            <wsdl:input name="getPropiedadesLocalesPorFichero10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesLocalesPorFichero10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesModificablesDeTodasInstanciasPorCategoria">
            <wsdlsoap:operation soapAction="getPropiedadesModificablesDeTodasInstanciasPorCategoria" style="document"/>
            <wsdl:input name="getPropiedadesModificablesDeTodasInstanciasPorCategoria11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesModificablesDeTodasInstanciasPorCategoria11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadesPorFichero">
            <wsdlsoap:operation soapAction="getPropiedadesPorFichero" style="document"/>
            <wsdl:input name="getPropiedadesPorFichero12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadesPorFichero12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getPropiedadJBoss">
            <wsdlsoap:operation soapAction="getPropiedadJBoss" style="document"/>
            <wsdl:input name="getPropiedadJBoss13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPropiedadJBoss13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getValorPropiedad">
            <wsdlsoap:operation soapAction="getValorPropiedad" style="document"/>
            <wsdl:input name="getValorPropiedad14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getValorPropiedad14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getValorPropiedadJboss">
            <wsdlsoap:operation soapAction="getValorPropiedadJboss" style="document"/>
            <wsdl:input name="getValorPropiedadJboss15Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getValorPropiedadJboss15Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="getValorPropiedadLocal">
            <wsdlsoap:operation soapAction="getValorPropiedadLocal" style="document"/>
            <wsdl:input name="getValorPropiedadLocal16Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getValorPropiedadLocal16Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="resetCachePropiedadesLocales">
            <wsdlsoap:operation soapAction="resetCachePropiedadesLocales" style="document"/>
            <wsdl:input name="resetCachePropiedadesLocales17Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="resetCachePropiedadesLocales17Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setValorPropiedad">
            <wsdlsoap:operation soapAction="setValorPropiedad" style="document"/>
            <wsdl:input name="setValorPropiedad18Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setValorPropiedad18Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setValorPropiedades">
            <wsdlsoap:operation soapAction="setValorPropiedades" style="document"/>
            <wsdl:input name="setValorPropiedades19Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setValorPropiedades19Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setValorPropiedadJboss">
            <wsdlsoap:operation soapAction="setValorPropiedadJboss" style="document"/>
            <wsdl:input name="setValorPropiedadJboss20Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setValorPropiedadJboss20Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="setValorPropiedadLocal">
            <wsdlsoap:operation soapAction="setValorPropiedadLocal" style="document"/>
            <wsdl:input name="setValorPropiedadLocal21Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setValorPropiedadLocal21Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvPropiedadServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvPropiedadServiceSoapBinding" name="SrvPropiedadService">
            <wsdlsoap:address location="http://localhost:8080/configuracionPlataforma-1.0/services/SrvPropiedadService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>