indexador/mda/src/wsdl/SrvTesaurosServices.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvTesaurosServices" 
    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:impl="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="obtenerJerarquia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerJerarquiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerJerarquiaReturn" type="impl:ArrayOfJerarquiaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerPrimerNivelTesauro">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerPrimerNivelTesauroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerPrimerNivelTesauroReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorId">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorIdResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionadosPorIdReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorTexto">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="textoTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionadosPorTextoResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionadosPorTextoReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionAsociativa">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionAsociativaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionAsociativaReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionJerarquica">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTerminosRelacionJerarquicaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTerminosRelacionJerarquicaReturn" type="impl:ArrayOfTaxonVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVocabName">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nomTesauro" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerVocabNameResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVocabNameReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="JerarquiaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="jerarquia" nillable="false" type="impl:ArrayOfTaxonVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfJerarquiaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:JerarquiaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxonVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Representa un taxon particular dentro de una taxonomia. Esta
                        compuesto por un identificador, un valor y un campo para
                        identificar si el taxon es hoja dentro de la taxonomia.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador del taxon dentro de la taxonomia a la que
                                pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valorTax" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Valor del taxon en la taxonomia a la que pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="esHoja" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Flag que indica si el taxon tiene descendientes en la taxonomia
                                a la que pertenece.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vocabName" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoRelacion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTaxonVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TaxonVO" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="obtenerJerarquia1Request">
        <wsdl:part element="impl:obtenerJerarquia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerJerarquia1Response">
        <wsdl:part element="impl:obtenerJerarquiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerPrimerNivelTesauro2Request">
        <wsdl:part element="impl:obtenerPrimerNivelTesauro" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerPrimerNivelTesauro2Response">
        <wsdl:part element="impl:obtenerPrimerNivelTesauroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorId3Request">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorId" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorId3Response">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorIdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorTexto4Request">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorTexto" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionadosPorTexto4Response">
        <wsdl:part element="impl:obtenerTerminosRelacionadosPorTextoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionAsociativa5Request">
        <wsdl:part element="impl:obtenerTerminosRelacionAsociativa" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionAsociativa5Response">
        <wsdl:part element="impl:obtenerTerminosRelacionAsociativaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionJerarquica6Request">
        <wsdl:part element="impl:obtenerTerminosRelacionJerarquica" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTerminosRelacionJerarquica6Response">
        <wsdl:part element="impl:obtenerTerminosRelacionJerarquicaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabName7Request">
        <wsdl:part element="impl:obtenerVocabName" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVocabName7Response">
        <wsdl:part element="impl:obtenerVocabNameResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvTesaurosServices">
        <wsdl:operation name="obtenerJerarquia">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerJerarquia1Request" 
                        name="obtenerJerarquia1Request"/>
            <wsdl:output message="impl:obtenerJerarquia1Response" 
                         name="obtenerJerarquia1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerPrimerNivelTesauro">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerPrimerNivelTesauro2Request" 
                        name="obtenerPrimerNivelTesauro2Request"/>
            <wsdl:output message="impl:obtenerPrimerNivelTesauro2Response" 
                         name="obtenerPrimerNivelTesauro2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionadosPorId">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionadosPorId3Request" 
                        name="obtenerTerminosRelacionadosPorId3Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionadosPorId3Response" 
                         name="obtenerTerminosRelacionadosPorId3Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionadosPorTexto">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionadosPorTexto4Request" 
                        name="obtenerTerminosRelacionadosPorTexto4Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionadosPorTexto4Response" 
                         name="obtenerTerminosRelacionadosPorTexto4Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionAsociativa">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionAsociativa5Request" 
                        name="obtenerTerminosRelacionAsociativa5Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionAsociativa5Response" 
                         name="obtenerTerminosRelacionAsociativa5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTerminosRelacionJerarquica">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTerminosRelacionJerarquica6Request" 
                        name="obtenerTerminosRelacionJerarquica6Request"/>
            <wsdl:output message="impl:obtenerTerminosRelacionJerarquica6Response" 
                         name="obtenerTerminosRelacionJerarquica6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVocabName">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVocabName7Request" 
                        name="obtenerVocabName7Request"/>
            <wsdl:output message="impl:obtenerVocabName7Response" 
                         name="obtenerVocabName7Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvTesaurosServicesSoapBinding" type="impl:SrvTesaurosServices">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerJerarquia">
            <wsdlsoap:operation soapAction="obtenerJerarquia" style="document"/>
            <wsdl:input name="obtenerJerarquia1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerJerarquia1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerPrimerNivelTesauro">
            <wsdlsoap:operation soapAction="obtenerPrimerNivelTesauro" style="document"/>
            <wsdl:input name="obtenerPrimerNivelTesauro2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerPrimerNivelTesauro2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionadosPorId">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionadosPorId" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionadosPorId3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionadosPorId3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionadosPorTexto">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionadosPorTexto" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionadosPorTexto4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionadosPorTexto4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionAsociativa">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionAsociativa" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionAsociativa5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionAsociativa5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTerminosRelacionJerarquica">
            <wsdlsoap:operation soapAction="obtenerTerminosRelacionJerarquica" style="document"/>
            <wsdl:input name="obtenerTerminosRelacionJerarquica6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTerminosRelacionJerarquica6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVocabName">
            <wsdlsoap:operation soapAction="obtenerVocabName" style="document"/>
            <wsdl:input name="obtenerVocabName7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVocabName7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvTesaurosServicesService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvTesaurosServicesSoapBinding" name="SrvTesaurosServices">
            <wsdlsoap:address location="http://localhost:8080/fuentestaxonomicas-1/services/SrvTesaurosServices"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>