portaladministracion/mda/src/wsdl/SrvAgregadorRssService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvAgregadorRssService" 
    targetNamespace="http://servicio.agregador.negocio.agregador.pode.es"
    xmlns:impl="http://servicio.agregador.negocio.agregador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.agregador.negocio.agregador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="crearXML">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idTarea" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="feedNum" type="xsd:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomaNavegacion" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearXMLResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="devuelveFeeds">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="devuelveFeedsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="devuelveFeedsReturn" type="impl:ArrayOfFeedVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="devuelveFeedsGaleriaPortada">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idiomaNavegacion" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="devuelveFeedsGaleriaPortadaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="devuelveFeedsGaleriaPortadaReturn" type="impl:ArrayOfFeedVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="devuelveRssBusqueda">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método que recoge un parámetro con todos los datos necesarios
                        para realizar una búsqueda. Tras la búsqueda genera un fichero
                        xml con los resultados obtenidos y lo devuelve en un DataHandler
                        para poder visualizarlo.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="parametrosBusqueda" type="impl:ParametrosBusquedaAgregadorVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipoRSS" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Indica el tipo de formato de feeds RSS o ATOM
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="feedNum" type="xsd:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="devuelveRssBusquedaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="devuelveRssBusquedaReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarFichero">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="param" type="impl:ParametrosBusquedaAgregadorVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarFicheroResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="obtenerXMLFeed">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="feedNum" type="xsd:long" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idiomaNavegacion" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerXMLFeedResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerXMLFeedReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerXMLFeedArrayByte">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerXMLFeedArrayByteResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerXMLFeedArrayByteReturn" type="xsd:hexBinary"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>



            <xsd:complexType name="FeedVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="url" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="path" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="periodicidad" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFeedVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:FeedVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosBusquedaAgregadorVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Parámetro con todos los atributos necesarios para poder realizar
                        una búsqueda
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="valoracion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="secuencia" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="recurso" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="procesoCognitivo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="palabrasClave" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="origenPagina" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numeroResultados" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="enlaceTaxSelec" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaNavegacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idiomaBusqueda" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idBusqueda" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaPublicacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="edad" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="contexto" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadesSeleccionadas" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="autor" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="resultadosPorPagina" nillable="true" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="arbolCurricularVigente" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="destinatarios" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="keyword" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="busquedaSimpleAvanzada" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idTesauro" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoBusqueda" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                indica el tipo de Busqueda que se ha realizado (local, federada,
                                personalizada...)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="comunidadPeticion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                nodo local
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="taxonomia" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="enlaceComunidadesSeleccionadas" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idODE" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="true" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="crearXML1Request">
        <wsdl:part element="impl:crearXML" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearXML1Response">
        <wsdl:part element="impl:crearXMLResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="devuelveFeeds2Request">
        <wsdl:part element="impl:devuelveFeeds" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="devuelveFeeds2Response">
        <wsdl:part element="impl:devuelveFeedsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="devuelveFeedsGaleriaPortada3Request">
        <wsdl:part element="impl:devuelveFeedsGaleriaPortada" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="devuelveFeedsGaleriaPortada3Response">
        <wsdl:part element="impl:devuelveFeedsGaleriaPortadaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="devuelveRssBusqueda4Request">
        <wsdl:part element="impl:devuelveRssBusqueda" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="devuelveRssBusqueda4Response">
        <wsdl:part element="impl:devuelveRssBusquedaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFichero5Request">
        <wsdl:part element="impl:eliminarFichero" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFichero5Response">
        <wsdl:part element="impl:eliminarFicheroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerXMLFeed6Request">
        <wsdl:part element="impl:obtenerXMLFeed" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerXMLFeed6Response">
        <wsdl:part element="impl:obtenerXMLFeedResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerXMLFeedArrayByte7Request">
        <wsdl:part element="impl:obtenerXMLFeedArrayByte" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerXMLFeedArrayByte7Response">
        <wsdl:part element="impl:obtenerXMLFeedArrayByteResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvAgregadorRssService">
        <wsdl:operation name="crearXML">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:crearXML1Request" 
                        name="crearXML1Request"/>
            <wsdl:output message="impl:crearXML1Response" 
                         name="crearXML1Response"/>
        </wsdl:operation>
        <wsdl:operation name="devuelveFeeds">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:devuelveFeeds2Request" 
                        name="devuelveFeeds2Request"/>
            <wsdl:output message="impl:devuelveFeeds2Response" 
                         name="devuelveFeeds2Response"/>
        </wsdl:operation>
        <wsdl:operation name="devuelveFeedsGaleriaPortada">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:devuelveFeedsGaleriaPortada3Request" 
                        name="devuelveFeedsGaleriaPortada3Request"/>
            <wsdl:output message="impl:devuelveFeedsGaleriaPortada3Response" 
                         name="devuelveFeedsGaleriaPortada3Response"/>
        </wsdl:operation>
        <wsdl:operation name="devuelveRssBusqueda">
                
            <wsdl:documentation> 
                Método que recoge un parámetro con todos los datos necesarios
                para realizar una búsqueda. Tras la búsqueda genera un fichero
                xml con los resultados obtenidos y lo devuelve en un DataHandler
                para poder visualizarlo.
            </wsdl:documentation>
            <wsdl:input message="impl:devuelveRssBusqueda4Request" 
                        name="devuelveRssBusqueda4Request"/>
            <wsdl:output message="impl:devuelveRssBusqueda4Response" 
                         name="devuelveRssBusqueda4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarFichero">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarFichero5Request" 
                        name="eliminarFichero5Request"/>
            <wsdl:output message="impl:eliminarFichero5Response" 
                         name="eliminarFichero5Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerXMLFeed">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerXMLFeed6Request" 
                        name="obtenerXMLFeed6Request"/>
            <wsdl:output message="impl:obtenerXMLFeed6Response" 
                         name="obtenerXMLFeed6Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerXMLFeedArrayByte">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerXMLFeedArrayByte7Request" 
                        name="obtenerXMLFeedArrayByte7Request"/>
            <wsdl:output message="impl:obtenerXMLFeedArrayByte7Response" 
                         name="obtenerXMLFeedArrayByte7Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvAgregadorRssServiceSoapBinding" type="impl:SrvAgregadorRssService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="crearXML">
            <wsdlsoap:operation soapAction="crearXML" style="document"/>
            <wsdl:input name="crearXML1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearXML1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="devuelveFeeds">
            <wsdlsoap:operation soapAction="devuelveFeeds" style="document"/>
            <wsdl:input name="devuelveFeeds2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="devuelveFeeds2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="devuelveFeedsGaleriaPortada">
            <wsdlsoap:operation soapAction="devuelveFeedsGaleriaPortada" style="document"/>
            <wsdl:input name="devuelveFeedsGaleriaPortada3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="devuelveFeedsGaleriaPortada3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="devuelveRssBusqueda">
            <wsdlsoap:operation soapAction="devuelveRssBusqueda" style="document"/>
            <wsdl:input name="devuelveRssBusqueda4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="devuelveRssBusqueda4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarFichero">
            <wsdlsoap:operation soapAction="eliminarFichero" style="document"/>
            <wsdl:input name="eliminarFichero5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarFichero5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerXMLFeed">
            <wsdlsoap:operation soapAction="obtenerXMLFeed" style="document"/>
            <wsdl:input name="obtenerXMLFeed6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerXMLFeed6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerXMLFeedArrayByte">
            <wsdlsoap:operation soapAction="obtenerXMLFeedArrayByte" style="document"/>
            <wsdl:input name="obtenerXMLFeedArrayByte7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerXMLFeedArrayByte7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvAgregadorRssServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvAgregadorRssServiceSoapBinding" name="SrvAgregadorRssService">
            <wsdlsoap:address location="http://localhost:8080/agregadorRSS-1.0/services/SrvAgregadorRssService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>