portaladministracion/mda/src/wsdl/SrvAuditaPlanificadorService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvAuditaPlanificadorService" 
    targetNamespace="http://servicios.negocio.planificador.pode.es"
    xmlns:impl="http://servicios.negocio.planificador.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.planificador.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="obtenerInformeCarga">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        este método devuelve la información que se mostrará en el
                        informe de carga
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idTarea" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerInformeCargaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerInformeCargaReturn" type="impl:InformeCargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerTrabajosEjecutadosDesdeHasta">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Método que devulve un array de VO con todos los procesos
                        planificados entre dos fechas
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="fechas" type="impl:ParametrosVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerTrabajosEjecutadosDesdeHastaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerTrabajosEjecutadosDesdeHastaReturn" type="impl:ArrayOfTareaEjecutadaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="InformeCargaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Contiene información de la tarea de carga masiva
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombreTarea" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nombre de la tarea
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathCarga" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Es el path raíz donde se encuentran los ODEs
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcionCarga" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La descripción de la carga
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreLote" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nombre del lote de odes que se publican con esta tarea
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="registroCarga" nillable="false" type="impl:ArrayOfRegistroCargaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El registro de los odes que se han publicado o no con esta tarea
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathCargaOK" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathCargaKO" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParametrosVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fechaDesde" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de inicio del informe
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaHasta" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha fin del informe
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RegistroCargaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Almacena la información de los ODEs cargados de la tarea de
                        carga masiva
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombreZip" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nombre del zip
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathZip" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Path relativo respecto al path de la carga
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Fecha de la publicaión o no del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Estado final del ODE (publicado, no publicado)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Cadena con el resultado de la carga. Se corresponde con la
                                columna Descripcion de la tabla registro_tarea_carga_ejecutada
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Título del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id_mec" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El identificador mec del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Idioma en el que se ha indexado el ODE
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                El nivel de agregación del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sobrescrito" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indica si ya existía un ODE anteriormente cargado en la
                                plataforma, y si es así si lo ha sobrescrito o no
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Cadena con todos los formatos que contiene el ODE, separados por
                                comas(,)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rutaTaxonomica" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La ruta taxonomica del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="odesSimilares" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Lista de id_mecs separados por comas similares al ode cargado
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRegistroCargaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:RegistroCargaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRegistroTareaCargaEjecutadaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:RegistroTareaCargaEjecutadaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RegistroTareaCargaEjecutadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="fecha" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreZip" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathOde" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id_mec" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nivelAgregacion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sobrescrito" nillable="true" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="formato" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                La descripción de como ha ido la publicación del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rutaTaxonomica" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Las rutas taxonomicas del ode
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathOdeDespublicado" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Indica si el ode ha sido despublicado o no de la plataforma
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="odesSimilares" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Conjunto de identificadores mec similares al ode cargado (será
                                una lista de identificadores separados por comas)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tarea_carga_ejecutada" nillable="false" type="impl:TareaEjecutadaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfRegistroTareaEjecutadaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:RegistroTareaEjecutadaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RegistroTareaEjecutadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tarea_ejecutada" nillable="false" type="impl:TareaEjecutadaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TareaEjecutadaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="descripcion" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Descripcion de una tarea ejecutada (trabajo)
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="trabajo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="grupoTrabajo" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaInicio" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="id" nillable="true" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaFin" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="usuario" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estado" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fechaBaja" nillable="true" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcionTarea" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreLote" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathCarga" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipoTarea" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathCargaOK" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pathCargaKO" nillable="true" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="registroTareaEjecutadaVOs" nillable="true" type="impl:ArrayOfRegistroTareaEjecutadaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                    <xsd:element name="registroTareaCargaEjecutadaVOs" nillable="true" type="impl:ArrayOfRegistroTareaCargaEjecutadaVO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>   
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfTareaEjecutadaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:TareaEjecutadaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="obtenerInformeCarga1Request">
        <wsdl:part element="impl:obtenerInformeCarga" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerInformeCarga1Response">
        <wsdl:part element="impl:obtenerInformeCargaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTrabajosEjecutadosDesdeHasta2Request">
        <wsdl:part element="impl:obtenerTrabajosEjecutadosDesdeHasta" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerTrabajosEjecutadosDesdeHasta2Response">
        <wsdl:part element="impl:obtenerTrabajosEjecutadosDesdeHastaResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvAuditaPlanificadorService">
        <wsdl:operation name="obtenerInformeCarga">
                
            <wsdl:documentation> 
                este método devuelve la información que se mostrará en el
                informe de carga
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerInformeCarga1Request" 
                        name="obtenerInformeCarga1Request"/>
            <wsdl:output message="impl:obtenerInformeCarga1Response" 
                         name="obtenerInformeCarga1Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerTrabajosEjecutadosDesdeHasta">
                
            <wsdl:documentation> 
                Método que devulve un array de VO con todos los procesos
                planificados entre dos fechas
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerTrabajosEjecutadosDesdeHasta2Request" 
                        name="obtenerTrabajosEjecutadosDesdeHasta2Request"/>
            <wsdl:output message="impl:obtenerTrabajosEjecutadosDesdeHasta2Response" 
                         name="obtenerTrabajosEjecutadosDesdeHasta2Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvAuditaPlanificadorServiceSoapBinding" type="impl:SrvAuditaPlanificadorService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerInformeCarga">
            <wsdlsoap:operation soapAction="obtenerInformeCarga" style="document"/>
            <wsdl:input name="obtenerInformeCarga1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerInformeCarga1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerTrabajosEjecutadosDesdeHasta">
            <wsdlsoap:operation soapAction="obtenerTrabajosEjecutadosDesdeHasta" style="document"/>
            <wsdl:input name="obtenerTrabajosEjecutadosDesdeHasta2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerTrabajosEjecutadosDesdeHasta2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvAuditaPlanificadorServiceService">
        <wsdl:documentation> 
            Servicio que sirve la información al servicio de Auditoria
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvAuditaPlanificadorServiceSoapBinding" name="SrvAuditaPlanificadorService">
            <wsdlsoap:address location="http://localhost:8080/planificador-1.0/services/SrvAuditaPlanificadorService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>