portaladministracion/mda/src/wsdl/SrvConfigPortal.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvConfigPortal" 
    targetNamespace="http://servicio.configuracionPortal.negocio.contenidos.pode.es"
    xmlns:impl="http://servicio.configuracionPortal.negocio.contenidos.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.configuracionPortal.negocio.contenidos.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="almacenarImagen">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="imagen" type="impl:ImagenVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="almacenarImagenResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="crearConfiguracion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="configuracion" type="impl:ConfiguracionPortalVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="crearConfiguracionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="crearConfiguracionReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerConfiguracion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerConfiguracionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerConfiguracionReturn" type="impl:ConfiguracionPortalVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ConfiguracionPortalVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="noticias" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="informes" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descargas" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="agregaWeb" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tagging" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="activa" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="rss" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="estadisticas" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="etiquetas" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="plugginBusqueda" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="registrese" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="openId" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="imagen" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="enlacePassword" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="googleAnalytic" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codGa" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idRssGaleriaPortada" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="numOdesGaleria" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="itinerariosAprendizaje" nillable="false" type="soapenc:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ImagenVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        Value Object conteniendo la imagen de noticias suministrada para
                        su almacenaje..
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Nombre de la imagen.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mimeType" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Tipo mime
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="datos" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                DataHandler conteniendo la imagen serializada.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="almacenarImagen1Request">
        <wsdl:part element="impl:almacenarImagen" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="almacenarImagen1Response">
        <wsdl:part element="impl:almacenarImagenResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearConfiguracion2Request">
        <wsdl:part element="impl:crearConfiguracion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="crearConfiguracion2Response">
        <wsdl:part element="impl:crearConfiguracionResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerConfiguracion3Request">
        <wsdl:part element="impl:obtenerConfiguracion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerConfiguracion3Response">
        <wsdl:part element="impl:obtenerConfiguracionResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvConfigPortal">
        <wsdl:operation name="almacenarImagen">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:almacenarImagen1Request" 
                        name="almacenarImagen1Request"/>
            <wsdl:output message="impl:almacenarImagen1Response" 
                         name="almacenarImagen1Response"/>
        </wsdl:operation>
        <wsdl:operation name="crearConfiguracion">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:crearConfiguracion2Request" 
                        name="crearConfiguracion2Request"/>
            <wsdl:output message="impl:crearConfiguracion2Response" 
                         name="crearConfiguracion2Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerConfiguracion">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerConfiguracion3Request" 
                        name="obtenerConfiguracion3Request"/>
            <wsdl:output message="impl:obtenerConfiguracion3Response" 
                         name="obtenerConfiguracion3Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvConfigPortalSoapBinding" type="impl:SrvConfigPortal">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="almacenarImagen">
            <wsdlsoap:operation soapAction="almacenarImagen" style="document"/>
            <wsdl:input name="almacenarImagen1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="almacenarImagen1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="crearConfiguracion">
            <wsdlsoap:operation soapAction="crearConfiguracion" style="document"/>
            <wsdl:input name="crearConfiguracion2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="crearConfiguracion2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerConfiguracion">
            <wsdlsoap:operation soapAction="obtenerConfiguracion" style="document"/>
            <wsdl:input name="obtenerConfiguracion3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerConfiguracion3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvConfigPortalService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvConfigPortalSoapBinding" name="SrvConfigPortal">
            <wsdlsoap:address location="http://localhost:8080/contenidosportal-F1/services/SrvConfigPortal"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>