portaladministracion/mda/src/wsdl/SrvDescargas.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvDescargas" 
    targetNamespace="http://servicio.descargas.negocio.contenidos.pode.es"
    xmlns:impl="http://servicio.descargas.negocio.contenidos.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.descargas.negocio.contenidos.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="descargar">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve DataHandler para descargar fichero indicado
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="descargarResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="descargarReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarCategoriaDesc">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Texto de título de la Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Código ISO de idioma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="categoria" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarCategoriaDescResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="eliminarDescargas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Elimina Descargas correspondientes a los identificadores dados
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificadores" type="impl:ArrayOfsoapenc_long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de identificadores de Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarDescargasResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="insertarCategoriaDesc">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Texto de título de la Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Código ISO de idioma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="insertarCategoriaDescResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="insertarCategoriaDescarga">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Añade una categoría nuevo a la Descarga indicada
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="id" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    identificador de categoria
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="insertarCategoriaDescargaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="insertarDescDescarga">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Añade un par título/descripción nuevo a la Descarga indicada
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Código ISO de idioma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="desc" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Texto de la descripción de la Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Texto de título de la Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="insertarDescDescargaResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="insertarDescDescargas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Añade varios pares título/descripción nuevos a la Descarga
                        indicada
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="descripciones" type="impl:ArrayOfDescDescargaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de títulos y descripciones para los idiomas indicados
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="insertarDescDescargasResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="modificarCategoriaDesc">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="titulo" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Texto de título de la Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Código ISO de idioma.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarCategoriaDescResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="modificarDescarga">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Modifica o crea una Descarga. Si no se indica identificador, se
                        creará una nueva.
                        Devuelve identificador de la Descarga modificada.
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="soapenc:long" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de la Descarga. Si es null, se crea Descarga nueva
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="path" type="xsd:string" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Ruta en servidor del fichero que se sirve en la Descarga.
                                    El fichero de la ruta indicada se copiará a una ruta interna,
                                    que será el valor de este campo a la salida del método de
                                    Modificación
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="activa" type="soapenc:boolean" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Si es true, la Descarga aparecerá en la lista de Descargas
                                    disponibles
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="descripciones" type="impl:ArrayOfDescDescargaVO" nillable="true">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Vector de DescDescargas, pares de título y descripción para cada
                                    idioma definido
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarDescargaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarDescargaReturn" type="soapenc:long"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategoriaDesc">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="categoria" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCategoriaDescResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriaDescReturn" type="impl:CategoriaDescargaDescVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategoriaDescarga">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve categoría de la Descarga de identificador indicado
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerCategoriaDescargaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriaDescargaReturn" type="impl:CategoriaDescargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerCategorias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve lista de categorías
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerCategoriasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerCategoriasReturn" type="impl:ArrayOfCategoriaDescargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerDescarga">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve Descarga correspondiente al identificador dado
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    identificador de Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerDescargaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerDescargaReturn" type="impl:DescargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerDescargasActivas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve vector de Descargas cuyo estado sea activo
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerDescargasActivasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerDescargasActivasReturn" type="impl:ArrayOfDescargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerDescargasNoActivas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve vector de Descargas cuyo estado sea no activo
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerDescargasNoActivasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerDescargasNoActivasReturn" type="impl:ArrayOfDescargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerDescargasPorCategoria">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve lista de Descargas que pertenezcan a la categoría dada
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="idCategoria" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de Categoria
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerDescargasPorCategoriaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerDescargasPorCategoriaReturn" type="impl:ArrayOfDescargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerDescDescargas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve vector de pares título/descripción para todos los
                        idiomas definidos para la Descarga de identificador indicado
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="soapenc:long" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Identificador de Descarga
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerDescDescargasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerDescDescargasReturn" type="impl:ArrayOfDescDescargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerDescDescargasIdioma">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve lista de pares título/descripción de todas las
                        Descargas para un idioma concreto
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="descargas" type="impl:ArrayOfDescargaVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Lista de pares título/descripción
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="idioma" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    Código ISO de idioma
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerDescDescargasIdiomaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerDescDescargasIdiomaReturn" type="impl:ArrayOfDescDescargaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerVersion">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        Devuelve el código de la última versión disponible
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="obtenerVersionResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerVersionReturn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="CategoriaDescargaDescVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CategoriaDescargaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="id" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                Identificador de la categoría de descarga
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfCategoriaDescargaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:CategoriaDescargaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DescargaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="path" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificador" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="activa" nillable="false" type="soapenc:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="peso" nillable="false" type="soapenc:long">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDescargaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DescargaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DescDescargaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="idioma" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="titulo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfDescDescargaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:DescDescargaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfsoapenc_long">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="soapenc:long" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="descargar1Request">
        <wsdl:part element="impl:descargar" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="descargar1Response">
        <wsdl:part element="impl:descargarResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategoriaDesc2Request">
        <wsdl:part element="impl:eliminarCategoriaDesc" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarCategoriaDesc2Response">
        <wsdl:part element="impl:eliminarCategoriaDescResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarDescargas3Request">
        <wsdl:part element="impl:eliminarDescargas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarDescargas3Response">
        <wsdl:part element="impl:eliminarDescargasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="insertarCategoriaDesc4Request">
        <wsdl:part element="impl:insertarCategoriaDesc" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="insertarCategoriaDesc4Response">
        <wsdl:part element="impl:insertarCategoriaDescResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="insertarCategoriaDescarga5Request">
        <wsdl:part element="impl:insertarCategoriaDescarga" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="insertarCategoriaDescarga5Response">
        <wsdl:part element="impl:insertarCategoriaDescargaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="insertarDescDescarga6Request">
        <wsdl:part element="impl:insertarDescDescarga" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="insertarDescDescarga6Response">
        <wsdl:part element="impl:insertarDescDescargaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="insertarDescDescargas7Request">
        <wsdl:part element="impl:insertarDescDescargas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="insertarDescDescargas7Response">
        <wsdl:part element="impl:insertarDescDescargasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarCategoriaDesc8Request">
        <wsdl:part element="impl:modificarCategoriaDesc" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarCategoriaDesc8Response">
        <wsdl:part element="impl:modificarCategoriaDescResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarDescarga9Request">
        <wsdl:part element="impl:modificarDescarga" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarDescarga9Response">
        <wsdl:part element="impl:modificarDescargaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriaDesc10Request">
        <wsdl:part element="impl:obtenerCategoriaDesc" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriaDesc10Response">
        <wsdl:part element="impl:obtenerCategoriaDescResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriaDescarga11Request">
        <wsdl:part element="impl:obtenerCategoriaDescarga" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategoriaDescarga11Response">
        <wsdl:part element="impl:obtenerCategoriaDescargaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategorias12Request">
        <wsdl:part element="impl:obtenerCategorias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerCategorias12Response">
        <wsdl:part element="impl:obtenerCategoriasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescarga13Request">
        <wsdl:part element="impl:obtenerDescarga" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescarga13Response">
        <wsdl:part element="impl:obtenerDescargaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescargasActivas14Request">
        <wsdl:part element="impl:obtenerDescargasActivas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescargasActivas14Response">
        <wsdl:part element="impl:obtenerDescargasActivasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescargasNoActivas15Request">
        <wsdl:part element="impl:obtenerDescargasNoActivas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescargasNoActivas15Response">
        <wsdl:part element="impl:obtenerDescargasNoActivasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescargasPorCategoria16Request">
        <wsdl:part element="impl:obtenerDescargasPorCategoria" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescargasPorCategoria16Response">
        <wsdl:part element="impl:obtenerDescargasPorCategoriaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescDescargas17Request">
        <wsdl:part element="impl:obtenerDescDescargas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescDescargas17Response">
        <wsdl:part element="impl:obtenerDescDescargasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescDescargasIdioma18Request">
        <wsdl:part element="impl:obtenerDescDescargasIdioma" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerDescDescargasIdioma18Response">
        <wsdl:part element="impl:obtenerDescDescargasIdiomaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVersion19Request">
        <wsdl:part element="impl:obtenerVersion" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerVersion19Response">
        <wsdl:part element="impl:obtenerVersionResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvDescargas">
        <wsdl:operation name="descargar">
                
            <wsdl:documentation> 
                Devuelve DataHandler para descargar fichero indicado
            </wsdl:documentation>
            <wsdl:input message="impl:descargar1Request" 
                        name="descargar1Request"/>
            <wsdl:output message="impl:descargar1Response" 
                         name="descargar1Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarCategoriaDesc">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarCategoriaDesc2Request" 
                        name="eliminarCategoriaDesc2Request"/>
            <wsdl:output message="impl:eliminarCategoriaDesc2Response" 
                         name="eliminarCategoriaDesc2Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarDescargas">
                
            <wsdl:documentation> 
                Elimina Descargas correspondientes a los identificadores dados
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarDescargas3Request" 
                        name="eliminarDescargas3Request"/>
            <wsdl:output message="impl:eliminarDescargas3Response" 
                         name="eliminarDescargas3Response"/>
        </wsdl:operation>
        <wsdl:operation name="insertarCategoriaDesc">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:insertarCategoriaDesc4Request" 
                        name="insertarCategoriaDesc4Request"/>
            <wsdl:output message="impl:insertarCategoriaDesc4Response" 
                         name="insertarCategoriaDesc4Response"/>
        </wsdl:operation>
        <wsdl:operation name="insertarCategoriaDescarga">
                
            <wsdl:documentation> 
                Añade una categoría nuevo a la Descarga indicada
            </wsdl:documentation>
            <wsdl:input message="impl:insertarCategoriaDescarga5Request" 
                        name="insertarCategoriaDescarga5Request"/>
            <wsdl:output message="impl:insertarCategoriaDescarga5Response" 
                         name="insertarCategoriaDescarga5Response"/>
        </wsdl:operation>
        <wsdl:operation name="insertarDescDescarga">
                
            <wsdl:documentation> 
                Añade un par título/descripción nuevo a la Descarga indicada
            </wsdl:documentation>
            <wsdl:input message="impl:insertarDescDescarga6Request" 
                        name="insertarDescDescarga6Request"/>
            <wsdl:output message="impl:insertarDescDescarga6Response" 
                         name="insertarDescDescarga6Response"/>
        </wsdl:operation>
        <wsdl:operation name="insertarDescDescargas">
                
            <wsdl:documentation> 
                Añade varios pares título/descripción nuevos a la Descarga
                indicada
            </wsdl:documentation>
            <wsdl:input message="impl:insertarDescDescargas7Request" 
                        name="insertarDescDescargas7Request"/>
            <wsdl:output message="impl:insertarDescDescargas7Response" 
                         name="insertarDescDescargas7Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarCategoriaDesc">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarCategoriaDesc8Request" 
                        name="modificarCategoriaDesc8Request"/>
            <wsdl:output message="impl:modificarCategoriaDesc8Response" 
                         name="modificarCategoriaDesc8Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarDescarga">
                
            <wsdl:documentation> 
                Modifica o crea una Descarga. Si no se indica identificador, se
                creará una nueva.
                Devuelve identificador de la Descarga modificada.
            </wsdl:documentation>
            <wsdl:input message="impl:modificarDescarga9Request" 
                        name="modificarDescarga9Request"/>
            <wsdl:output message="impl:modificarDescarga9Response" 
                         name="modificarDescarga9Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategoriaDesc">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategoriaDesc10Request" 
                        name="obtenerCategoriaDesc10Request"/>
            <wsdl:output message="impl:obtenerCategoriaDesc10Response" 
                         name="obtenerCategoriaDesc10Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategoriaDescarga">
                
            <wsdl:documentation> 
                Devuelve categoría de la Descarga de identificador indicado
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategoriaDescarga11Request" 
                        name="obtenerCategoriaDescarga11Request"/>
            <wsdl:output message="impl:obtenerCategoriaDescarga11Response" 
                         name="obtenerCategoriaDescarga11Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerCategorias">
                
            <wsdl:documentation> 
                Devuelve lista de categorías
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerCategorias12Request" 
                        name="obtenerCategorias12Request"/>
            <wsdl:output message="impl:obtenerCategorias12Response" 
                         name="obtenerCategorias12Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerDescarga">
                
            <wsdl:documentation> 
                Devuelve Descarga correspondiente al identificador dado
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerDescarga13Request" 
                        name="obtenerDescarga13Request"/>
            <wsdl:output message="impl:obtenerDescarga13Response" 
                         name="obtenerDescarga13Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerDescargasActivas">
                
            <wsdl:documentation> 
                Devuelve vector de Descargas cuyo estado sea activo
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerDescargasActivas14Request" 
                        name="obtenerDescargasActivas14Request"/>
            <wsdl:output message="impl:obtenerDescargasActivas14Response" 
                         name="obtenerDescargasActivas14Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerDescargasNoActivas">
                
            <wsdl:documentation> 
                Devuelve vector de Descargas cuyo estado sea no activo
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerDescargasNoActivas15Request" 
                        name="obtenerDescargasNoActivas15Request"/>
            <wsdl:output message="impl:obtenerDescargasNoActivas15Response" 
                         name="obtenerDescargasNoActivas15Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerDescargasPorCategoria">
                
            <wsdl:documentation> 
                Devuelve lista de Descargas que pertenezcan a la categoría dada
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerDescargasPorCategoria16Request" 
                        name="obtenerDescargasPorCategoria16Request"/>
            <wsdl:output message="impl:obtenerDescargasPorCategoria16Response" 
                         name="obtenerDescargasPorCategoria16Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerDescDescargas">
                
            <wsdl:documentation> 
                Devuelve vector de pares título/descripción para todos los
                idiomas definidos para la Descarga de identificador indicado
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerDescDescargas17Request" 
                        name="obtenerDescDescargas17Request"/>
            <wsdl:output message="impl:obtenerDescDescargas17Response" 
                         name="obtenerDescDescargas17Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerDescDescargasIdioma">
                
            <wsdl:documentation> 
                Devuelve lista de pares título/descripción de todas las
                Descargas para un idioma concreto
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerDescDescargasIdioma18Request" 
                        name="obtenerDescDescargasIdioma18Request"/>
            <wsdl:output message="impl:obtenerDescDescargasIdioma18Response" 
                         name="obtenerDescDescargasIdioma18Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerVersion">
                
            <wsdl:documentation> 
                Devuelve el código de la última versión disponible
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerVersion19Request" 
                        name="obtenerVersion19Request"/>
            <wsdl:output message="impl:obtenerVersion19Response" 
                         name="obtenerVersion19Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvDescargasSoapBinding" type="impl:SrvDescargas">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="descargar">
            <wsdlsoap:operation soapAction="descargar" style="document"/>
            <wsdl:input name="descargar1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="descargar1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarCategoriaDesc">
            <wsdlsoap:operation soapAction="eliminarCategoriaDesc" style="document"/>
            <wsdl:input name="eliminarCategoriaDesc2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarCategoriaDesc2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarDescargas">
            <wsdlsoap:operation soapAction="eliminarDescargas" style="document"/>
            <wsdl:input name="eliminarDescargas3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarDescargas3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="insertarCategoriaDesc">
            <wsdlsoap:operation soapAction="insertarCategoriaDesc" style="document"/>
            <wsdl:input name="insertarCategoriaDesc4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="insertarCategoriaDesc4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="insertarCategoriaDescarga">
            <wsdlsoap:operation soapAction="insertarCategoriaDescarga" style="document"/>
            <wsdl:input name="insertarCategoriaDescarga5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="insertarCategoriaDescarga5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="insertarDescDescarga">
            <wsdlsoap:operation soapAction="insertarDescDescarga" style="document"/>
            <wsdl:input name="insertarDescDescarga6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="insertarDescDescarga6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="insertarDescDescargas">
            <wsdlsoap:operation soapAction="insertarDescDescargas" style="document"/>
            <wsdl:input name="insertarDescDescargas7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="insertarDescDescargas7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarCategoriaDesc">
            <wsdlsoap:operation soapAction="modificarCategoriaDesc" style="document"/>
            <wsdl:input name="modificarCategoriaDesc8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarCategoriaDesc8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarDescarga">
            <wsdlsoap:operation soapAction="modificarDescarga" style="document"/>
            <wsdl:input name="modificarDescarga9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarDescarga9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategoriaDesc">
            <wsdlsoap:operation soapAction="obtenerCategoriaDesc" style="document"/>
            <wsdl:input name="obtenerCategoriaDesc10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategoriaDesc10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategoriaDescarga">
            <wsdlsoap:operation soapAction="obtenerCategoriaDescarga" style="document"/>
            <wsdl:input name="obtenerCategoriaDescarga11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategoriaDescarga11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerCategorias">
            <wsdlsoap:operation soapAction="obtenerCategorias" style="document"/>
            <wsdl:input name="obtenerCategorias12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerCategorias12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerDescarga">
            <wsdlsoap:operation soapAction="obtenerDescarga" style="document"/>
            <wsdl:input name="obtenerDescarga13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerDescarga13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerDescargasActivas">
            <wsdlsoap:operation soapAction="obtenerDescargasActivas" style="document"/>
            <wsdl:input name="obtenerDescargasActivas14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerDescargasActivas14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerDescargasNoActivas">
            <wsdlsoap:operation soapAction="obtenerDescargasNoActivas" style="document"/>
            <wsdl:input name="obtenerDescargasNoActivas15Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerDescargasNoActivas15Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerDescargasPorCategoria">
            <wsdlsoap:operation soapAction="obtenerDescargasPorCategoria" style="document"/>
            <wsdl:input name="obtenerDescargasPorCategoria16Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerDescargasPorCategoria16Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerDescDescargas">
            <wsdlsoap:operation soapAction="obtenerDescDescargas" style="document"/>
            <wsdl:input name="obtenerDescDescargas17Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerDescDescargas17Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerDescDescargasIdioma">
            <wsdlsoap:operation soapAction="obtenerDescDescargasIdioma" style="document"/>
            <wsdl:input name="obtenerDescDescargasIdioma18Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerDescDescargasIdioma18Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerVersion">
            <wsdlsoap:operation soapAction="obtenerVersion" style="document"/>
            <wsdl:input name="obtenerVersion19Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerVersion19Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvDescargasService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvDescargasSoapBinding" name="SrvDescargas">
            <wsdlsoap:address location="http://localhost:8080/contenidosportal-F1/services/SrvDescargas"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>