portaladministracion/mda/src/wsdl/SrvEstructurasEducativasService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvEstructurasEducativasService" 
    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:impl="http://servicio.negocio.fuentestaxonomicas.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.negocio.fuentestaxonomicas.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="actualizarFicherosVdex">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="listaVdex" type="impl:ArrayOfParamVdexVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipo" type="impl:TipoVdex" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="actualizarFicherosVdexResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="actualizarFicherosVdexReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="actualizarVigente">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="listaVdex" type="impl:ArrayOfParamVdexVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipo" type="impl:TipoVdex" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="actualizarVigenteResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="actualizarVigenteReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="chequearIdiomaArbolCurricular">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="chequearIdiomaArbolCurricularResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="chequearIdiomaArbolCurricularReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="chequearIdiomaTesauro">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="chequearIdiomaTesauroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="chequearIdiomaTesauroReturn" type="soapenc:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="eliminarFicherosVdex">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="listaEliminar" type="impl:ArrayOfParamEliminarVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarFicherosVdexResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarFicherosVdexReturn" type="impl:ArrayOfxsd_int"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="exportarVdex">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipoVdex" type="impl:TipoVdex" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="exportarVdexResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="exportarVdexReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarArbolCurricular">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarArbolCurricularResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarArbolCurricularReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarBackups">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarBackupsResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarBackupsReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarFicherosTaxonomia">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="listarFicherosTaxonomiaResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarFicherosTaxonomiaReturn" type="impl:VdexListaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarFicherosTaxonomias">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarFicherosTaxonomiasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarFicherosTaxonomiasReturn" type="impl:ArrayOfVdexListaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarFicherosTesauro">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="identificador" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="listarFicherosTesauroResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarFicherosTesauroReturn" type="impl:VdexListaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarFicherosTesauros">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarFicherosTesaurosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarFicherosTesaurosReturn" type="impl:ArrayOfVdexListaVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarTesauros">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarTesaurosResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarTesaurosReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="obtenerIdsConVocabIdentifier">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ids" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="obtenerIdsConVocabIdentifierResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="obtenerIdsConVocabIdentifierReturn" type="impl:ArrayOfxsd_string"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="recargarTaxonomiasTesauros">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="recargarTaxonomiasTesaurosResponse">       
                <xsd:complexType/>     
            </xsd:element>
            <xsd:element name="subirFicherosVdex">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="listaVdex" type="impl:ArrayOfParamVdexVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="tipo" type="impl:TipoVdex" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="subirFicherosVdexResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="subirFicherosVdexReturn" type="impl:ArrayOfVdexVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="ParamEliminarVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipo" nillable="false" type="impl:TipoVdex">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfParamEliminarVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ParamEliminarVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ParamVdexVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="ficheroXml" nillable="false" type="apachesoap:DataHandler">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="nombreFichero" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfParamVdexVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:ParamVdexVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="TipoVdex">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ARBOL">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="TESAURO">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="TAXONOMIA">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                    <xsd:enumeration value="TESAUROS_BACK">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="VdexListaVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="listaFicheros" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identificador" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfVdexListaVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:VdexListaVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="VdexVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="codigoError" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="sufijo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="erroresParseo" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="vocabNameDuplicado" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfVdexVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:VdexVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_int">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:int" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="actualizarFicherosVdex1Request">
        <wsdl:part element="impl:actualizarFicherosVdex" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actualizarFicherosVdex1Response">
        <wsdl:part element="impl:actualizarFicherosVdexResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actualizarVigente2Request">
        <wsdl:part element="impl:actualizarVigente" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="actualizarVigente2Response">
        <wsdl:part element="impl:actualizarVigenteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaArbolCurricular3Request">
        <wsdl:part element="impl:chequearIdiomaArbolCurricular" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaArbolCurricular3Response">
        <wsdl:part element="impl:chequearIdiomaArbolCurricularResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaTesauro4Request">
        <wsdl:part element="impl:chequearIdiomaTesauro" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="chequearIdiomaTesauro4Response">
        <wsdl:part element="impl:chequearIdiomaTesauroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFicherosVdex5Request">
        <wsdl:part element="impl:eliminarFicherosVdex" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarFicherosVdex5Response">
        <wsdl:part element="impl:eliminarFicherosVdexResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarVdex6Request">
        <wsdl:part element="impl:exportarVdex" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="exportarVdex6Response">
        <wsdl:part element="impl:exportarVdexResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarArbolCurricular7Request">
        <wsdl:part element="impl:listarArbolCurricular" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarArbolCurricular7Response">
        <wsdl:part element="impl:listarArbolCurricularResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarBackups8Request">
        <wsdl:part element="impl:listarBackups" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarBackups8Response">
        <wsdl:part element="impl:listarBackupsResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosTaxonomia9Request">
        <wsdl:part element="impl:listarFicherosTaxonomia" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosTaxonomia9Response">
        <wsdl:part element="impl:listarFicherosTaxonomiaResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosTaxonomias10Request">
        <wsdl:part element="impl:listarFicherosTaxonomias" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosTaxonomias10Response">
        <wsdl:part element="impl:listarFicherosTaxonomiasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosTesauro11Request">
        <wsdl:part element="impl:listarFicherosTesauro" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosTesauro11Response">
        <wsdl:part element="impl:listarFicherosTesauroResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosTesauros12Request">
        <wsdl:part element="impl:listarFicherosTesauros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarFicherosTesauros12Response">
        <wsdl:part element="impl:listarFicherosTesaurosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarTesauros13Request">
        <wsdl:part element="impl:listarTesauros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarTesauros13Response">
        <wsdl:part element="impl:listarTesaurosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdsConVocabIdentifier14Request">
        <wsdl:part element="impl:obtenerIdsConVocabIdentifier" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="obtenerIdsConVocabIdentifier14Response">
        <wsdl:part element="impl:obtenerIdsConVocabIdentifierResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recargarTaxonomiasTesauros15Request">
        <wsdl:part element="impl:recargarTaxonomiasTesauros" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recargarTaxonomiasTesauros15Response">
        <wsdl:part element="impl:recargarTaxonomiasTesaurosResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirFicherosVdex16Request">
        <wsdl:part element="impl:subirFicherosVdex" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="subirFicherosVdex16Response">
        <wsdl:part element="impl:subirFicherosVdexResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvEstructurasEducativasService">
        <wsdl:operation name="actualizarFicherosVdex">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:actualizarFicherosVdex1Request" 
                        name="actualizarFicherosVdex1Request"/>
            <wsdl:output message="impl:actualizarFicherosVdex1Response" 
                         name="actualizarFicherosVdex1Response"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarVigente">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:actualizarVigente2Request" 
                        name="actualizarVigente2Request"/>
            <wsdl:output message="impl:actualizarVigente2Response" 
                         name="actualizarVigente2Response"/>
        </wsdl:operation>
        <wsdl:operation name="chequearIdiomaArbolCurricular">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:chequearIdiomaArbolCurricular3Request" 
                        name="chequearIdiomaArbolCurricular3Request"/>
            <wsdl:output message="impl:chequearIdiomaArbolCurricular3Response" 
                         name="chequearIdiomaArbolCurricular3Response"/>
        </wsdl:operation>
        <wsdl:operation name="chequearIdiomaTesauro">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:chequearIdiomaTesauro4Request" 
                        name="chequearIdiomaTesauro4Request"/>
            <wsdl:output message="impl:chequearIdiomaTesauro4Response" 
                         name="chequearIdiomaTesauro4Response"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarFicherosVdex">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarFicherosVdex5Request" 
                        name="eliminarFicherosVdex5Request"/>
            <wsdl:output message="impl:eliminarFicherosVdex5Response" 
                         name="eliminarFicherosVdex5Response"/>
        </wsdl:operation>
        <wsdl:operation name="exportarVdex">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:exportarVdex6Request" 
                        name="exportarVdex6Request"/>
            <wsdl:output message="impl:exportarVdex6Response" 
                         name="exportarVdex6Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarArbolCurricular">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarArbolCurricular7Request" 
                        name="listarArbolCurricular7Request"/>
            <wsdl:output message="impl:listarArbolCurricular7Response" 
                         name="listarArbolCurricular7Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarBackups">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarBackups8Request" 
                        name="listarBackups8Request"/>
            <wsdl:output message="impl:listarBackups8Response" 
                         name="listarBackups8Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarFicherosTaxonomia">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarFicherosTaxonomia9Request" 
                        name="listarFicherosTaxonomia9Request"/>
            <wsdl:output message="impl:listarFicherosTaxonomia9Response" 
                         name="listarFicherosTaxonomia9Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarFicherosTaxonomias">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarFicherosTaxonomias10Request" 
                        name="listarFicherosTaxonomias10Request"/>
            <wsdl:output message="impl:listarFicherosTaxonomias10Response" 
                         name="listarFicherosTaxonomias10Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarFicherosTesauro">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarFicherosTesauro11Request" 
                        name="listarFicherosTesauro11Request"/>
            <wsdl:output message="impl:listarFicherosTesauro11Response" 
                         name="listarFicherosTesauro11Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarFicherosTesauros">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarFicherosTesauros12Request" 
                        name="listarFicherosTesauros12Request"/>
            <wsdl:output message="impl:listarFicherosTesauros12Response" 
                         name="listarFicherosTesauros12Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarTesauros">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarTesauros13Request" 
                        name="listarTesauros13Request"/>
            <wsdl:output message="impl:listarTesauros13Response" 
                         name="listarTesauros13Response"/>
        </wsdl:operation>
        <wsdl:operation name="obtenerIdsConVocabIdentifier">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:obtenerIdsConVocabIdentifier14Request" 
                        name="obtenerIdsConVocabIdentifier14Request"/>
            <wsdl:output message="impl:obtenerIdsConVocabIdentifier14Response" 
                         name="obtenerIdsConVocabIdentifier14Response"/>
        </wsdl:operation>
        <wsdl:operation name="recargarTaxonomiasTesauros">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:recargarTaxonomiasTesauros15Request" 
                        name="recargarTaxonomiasTesauros15Request"/>
            <wsdl:output message="impl:recargarTaxonomiasTesauros15Response" 
                         name="recargarTaxonomiasTesauros15Response"/>
        </wsdl:operation>
        <wsdl:operation name="subirFicherosVdex">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:subirFicherosVdex16Request" 
                        name="subirFicherosVdex16Request"/>
            <wsdl:output message="impl:subirFicherosVdex16Response" 
                         name="subirFicherosVdex16Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvEstructurasEducativasServiceSoapBinding" type="impl:SrvEstructurasEducativasService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="actualizarFicherosVdex">
            <wsdlsoap:operation soapAction="actualizarFicherosVdex" style="document"/>
            <wsdl:input name="actualizarFicherosVdex1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="actualizarFicherosVdex1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="actualizarVigente">
            <wsdlsoap:operation soapAction="actualizarVigente" style="document"/>
            <wsdl:input name="actualizarVigente2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="actualizarVigente2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="chequearIdiomaArbolCurricular">
            <wsdlsoap:operation soapAction="chequearIdiomaArbolCurricular" style="document"/>
            <wsdl:input name="chequearIdiomaArbolCurricular3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="chequearIdiomaArbolCurricular3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="chequearIdiomaTesauro">
            <wsdlsoap:operation soapAction="chequearIdiomaTesauro" style="document"/>
            <wsdl:input name="chequearIdiomaTesauro4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="chequearIdiomaTesauro4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="eliminarFicherosVdex">
            <wsdlsoap:operation soapAction="eliminarFicherosVdex" style="document"/>
            <wsdl:input name="eliminarFicherosVdex5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarFicherosVdex5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="exportarVdex">
            <wsdlsoap:operation soapAction="exportarVdex" style="document"/>
            <wsdl:input name="exportarVdex6Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="exportarVdex6Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarArbolCurricular">
            <wsdlsoap:operation soapAction="listarArbolCurricular" style="document"/>
            <wsdl:input name="listarArbolCurricular7Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarArbolCurricular7Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarBackups">
            <wsdlsoap:operation soapAction="listarBackups" style="document"/>
            <wsdl:input name="listarBackups8Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarBackups8Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarFicherosTaxonomia">
            <wsdlsoap:operation soapAction="listarFicherosTaxonomia" style="document"/>
            <wsdl:input name="listarFicherosTaxonomia9Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarFicherosTaxonomia9Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarFicherosTaxonomias">
            <wsdlsoap:operation soapAction="listarFicherosTaxonomias" style="document"/>
            <wsdl:input name="listarFicherosTaxonomias10Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarFicherosTaxonomias10Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarFicherosTesauro">
            <wsdlsoap:operation soapAction="listarFicherosTesauro" style="document"/>
            <wsdl:input name="listarFicherosTesauro11Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarFicherosTesauro11Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarFicherosTesauros">
            <wsdlsoap:operation soapAction="listarFicherosTesauros" style="document"/>
            <wsdl:input name="listarFicherosTesauros12Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarFicherosTesauros12Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarTesauros">
            <wsdlsoap:operation soapAction="listarTesauros" style="document"/>
            <wsdl:input name="listarTesauros13Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarTesauros13Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="obtenerIdsConVocabIdentifier">
            <wsdlsoap:operation soapAction="obtenerIdsConVocabIdentifier" style="document"/>
            <wsdl:input name="obtenerIdsConVocabIdentifier14Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtenerIdsConVocabIdentifier14Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="recargarTaxonomiasTesauros">
            <wsdlsoap:operation soapAction="recargarTaxonomiasTesauros" style="document"/>
            <wsdl:input name="recargarTaxonomiasTesauros15Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="recargarTaxonomiasTesauros15Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="subirFicherosVdex">
            <wsdlsoap:operation soapAction="subirFicherosVdex" style="document"/>
            <wsdl:input name="subirFicherosVdex16Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="subirFicherosVdex16Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvEstructurasEducativasServiceService">
        <wsdl:documentation> 
            Servicio para la administracion de distintas Estructuras
            Educativas. Permite administrar ficheros xml que describen
            diferentes estructuras educativas como:
            -Tesauros
            -Taxonomias
            -Arbol Curricular
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvEstructurasEducativasServiceSoapBinding" name="SrvEstructurasEducativasService">
            <wsdlsoap:address location="http://localhost:8080/fuentestaxonomicas-1/services/SrvEstructurasEducativasService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>