portaladministracion/mda/src/wsdl/SrvGestorConfiguracionService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvGestorConfiguracionService" 
    targetNamespace="http://servicios.negocio.configuracionPlataforma.pode.es"
    xmlns:impl="http://servicios.negocio.configuracionPlataforma.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicios.negocio.configuracionPlataforma.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="modificarPropiedades">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="propiedades" type="impl:ArrayOfPropiedadVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarPropiedadesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarPropiedadesReturn" type="impl:ResultadoOperacionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarPropiedadesLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="propiedades" type="impl:ArrayOfPropiedadVO" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarPropiedadesLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarPropiedadesLocalReturn" type="impl:ResultadoOperacionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarValorPropiedad">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="valor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="instanciaJboss" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarValorPropiedadResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarValorPropiedadReturn" type="impl:ResultadoOperacionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="modificarValorPropiedadLocal">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="nombrePropiedad" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="valor" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="modificarValorPropiedadLocalResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="modificarValorPropiedadLocalReturn" type="impl:ResultadoOperacionVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="PropiedadVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="valor" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ejemplo" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="descripcion" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="categoria" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tipologia" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="modificable" nillable="false" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="instanciaJboss" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="requiereReinicioJboss" nillable="false" type="xsd:boolean">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ficherosAfectados" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="subcategoria" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfPropiedadVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:PropiedadVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ResultadoOperacionVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="codigoResultado" nillable="false" type="xsd:int">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="mensaje" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="modificarPropiedades1Request">
        <wsdl:part element="impl:modificarPropiedades" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarPropiedades1Response">
        <wsdl:part element="impl:modificarPropiedadesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarPropiedadesLocal2Request">
        <wsdl:part element="impl:modificarPropiedadesLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarPropiedadesLocal2Response">
        <wsdl:part element="impl:modificarPropiedadesLocalResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarValorPropiedad3Request">
        <wsdl:part element="impl:modificarValorPropiedad" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarValorPropiedad3Response">
        <wsdl:part element="impl:modificarValorPropiedadResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarValorPropiedadLocal4Request">
        <wsdl:part element="impl:modificarValorPropiedadLocal" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="modificarValorPropiedadLocal4Response">
        <wsdl:part element="impl:modificarValorPropiedadLocalResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvGestorConfiguracionService">
        <wsdl:operation name="modificarPropiedades">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarPropiedades1Request" 
                        name="modificarPropiedades1Request"/>
            <wsdl:output message="impl:modificarPropiedades1Response" 
                         name="modificarPropiedades1Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarPropiedadesLocal">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarPropiedadesLocal2Request" 
                        name="modificarPropiedadesLocal2Request"/>
            <wsdl:output message="impl:modificarPropiedadesLocal2Response" 
                         name="modificarPropiedadesLocal2Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarValorPropiedad">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarValorPropiedad3Request" 
                        name="modificarValorPropiedad3Request"/>
            <wsdl:output message="impl:modificarValorPropiedad3Response" 
                         name="modificarValorPropiedad3Response"/>
        </wsdl:operation>
        <wsdl:operation name="modificarValorPropiedadLocal">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:modificarValorPropiedadLocal4Request" 
                        name="modificarValorPropiedadLocal4Request"/>
            <wsdl:output message="impl:modificarValorPropiedadLocal4Response" 
                         name="modificarValorPropiedadLocal4Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvGestorConfiguracionServiceSoapBinding" type="impl:SrvGestorConfiguracionService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="modificarPropiedades">
            <wsdlsoap:operation soapAction="modificarPropiedades" style="document"/>
            <wsdl:input name="modificarPropiedades1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarPropiedades1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarPropiedadesLocal">
            <wsdlsoap:operation soapAction="modificarPropiedadesLocal" style="document"/>
            <wsdl:input name="modificarPropiedadesLocal2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarPropiedadesLocal2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarValorPropiedad">
            <wsdlsoap:operation soapAction="modificarValorPropiedad" style="document"/>
            <wsdl:input name="modificarValorPropiedad3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarValorPropiedad3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="modificarValorPropiedadLocal">
            <wsdlsoap:operation soapAction="modificarValorPropiedadLocal" style="document"/>
            <wsdl:input name="modificarValorPropiedadLocal4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modificarValorPropiedadLocal4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvGestorConfiguracionServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvGestorConfiguracionServiceSoapBinding" name="SrvGestorConfiguracionService">
            <wsdlsoap:address location="http://localhost:8080/configuracionPlataforma-1.0/services/SrvGestorConfiguracionService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>