visualizadorcontenidos/mda/src/wsdl/SrvInformeService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Generated by andromda-webservice cartridge (wrapped-wsdl.vsl) do not edit! -->
<wsdl:definitions 
    name="SrvInformeService" 
    targetNamespace="http://servicio.informes.negocio.contenidos.pode.es"
    xmlns:impl="http://servicio.informes.negocio.contenidos.pode.es"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:apachesoap="http://xml.apache.org/xml-soap" >
    
    <!-- WSDL Types -->
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" 
                    targetNamespace="http://servicio.informes.negocio.contenidos.pode.es" 
                    xmlns="http://www.w3.org/2001/XMLSchema"> 
            <xsd:element name="eliminarInforme">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="ficheros" type="impl:ArrayOfxsd_string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="eliminarInformeResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="eliminarInformeReturn" type="impl:ValidaBajaInformeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarInformes">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarInformesResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarInformesReturn" type="impl:ArrayOfInformeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="listarInformesMas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                 <xsd:complexType/>
            </xsd:element>
            <xsd:element name="listarInformesMasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listarInformesMasReturn" type="impl:ArrayOfInformeVO"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="recuperarInforme">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="fichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="recuperarInformeResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recuperarInformeReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>
            <xsd:element name="recuperarInformeMas">      
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation> 
                <xsd:complexType>  
                    <xsd:sequence>
                        <xsd:element name="fichero" type="xsd:string" nillable="false">
                            <xsd:annotation>     
                                <xsd:documentation> 
                                    
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                 </xsd:complexType>
            </xsd:element>
            <xsd:element name="recuperarInformeMasResponse">       
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="recuperarInformeMasReturn" type="apachesoap:DataHandler"/>
                    </xsd:sequence>
                </xsd:complexType>               
            </xsd:element>


            <xsd:complexType name="InformeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="nombre" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fecha" nillable="false" type="xsd:dateTime">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfInformeVO">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="impl:InformeVO" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ValidaBajaInformeVO">
                <xsd:annotation>     
                    <xsd:documentation> 
                        
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="descripcionBaja" nillable="false" type="xsd:string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InformesBorrados" nillable="false" type="impl:ArrayOfxsd_string">
                        <xsd:annotation>     
                            <xsd:documentation> 
                                
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfxsd_string">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" form="qualified" type="xsd:string" /> 
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
   
    <!-- Messages -->
    <wsdl:message name="eliminarInforme1Request">
        <wsdl:part element="impl:eliminarInforme" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="eliminarInforme1Response">
        <wsdl:part element="impl:eliminarInformeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformes2Request">
        <wsdl:part element="impl:listarInformes" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformes2Response">
        <wsdl:part element="impl:listarInformesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformesMas3Request">
        <wsdl:part element="impl:listarInformesMas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listarInformesMas3Response">
        <wsdl:part element="impl:listarInformesMasResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInforme4Request">
        <wsdl:part element="impl:recuperarInforme" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInforme4Response">
        <wsdl:part element="impl:recuperarInformeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInformeMas5Request">
        <wsdl:part element="impl:recuperarInformeMas" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="recuperarInformeMas5Response">
        <wsdl:part element="impl:recuperarInformeMasResponse" name="parameters"/>
    </wsdl:message>

    <!-- Port Type -->
    <wsdl:portType name="SrvInformeService">
        <wsdl:operation name="eliminarInforme">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:eliminarInforme1Request" 
                        name="eliminarInforme1Request"/>
            <wsdl:output message="impl:eliminarInforme1Response" 
                         name="eliminarInforme1Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarInformes">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarInformes2Request" 
                        name="listarInformes2Request"/>
            <wsdl:output message="impl:listarInformes2Response" 
                         name="listarInformes2Response"/>
        </wsdl:operation>
        <wsdl:operation name="listarInformesMas">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:listarInformesMas3Request" 
                        name="listarInformesMas3Request"/>
            <wsdl:output message="impl:listarInformesMas3Response" 
                         name="listarInformesMas3Response"/>
        </wsdl:operation>
        <wsdl:operation name="recuperarInforme">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:recuperarInforme4Request" 
                        name="recuperarInforme4Request"/>
            <wsdl:output message="impl:recuperarInforme4Response" 
                         name="recuperarInforme4Response"/>
        </wsdl:operation>
        <wsdl:operation name="recuperarInformeMas">
                
            <wsdl:documentation> 
                
            </wsdl:documentation>
            <wsdl:input message="impl:recuperarInformeMas5Request" 
                        name="recuperarInformeMas5Request"/>
            <wsdl:output message="impl:recuperarInformeMas5Response" 
                         name="recuperarInformeMas5Response"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- WSDL Binding -->
    <wsdl:binding name="SrvInformeServiceSoapBinding" type="impl:SrvInformeService">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="eliminarInforme">
            <wsdlsoap:operation soapAction="eliminarInforme" style="document"/>
            <wsdl:input name="eliminarInforme1Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="eliminarInforme1Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarInformes">
            <wsdlsoap:operation soapAction="listarInformes" style="document"/>
            <wsdl:input name="listarInformes2Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarInformes2Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="listarInformesMas">
            <wsdlsoap:operation soapAction="listarInformesMas" style="document"/>
            <wsdl:input name="listarInformesMas3Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listarInformesMas3Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="recuperarInforme">
            <wsdlsoap:operation soapAction="recuperarInforme" style="document"/>
            <wsdl:input name="recuperarInforme4Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="recuperarInforme4Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
        <wsdl:operation name="recuperarInformeMas">
            <wsdlsoap:operation soapAction="recuperarInformeMas" style="document"/>
            <wsdl:input name="recuperarInformeMas5Request">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="recuperarInformeMas5Response">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
       </wsdl:operation>         
    </wsdl:binding>
    
    <!-- Service Definition -->
    <wsdl:service name="SrvInformeServiceService">
        <wsdl:documentation> 
            
        </wsdl:documentation>
        <wsdl:port binding="impl:SrvInformeServiceSoapBinding" name="SrvInformeService">
            <wsdlsoap:address location="http://localhost:8080/contenidosportal-F1/services/SrvInformeService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>